<span class="country-fullscreen-select">
    <span ng-if="countrySelectCtrl.selectStyle=='normal' || countrySelectCtrl.selectStyle=='no-input' || countrySelectCtrl.selectStyle=='show-2field'">

        <label class = "item item-input item-select select-center item-flag" ng-click="countrySelectCtrl.showCountrySelection();">
            <div class = "input-label">
                <span class="flag-icon flag-icon-{{countrySelectCtrl.countrySelected.iso | lowercase}}"  ng-class="{'visible-hidden':!countrySelectCtrl.countrySelected.iso}"></span>
            </div>

            <div class="country-select-label" ng-if="!countrySelectCtrl.countrySelected ">
                {{'Select_Country_Simple' | translate}}
            </div>

            <div ng-if="countrySelectCtrl.countrySelected != null">
            <span ng-if="countrySelectCtrl.langCode == 'en'">{{countrySelectCtrl.countrySelected.country}}</span>
            <span ng-if="countrySelectCtrl.langCode == 'es'">{{countrySelectCtrl.countrySelected.country_es}}</span>
            </div>
        </label>
        <span class = "item item-input item-button-left country-code-wrap" ng-if="countrySelectCtrl.selectStyle == 'normal'" ng-show="countrySelectCtrl.countrySelected.country_code">
            <div class = "input-label country-code-label item-float-left input-select-a input-select-a-normal" >
                <span>+{{countrySelectCtrl.countrySelected.country_code}}</span>
            </div>
            <input autocomplete='off' autocorrect='off' autocapitalize='off' type='tel'
                   class="input select-phonenumber-label input-select-c" focus-me="countrySelectCtrl.inputFocus"
                   ng-model="countrySelectCtrl.phoneNumber" placeholder="{{'contact_number' | translate}}" only-digits>

            <a class="input-guide input-guide-normal" ng-click="countrySelectCtrl.howToPopup()">
                <span class="question-guide">?</span>
            </a>
        </span>
        <span class = "item item-input item-button-left country-code-wrap" ng-if="countrySelectCtrl.selectStyle == 'show-2field'">
            <div class = "input-label country-code-label input-select-a input-select-a-normal">
                <span>+{{countrySelectCtrl.countrySelected.country_code}}</span>
            </div>
            <input autocomplete='off' autocorrect='off' autocapitalize='off' type='tel'
                   class="input select-phonenumber-label input-select-c" focus-me="countrySelectCtrl.inputFocus"
                   ng-model="countrySelectCtrl.phoneNumber" placeholder="{{'contact_number' | translate}}" only-digits>
            <a class="input-guide input-guide-normal" ng-click="countrySelectCtrl.howToPopup()">
                <span class="question-guide">?</span>
            </a>
        </span>

    </span>
    <span ng-if="countrySelectCtrl.selectStyle=='only-input'">
        <p>+{{countrySelectCtrl.countrySelected.country_code}}</p><input class="phone-number-enter" type="tel" placeholder="{{ 'Phone_Number' | translate}}" ng-model="countrySelectCtrl.phoneNumber" ng-click="countrySelectCtrl.showCountrySelection();">
    </span>
    <span ng-if="countrySelectCtrl.selectStyle=='select-input-inline'" class="select-input-inline">
        <span ng-if="countrySelectCtrl.countrySelected == null" class = "item item-select" ng-click="countrySelectCtrl.showCountrySelection();">
            <div class="country-select-label inline-input-select-country">
                {{'Select_Destination_Country_Simple' | translate}}
            </div>
        </span>
        <span class = "item item-button-left country-code-wrap normalize-inline" ng-if="countrySelectCtrl.countrySelected != null">
            <div class = "input-label country-code-label item-float-left input-select-a" ng-click="countrySelectCtrl.showCountrySelection();">
                <span class="flag-icon flag-icon-{{countrySelectCtrl.countrySelected.iso | lowercase}}"  ng-class="{'visible-hidden':!countrySelectCtrl.countrySelected.iso}"></span>
                <span>+{{countrySelectCtrl.countrySelected.country_code}}</span>
            </div>
            <input autocomplete='off' autocorrect='off' autocapitalize='off' type='tel'
                   class="input select-phonenumber-label input-select-c" focus-me="countrySelectCtrl.inputFocus"
                   ng-model="countrySelectCtrl.phoneNumber" placeholder="{{'contact_number' | translate}}" only-digits>
            <a class="input-guide input-guide-normal" ng-click="countrySelectCtrl.howToPopup()">
                <span class="question-guide">?</span>
            </a>

        </span>

    </span>

</span>