<div class="call-options-container">

  <div class="call-option-chooser">
    <div class="pull-right close-btn">
      <button class="button button-clear ion-close button-assertive" ng-click="dialMethodCtrl.hideChoices();"></button>
    </div>
    <div class="upper-cont">
      <div class="row info">
        <div class="col">
          <i class="icon ion-ios-telephone-outline" style="margin-right: 6px;"></i>
          {{dialMethodCtrl.dialNumber}}
        </div>
        <div class="col">
          <span class="flag-icon flag-icon-{{dialMethodCtrl.selectedCountry.iso | lowercase}}"style="margin-right: 6px;"  ng-class="{'visible-hidden':!dialMethodCtrl.selectedCountry.iso}"></span>
          <span class="country-name">{{dialMethodCtrl.selectedCountry.country}}</span>
        </div>
      </div>
      <div class="row choices">
        <div class="col text-center wifi" ng-click="dialMethodCtrl.localCall();dialMethodCtrl.hideChoices();">
          <a class="icon-container" >
            <i class="icon ion-ios-telephone-outline energized"></i>
          </a>
          <div class="primary">{{'Local Number' | translate}}</div>
          <div class="secondary">{{'use_local_minutes' | translate}}</div>
        </div>
        <div class="col text-center local" ng-click="dialMethodCtrl.wifiCall();dialMethodCtrl.hideChoices();">
          <div class="icon-container" >
            <i class="icon ion-wifi positive"></i>
          </div>
          <div class="primary">{{'3g_wifi' | translate}}</div>
          <div class="secondary">{{'use_your_internet' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="help-cont">
      <button class="button btn-help button-icon-left button-block button-positive ion-ios-help" ng-click="dialMethodCtrl.showHelpButtonContent();">{{'help_me_choose' | translate}}</button>
      <!-- <button class="button btn-help button-icon-left button-block button-positive ion-ios-help">Help</button> -->

    </div>
  </div>
</div>