<ion-view id="callRatesPage" class="call-rates-page">
  <ion-content class="has-tabs-top padding">
    <div class="container">
      <div class="call-rates-title text-center">{{'Call_rates_title' | translate}}</div>
      <form class="hablax-form">
        <div class="row">
          <div class="col">
            <div class="list">
              <div class="item currencyTitleItem margin-top-30 input-label" ng-if="ratesCtrl.selectedCountry==null">
                {{'Select_Country' |  translate}}
              </div>
              <!--<label class="item item-input item-select">-->

                <!--<div class="input-label" ng-if="ratesCtrl.selectedCountry!=null">-->
                    <!--<span class="flag-icon flag-icon-{{ratesCtrl.selectedCountry.iso | lowercase}}" ng-class="{'visible-hidden':!ratesCtrl.selectedCountry.iso}"></span>-->
                <!--</div>-->
                <!--<select ng-if="ratesCtrl.langCode == 'en'" class="countrySelect direction-ltr" ng-model="ratesCtrl.selectedCountry" ng-options="country.country for country in ratesCtrl.smsCountryList" ng-change="ratesCtrl.onCountryChange()" >-->
                  <!--<option selected="" value="">{{'Select' | translate}}</option>-->
                <!--</select>-->
                <!--<select ng-if="ratesCtrl.langCode == 'es'" class="countrySelect direction-ltr" ng-model="ratesCtrl.selectedCountry" ng-options="country.country_es for country in ratesCtrl.smsCountryList" ng-change="ratesCtrl.onCountryChange()" >-->
                  <!--<option selected="" value="">{{'Select' | translate}}</option>-->
                <!--</select>-->
              <!--</label>-->
              <country-fullscreen-select
                      select-type="call-rate"
                      country-selected="ratesCtrl.selectedCallCountry"
                      lang-code="ratesCtrl.langCode"
                      select-style="no-input"
                      on-country-selected="ratesCtrl.onCallRateChange();"></country-fullscreen-select>
          </div>
          </div>
        </div>
      <div class="row">
        <div class="col col-50">
          <div class="list">
            <label class="item currencyTitleItem">
                  <div class="currencyTitle">{{'Currency' | translate}}</div>
            </label>
            <label class="item item-input item-select itemCurrency">
              <!-- <span class="input-label">{{ratesCtrl.selectedSMSCurrency}}</span> -->

              <select class="currencySelect" ng-options="color for color in ratesCtrl.currencies" ng-model="ratesCtrl.selectedSMSCurrency" ng-change="ratesCtrl.convertUSDRates()">

              </select>
            </label>
          </div>
        </div>
        <div class="col col-50">
          <div class="list">
            <label class="item item-input item-stacked-label margin-top-20">
              <span class="input-label inputPrice">{{'Recharge_Price' | translate}}</span>
              <div class="input-border-green" ng-if="ratesCtrl.selectedCallCountry==null" >$ 0</div>
              <div class="input-border-green" ng-if="ratesCtrl.selectedCallCountry!=null">$ {{ratesCtrl.selectedCallCountry.rate * ratesCtrl.convertRate | limitTo:6}}</div>
            </label>
          </div>
        </div>
      </div>

        <div class="buttons">
          <!-- for ionic's label fix -->
          <button class="button button-energized button-full margin-top-20 hablax-btn color-white text-uppercase" ui-sref="add-funds" ui-sref-active="active">
        {{'ADD_FUNDS_TO_CALL' | translate}}
          </button>
          <!-- <button class="button button-block button-positive icon-right ion-card ">
            SAVE CARDS
          </button> -->
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
