<ion-view id="mobileRechargePage" class="recharge-rates-page recharge-main-content">
  <ion-content class="has-tabs-top padding">
    <div class="container">
      <div class="call-rates-title text-center">{{'Mobile_recharge_title' | translate}}</div>
      <form class="hablax-form">
        <div class="row">
            <div class="col">
            <div class="list">
              <div class="item currencyTitleItem margin-top-30 input-label">
                {{'Select_Country' | translate}}
              </div>
              <!--<label class="item item-input item-select">-->

                <!--<div class="input-label" ng-if="ratesCtrl.selectedCountry!=null">-->
                    <!--<span class="flag-icon flag-icon-{{ratesCtrl.selectedCountry.iso | lowercase}}" ng-class="{'visible-hidden':!ratesCtrl.selectedCountry.iso}"></span>-->
                <!--</div>-->
                <!--<select ng-if="ratesCtrl.langCode == 'en'" class="countrySelect" ng-model="ratesCtrl.selectedCountry" ng-options="country.country for country in ratesCtrl.smsCountryList" ng-change="ratesCtrl.onCountrySelect()" >-->
                  <!--<option selected="" value="">{{'Select' | translate}}</option>-->
                <!--</select>-->
                <!--<select ng-if="ratesCtrl.langCode == 'es'" class="countrySelect" ng-model="ratesCtrl.selectedCountry" ng-options="country.country_es for country in ratesCtrl.smsCountryList" ng-change="ratesCtrl.onCountrySelect()" >-->
                  <!--<option selected="" value="">{{'Select' | translate}}</option>-->
                <!--</select>-->
              <!--</label>-->
              <country-fullscreen-select
                      select-type="mobile-recharge"
                      country-list="ratesCtrl.smsCountryList"
                      country-selected="ratesCtrl.selectedCountry"
                      lang-code="ratesCtrl.langCode"
                      select-style="no-input"
                      on-country-selected="ratesCtrl.onCountrySelect(countrySelected);"></country-fullscreen-select>

              <div class="row" ng-if="ratesCtrl.selectedCountry">
                <div class="col">
                  <div class="item currencyTitleItem margin-top-10 input-label">
                    {{'Select_Service' | translate}}
                  </div>
                </div>
              </div>

              <div class="row" ng-if="ratesCtrl.selectedCountry">
                <button class="col service-item text-center fa {{service.icon}} button button-icon" ng-class="{'button-positive button-clear': ratesCtrl.selectedService == service}"
                        ng-repeat="service in ratesCtrl.countryServices.services" ng-click="ratesCtrl.selectService(service)">
                  <div>{{service.txt_es}}</div>
                </button>
              </div>

              <div class="step3" ng-show="ratesCtrl.selectedService && ratesCtrl.countryServices.validate_in=='api'">
                <div class="row">
                  <div class="col">
                    <div class="item currencyTitleItem margin-top-10 input-label">
                      {{'Enter_Recharge_Details' | translate}}
                    </div>
                  </div>
                </div>
                <div class="item item-input item-icon-left item-flag-input" ng-if="ratesCtrl.selectedService.service=='mobile'">
                  <div class="flag-icon-cont">
                    <i class="flag-icon flag-icon-{{ratesCtrl.selectedCountry.iso | lowercase}} icon"  ng-class="{'visible-hidden':!ratesCtrl.selectedCountry.iso}"></i>
                    <span class="country_code"> +{{ratesCtrl.selectedCountry.country_code}}</span>
                  </div>
                  <input autocomplete="off" autocorrect="off" autocapitalize="off" type="tel" ng-model="ratesCtrl.rechargeNumber" placeholder="{{'type_phone_number_here' | translate}}">
                  <!--<button class="button button-icon icon ion-ios-book-outline" ng-click="ratesCtrl.selectContactAsDestination('phone');"></button>-->
                </div>

                <div class="row" ng-if="ratesCtrl.selectedService.service=='nauta'">
                  <div class="item item-input col item-icon-left">
                    <input autocomplete="off" autocorrect="off" autocapitalize="off" type="email" ng-model="ratesCtrl.rechargeEmail" placeholder="{{'type_email_here' | translate}}">
                    <button class="button button-icon icon ion-ios-book-outline" ng-click="ratesCtrl.selectContactAsDestination('email');"></button>
                  </div>
                </div>
                <div class="row">
                  <!-- <button class="button button-block col button-positive" ng-click="ratesCtrl.backToStep(2)">Back</button> -->
                  <button class="button button-block col button-energized" ng-click="ratesCtrl.validateNumber(ratesCtrl.rechargeNumber)">{{'Validate_Number' | translate}}</button>
                </div>
              </div>

              <div class="row" ng-if="ratesCtrl.rechargeValidation">
                <div class="col">
                  <div class="item currencyTitleItem input-label margin-top-10">
                    {{'Select_Amount' | translate}}
                  </div>
                </div>
              </div>
              <div class="row" ng-if="ratesCtrl.rechargeValidation">
                <label class="item item-select col margin-top-10 item-no-label">
                  <!-- <span class="input-label">Select amount</span> -->
                  <select ng-model="ratesCtrl.selectedTopup" ng-options="item as item.label for item in ratesCtrl.rechargeValidation.topups track by item.product" ng-change="ratesCtrl.onTopUpSelect()">
                    <option value="" selected="">{{'Select' | translate}}</option>
                  </select>
                </label>
              </div>


              <!--<label class="item currencyTitleItem">-->
                    <!--<div class="currencyTitle">{{'Quantity' | translate}}</div>-->
              <!--</label>-->
              <!--<label class="item item-input item-select ">-->
                <!--&lt;!&ndash; <span class="input-label">CURRENCY</span> &ndash;&gt;-->
                <!--&lt;!&ndash; <div class="input-label">-->
                 <!--{{ratesCtrl.selectedRechargeQuantity}}-->
                <!--</div> &ndash;&gt;-->
                <!--<select class="countrySelect" ng-model="ratesCtrl.selectedRechargeQuantity" ng-options="quantity for quantity in ratesCtrl.rechargeQuantity" ng-change="ratesCtrl.onQuantityChange()" >-->
                <!--</select>-->
              <!--</label>-->
              <div ng-class="{'hidden': !ratesCtrl.selectedTopup.price}">
                <label class="item currencyTitleItem">
                  <div class="currencyTitle">{{'Currency' | translate}}</div>
                </label>
                <label class="item item-input item-select itemCurrency">
                  <!-- <span class="input-label">{{ratesCtrl.selectedSMSCurrency}}</span> -->

                  <select ng-disabled="!ratesCtrl.selectedTopup" class="currencySelect" ng-options="color for color in ratesCtrl.currencies" ng-model="ratesCtrl.selectedSMSCurrency" ng-change="ratesCtrl.convertUSDRates()">

                  </select>

                </label>
                <label class="item item-input item-stacked-label margin-top-20">
                  <span class="input-label inputPrice">{{'Recharge_Price' | translate }}</span>
                  <div class="input-border-green" >{{ratesCtrl.selectedTopup.price | rates:ratesCtrl.selectedSMSCurrency:ratesCtrl.rates | number:2}}</div>
                </label>
              </div>
            </div>

          </div>
      </div>
        <div class="buttons">
          <!-- for ionic's label fix -->
          <button class="button button-energized button-full margin-top-20 hablax-btn color-white text-uppercase" ui-sref="tab.recharge" ui-sref-active="active">
          {{'Send_Recharging' | translate}}
          </button>
          <!-- <button class="button button-block button-positive icon-right ion-card ">
            SAVE CARDS
          </button> -->
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
