  <ion-popover-view style="background-color: #019afa;" >
   <!--  <ion-header-bar>
      <h1 class="title">Nauta / Wi-Fi  <i class="icon ion-wifi"></i></h1>
    </ion-header-bar> -->
    <ion-content style="background-color: #019afa;">
    <div style="position: absolute; top: 3px; right: 7px; font-size:20px;"" ng-Click="popover.hide()"><i style="color:white;" class="icon ion-ios-close-outline"></i></div>
    <div style="width: 100%; text-align: center;"><img src="img/hb_logo_short.png" alt="" style="width:80px" ></div>
    
       <h3 style="color:white; text-align: center;">Nauta / Wi-Fi  <i class="icon ion-wifi"></i></h3>
      <br>
       <div class="row no-padding" >
    <div class="col">
      <label for="savedCard" class="input-label full-width" style="width: 100%; color:white;">Cantidad</label>
      <div class="item item-select bordered-select">
        <select name="mySelect" id="mySelect"
      ng-options="option.local_amount+' CUC' for option in ratesCtrl.nautas_recargas track by option.id"
      ng-model="seleccionado"
     >
        
      </select>
      </div>
    </div>
  </div>

<div class="list">



   
  <p style="text-align: center;
font-size: 30px;
color: white;
padding-top: 25px;
">
$ {{seleccionado.price}} 
    
  </p>
</div>
    </ion-content>
  </ion-popover-view>