<ion-view  id="ratesPage_redesign" class="hl-dark-bg">
  <ion-nav-buttons side="left">
    <button class="button button-positive button-icon ion-chevron-left" ng-click="ratesCtrl.goBack()">
      {{'Back' | translate}}
    </button>

  </ion-nav-buttons>
<!-- 
  <ion-content class="background-frame">
    <img class="world-background" src="img/rates/world.png" width="100%" height="100%">
  </ion-content>
 -->
<div ng-if="ratesCtrl.step == 1">
    <ion-content class="has-header has-tabs-bottom "  style="background-image:url('img/rates/world.png'); background-size: cover; background-position: center;">

    <div class="row">
      <div class="col text-center">
      <h3 style="color:white; margin-top: 30px;">
      {{'check_our_price' | translate}} <br><b>{{'calls_recharges_sms' | translate}}</b>
      <hr style="border: 1px solid white;">
      </h3>

        <div class="group_control" style="width: 100%; padding:10px; ">
         <label style="color:white; text-align: left;" class="third-title">{{'helper' | translate}}</label>
          <input  class="input-search-phone" style="text-align: center;width: 100%;" placeholder="{{ 'write_number' | translate}}" type='tel' ng-model="ratesCtrl.searchPhoneNumber" ng-intl-tel-input >
          <button class="button button-block button-energized item-icon-left button-search-phone ios-search-outline" ng-click="ratesCtrl.searchRates()">{{'search' | translate}}</button>
         
        </div>
        <h4 style="color:white; margin-top:30px;">Chequea nuestro precios de<br>
       </h4>
       <h2> <a style="color:white; text-decoration: none;" ng-click="ratesCtrl.nautas($event)">Nauta / Wi-Fi  <i class="icon ion-wifi"></i>
</a></h2>
      </div>
    </div>
  </ion-content>
</div>

<div ng-if="ratesCtrl.step == 2">
    <ion-content class="has-header has-tabs-bottom rate-content"  hl-opens-side-bar>
    <div class="row" style="margin-bottom: 15px;">
      <div class="col text-center">
            <label class="price-title" style="font-size: 20px; " ><b>{{'price_for' | translate}} {{ratesCtrl.rates.country}}</b></label>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
      

    
        <div class="item-rate">
          <img src="img/rates/call.png" width="22" height="23"><br/>
          <span><b>{{'calls' | translate }}</b></span><br/>
          <span>$ {{ratesCtrl.rates.call_rate}} /MIN</span><br>
           <button class="button button-block button-energized"  ng-click="ratesCtrl.nuevabusqueda()">{{'new_search' | translate}}</button>
        </div>
        <br/>
        <div class="item-rate">
          <img src="img/rates/sms.png" width="22" height="23"><br/>
          <span><b>{{'Sms' | translate}}</b></span><br/>
          <span>$ {{ratesCtrl.rates.sms_rate}} /MIN</span>
        </div>
        <br/>
        <div class="item-rate">
          <img src="img/rates/recharge.png" width="22" height="23"><br/>
          <span ng-if="!ratesCtrl.recarga"> <b>{{'recharge_rate_item1' | translate}} {{ratesCtrl.rates.country}} {{'recharge_rate_item2' | translate}}</b></span>
 <span ng-if="ratesCtrl.recarga">
 <b>{{'desde' | translate}}</b><br> <br> 
 <div class="item item-select bordered-select">
        <select name="mySelect" id="mySelect" >
        <option value="" ng-repeat="recarga in ratesCtrl.rates.recharges.topups">$ {{recarga.price}}</option>
        
      </select>
      </div>
 </span>
          <br/>
        </div>

      </div>
    </div>
  </ion-content>
</div>


  <!--<dial-method-select-->
          <!--ng-if="contactsCtrl.choices.show"-->
          <!--dial-number="contactsCtrl.dialNumber"-->
          <!--selected-country="contactsCtrl.selectedCountry"-->
          <!--on-hide-view="contactsCtrl.hideChoices()"-->
          <!--on-local-call="contactsCtrl.localCall()"-->
          <!--on-wifi-call="contactsCtrl.makeCall()"-->
          <!--on-wifi-call="contactsCtrl.makeCall()">-->
  <!--</dial-method-select>-->

</ion-view>
