<ion-view id="ratesPage">
  <!-- <ion-nav-bar class="hl-dark-bg hl-light-text hl-no-border" align-title="center">
    <ion-nav-title>
      hablax
    </ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button button-positive button-icon ion-chevron-left" ng-click="ratesCtrl.goBack()">
        {{'Back' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar> -->

  <ion-content class="no-header has-tabs-bottom" overflow-scroll="true">
    <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="rates.call-rates" ui-sref-active="active">
          <i class="icon ion-android-call"></i>
          {{'Call_Rates' | translate}}
        </a>
        <a class="tab-item" ui-sref="rates.mobile-recharge" ui-sref-active="active" >
        <i class="icon ion-android-phone-portrait"></i>
          {{'Mobile_Recharge' | translate}}
        </a>
        <a class="tab-item" ui-sref="rates.sms-rates" ui-sref-active="active" >
        <i class="icon ion-ios-email-outline"></i>
        {{'SMS_Rates' | translate}}
        </a>
      </div>
    </div>
    <ion-nav-view name="ratesView"></ion-nav-view>
    <!-- <ui-view name="ratesView"></ui-view> -->
  </ion-content>
</ion-view>
