<ion-view view-title="Signup" hide-nav-bar="true" id="signupPage">
  <ion-content class="no-header hl-dark-bg">
    <!-- <h4 class="hl-transparent-page-heading hl-light-text hl-text-center">Register</h4> -->
    <div class="header-container">
      <!-- <div class="hl-transparent-page-heading text-center hl-light-text hl-text-center">{{'Register' | translate}}</div> -->
      <img src="img/hb_logo_trans.png" class="hl-logo-img">
    </div>
    <div class="hl-form-center auth-form-container">

      <form name="hlSignup" ng-submit="signupCtrl.register()">
        <div class="list">
          <div class="hl-form-element item item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-ios-person-outline placeholder-icon"></i>
              <input class="contact-name-cap" autocomplete="off" autocorrect="off" autocapitalize="off" type="text" ng-model="signupCtrl.User.first_name" placeholder="{{'First_Name' | translate}}" required="">
            </label>
          </div>
          <div class="hl-form-element item item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-ios-person-outline placeholder-icon"></i>
              <input class="contact-name-cap" autocomplete="off" autocorrect="off" autocapitalize="off" type="text" ng-model="signupCtrl.User.last_name" placeholder="{{'Last_Name' | translate}}" required="">
            </label>
          </div>
          <div class="hl-form-element item item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-ios-email-outline placeholder-icon"></i>
              <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" ng-model="signupCtrl.User.email" placeholder="{{'Email' | translate}}" required="">
            </label>
          </div>
          <div class="hl-form-element item item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-ios-locked-outline placeholder-icon"></i>
              <input autocomplete="off" autocorrect="off" autocapitalize="off" type="password" ng-model="signupCtrl.User.password" placeholder="{{'Password' | translate}}" required="">
            </label>
          </div>
          <label class = "item item-input-inset item-input item-select select-center item-flag" style="height: 46px;margin-bottom: 10px;">
            <select name="currency" ng-model="signupCtrl.User.currency" required="" style="max-width: 100%;width: 100%;direction: ltr;margin-left: 0;">
              <option value="" selected="">{{'select_curr' | translate}}</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              <option value="CAD">CAD</option>
              <option value="BRL">BRL</option>
            </select>
          </label>
          <label class = "item item-input-inset item-input item-select select-center item-flag" style="height: 46px;margin-bottom: 10px;">
            <select name="howdidyoufind" ng-model="signupCtrl.User.referer" required="" style="max-width: 100%;width: 100%;direction: ltr;margin-left: 0;">
              <option value="" selected="">{{'how_find_hablax' | translate}}</option>
              <option value="Google">Google</option>
              <option value="Facebook">Facebook</option>
              <option value="Bing">Bing</option>
              <option value="Instagram">Instagram</option>
              <option value="AppStore">App Store</option>
              <option value="PlayStore">Play Store</option>
              <option value="Billboard">Billboard / Cartel</option>
              <option value="Mega TV">Mega TV</option>
              <option value="Radio">Radio</option>
              <option value="other">{{'other' | translate}}</option>
            </select>
          </label>
          <!--<div class="hl-form-element item item-input-inset">-->
            <!--<label class="item-input-wrapper">-->
              <!--<select name="currency" ng-model="signupCtrl.User.currency" required="">-->
                <!--<option value="" selected="">{{'select_currency' | translate}}</option>-->
                <!--<option value="USD">USD</option>-->
                <!--<option value="EUR">EUR</option>-->
                <!--<option value="CAD">CAD</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div>-->

          <!--<div class="hl-form-element item item-input-inset">-->
            <!--<label class="item-input-wrapper">-->
              <!--<select name="howdidyoufind" ng-model="signupCtrl.User.referer" required="">-->
                <!--<option value="" selected="">{{'how_find_hablax' | translate}}</option>-->
                <!--<option value="advertisement">{{'Advertisement' | translate}}</option>-->
                <!--<option value="friend">{{'Friends' | translate}}</option>-->
                <!--<option value="search">{{'Search_results' | translate}}</option>-->
              <!--</select>-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
        <h5 style="color:white;">{{'what_country_u_want' | translate}}</h5>
           <country-fullscreen-select
                country-selected="signupCtrl.selectedCountry"
                lang-code="signupCtrl.langCode"
                select-style="no-input"
                phone-number="signupCtrl.phoneNumber"
               ></country-fullscreen-select>
        
         

        <button class="button button-full button-energized">{{'Join_Hablax' | translate}}</button>
        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
