<ion-view view-title="Signup" hide-nav-bar="true" id="validationPage">
  <ion-scroll direction="y" style="right: 0;bottom: 0;left: 0;position: absolute;" class="no-header hl-dark-bg" >
    <div class="col" ng-hide="validatePhoneCtrl.wizard.step1Section=='enterCode'">
      <button class="button button-icon color-white" ng-click="validatePhoneCtrl.goBack()"> < Back </button>
    </div>
    <div class="validate-phone-container" style="margin-top:-{{validatePhoneCtrl.moveUpHeight}}px !important;">
      <div class="header-container">
        <!-- <div class="hl-transparent-page-heading text-center hl-light-text hl-text-center">{{'Register' | translate}}</div> -->
        <img src="img/hb_logo_trans.png" class="hl-logo-img">
      </div>
      <div class="hl-responsive-container">
        <div class="hl-form-center auth-form-container step1">
          <div class="already-text text-center color-white margin-bottom-20">
            {{'already_account' | translate}}
            <span class="login-btn">
              <button ui-sref="login" class="button button-small link button-icon button-balanced">{{'Login_Here' | translate}}</button>
            </span>
          </div>
          <form name="hlSignup" novalidate ng-if="validatePhoneCtrl.wizard.step1Section=='validatePhone'">
            <div class="list">
              <country-fullscreen-select
                      country-selected="validatePhoneCtrl.selectedCountry"
                      lang-code="validatePhoneCtrl.langCode"
                      select-style="normal"
                      phone-number="validatePhoneCtrl.phoneNumber"></country-fullscreen-select>
              <div class="rescue">
                <button class="button button-small link button-icon button-balanced" ng-click="validatePhoneCtrl.showRescueActions(3)">{{'country_not_found' | translate}}</button>
              </div>
              <a class="button button-full button-energized"
                 ng-disabled="!validatePhoneCtrl.selectedCountry.country_code || !validatePhoneCtrl.phoneNumber"
                 ng-click="validatePhoneCtrl.validatePhoneNumber(1)">
                {{'validate_phone' | translate}}
              </a>
            </div>
          </form>

          <form name="hlSignup" novalidate ng-if="validatePhoneCtrl.wizard.step1Section=='enterCode'">
            <!--<form name="hlSignup" novalidate >-->
            <div class="list text-center">

              <div class="code-sent-group">
                <h4 class="code-sent-text">{{'validate_code_sent_to' | translate}} {{validatePhoneCtrl.codeSentPhoneNumber}}</h4>
                <br>
                <div ng-if="!expiro">
                  <h4 class="code-sent-text" ng-show="date_end">{{ 'code_expire_in' | translate }}<br>
                  <timer end-time="date_end" finish-callback="validatePhoneCtrl.finished()">{{mminutes}} : {{sseconds}} {{'minutes_word' | translate}}</timer>
                </h4>
                
                </div>
                <div ng-if="expiro">
                  <h4 class="code-sent-text" ng-show="date_end">{{'code_expire' | translate}}</h4><br>
                 </div>
              </div>
            

              <label class = "item item-input item-button-left">
                <input autocomplete="off" autocorrect="off" autocapitalize="off" class="input" type="number" ng-model="validatePhoneCtrl.validationCode" placeholder="{{'Enter_code' | translate}}">
              </label>

              <a class="button button-full button-energized"
                 ng-disabled="!validatePhoneCtrl.selectedCountry.country_code || !validatePhoneCtrl.phoneNumber"
                 ng-click="validatePhoneCtrl.validatePhoneNumber(2)">
                {{ 'submit' | translate}}
              </a>

              <span class="didnt-get-code-group">
                <button class="button button-small link button-icon button-balanced" ng-click="validatePhoneCtrl.showRescueActions()" style="font-size: 18px;">{{'validate_did_not_get_code' | translate}}</button>
              </span>
            </div>
          </form>
          <!--<div class="already-text text-center color-white">-->
          <!--{{'already_account' | translate}}-->
          <!--<span class="login-btn">-->
          <!--<button ui-sref="login" class="button button-small button-icon button-balanced">{{'Login_Here' | translate}}</button>-->
          <!--</span>-->
          <!--</div>-->
        </div>
      </div>
    </div>

  </ion-scroll>
</ion-view>
