drawer {
  display: block;
  position: fixed;  
  width: 75%;
  height: 100%;
  z-index: 100;
  background-color: white;
}

drawer.animate {
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

drawer.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
}
drawer.right {
  right: 0;
  top: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  box-shadow: -1px 0px 10px rgba(0,0,0,0.3);
}
