<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-positive button-icon ion-chevron-left" ng-click="addfundsCtrl.goBack()">
      {{'Back' | translate}}
    </button>
  </ion-nav-buttons>
  <!-- <ion-nav-buttons side="left" ng-show="!addfundsCtrl.card.show">
    <img class="short-logo-img" src="img/hb_logo_short.png">
  </ion-nav-buttons>
  <ion-nav-title ng-show="!addfundsCtrl.card.show">
    &nbsp;
  </ion-nav-title> -->

    <div class="bar bar-subheader bar-light">
        <h2 class="title">{{'Funds_for_Calls' | translate }} {{'Sms' | translate }}</h2>
    </div>

  <ion-content class="has-header has-subheader add-funds-content has-tabs-bottom" delegate-handle="addfundsScroll">
      <div class="news-view {{addfundsCtrl.notifyMessage.type}}-bg {{addfundsCtrl.hideNotify ? 'hide' : ''}}">
          <h4 class="color-white">{{addfundsCtrl.notifyMessage.title}}</h4>
          <h5 class="color-white">{{addfundsCtrl.notifyMessage.text}}</h5>
      </div>
    <div class="recharge-main-content" >

      <div class="step1" ng-show="addfundsCtrl.wizard.step==1">
        <div class="hl-af-select-amount">
          <div class="hl-round-num-heading">
            <p class=""><span>1</span>{{'Select_Amount' | translate}}</p>
          </div>
          <div class="hl-select">
              <label class="item item-select item-no-label">
              <select name="ratesSelect" ng-model="addfundsCtrl.rateOn" ng-options="(rate.amount | currency) for rate in addfundsCtrl.rates track by rate.row_id" ng-change="addfundsCtrl.rateSelected()" >
                <option value="" ng-show="addfundsCtrl.selectUnchanged">
                  {{'Select' | translate}}
                </option>
              <!-- <option ng-repeat="rate in addfundsCtrl.rates" ng-value="rate.amount" ng-selected="rate.amount=='5'">{{'$'+rate.amount}}</option> -->
            </select>
          </label>
          </div>
        </div>
        <div class="hl-af-cart-details">
          <div class="hl-round-num-heading">
            <p><span><i class="icon ion-ios-cart-outline"></i></span>{{'Shopping_Cart_Details' | translate}}</p>
          </div>
          <!-- <div class="hl-af-shopping-cart pull-right">
            <div class="row">
              <div class="col hl-af-cart-type">
                {{'Subtotal' | translate}}
              </div>
              <div class="col hl-af-cart-amount">
                {{'USD '+addfundsCtrl.amount}}
              </div>
            </div>
            <div class="row">
              <div class="col hl-af-cart-type">
                <span class="hl-af-cart-help-icon" ng-click="addfundsCtrl.help()">?</span>{{'Tax/Vat' | translate }}
              </div>
              <div class="col" style="margin-top: 4px;">
                {{'USD '+addfundsCtrl.taxes}}
              </div>
            </div>
            <div class="row">
              <div class="col hl-af-cart-type">
                {{'Total' | translate}}
              </div>
              <div class="col">
                {{'USD '+addfundsCtrl.total}}
              </div>
            </div>
          </div> -->
          <div class="hl-af-shopping-cart pull-right">
            <table id="tabla_detalles_compra" class="table table-bordered table-striped no-margin-bottom">
              <tfoot>
                  <tr>
                      <td class="text-right">
                          <table style="border:none;display:inline-block;margin-right:8px">
                              <tbody><tr>
                                  <td class="text-right no-padding"><font><font>{{'Subtotal' | translate}}</font></font></td>
                              </tr>
                              <tr>
                                  <td class="text-right no-padding">
                                      <span class="hl-af-cart-help-icon" ng-click="addfundsCtrl.showTaxHelp()">?</span><font><font>
                                      {{'Tax/Vat' | translate }}
                                  </font></font></td>
                              </tr>
                              <!-- <tr class="paypal collapse">
                                  <td class="text-right no-padding">
                                      <span class="badge badge-primary pointer tax-help" data-container="body" data-toggle="popover" data-placement="top" data-content="2.9% + USD 0.30 centavos" data-original-title="" title=""><font><font>?</font></font></span><font><font>
                                      TAX PAYPAL
                                  </font></font></td>
                              </tr> -->
                              <tr>
                                  <td class="text-right no-padding"><font><font>{{'Total' | translate}}</font></font></td>
                              </tr>
                          </tbody></table>
                          <table cellpadding="0" style="border:none;display:inline-block;">
                              <tbody><tr>
                                  <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>USD</font></font></td>
                                  <td class="text-right no-padding">
                                      <span id="lbl_subtotal"><font><font>{{addfundsCtrl.amount  | number:2 }}</font></font></span>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>USD</font></font></td>
                                  <td class="text-right no-padding">
                                      <span id="lbl_tax"><font><font>{{addfundsCtrl.taxes  | number: 2}}</font></font></span>
                                  </td>
                              </tr>
                              <!-- <tr class="paypal collapse">
                                  <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>USD</font></font></td>
                                  <td class="text-right no-padding">
                                      <span id="lbl_paypal_fee"><font><font>0</font></font></span>
                                  </td>
                              </tr> -->
                              <tr>
                                  <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>USD</font></font></td>
                                  <td class="text-right no-padding">
                                      <span id="lbl_total"><font><font>{{addfundsCtrl.total| number: 2}}</font></font></span>
                                  </td>
                              </tr>
                          </tbody></table>
                      </td>
                  </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="hl-af-help-button">
          <button class="button btn-help button-icon-left button-block button-positive ion-ios-help" ng-click="tabsCtrl.openHelp()">{{ 'HELP' | translate}}</button>
        </div>
        <div class="hl-af-pay-methods">
          <div class="hl-round-num-heading">
            <p><span>2</span>{{'Select_Payment_Method' | translate}}</p>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-block button-energized button-pay row" ng-click="addfundsCtrl.payWithCard()" ng-disabled="addfundsCtrl.selectUnchanged">
                <div class="col text-center">
                  <div class="row">
                    <i class="icon ion-card col "></i>
                  </div>
                  <div class="row">
                    <i class="col btn-text btn-pay">{{'Pay_With_Card' | translate}}</i>
                  </div>
                </div>
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-energized button-pay row" ng-click="addfundsCtrl.choosePaypal()" ng-disabled="addfundsCtrl.selectUnchanged">
                <div class="col text-center">
                  <div class="row">
                    <i class="icon fa fa-paypal col"></i>
                  </div>
                  <div class="row">
                    <i class="col btn-text btn-pay">{{'Pay_With_PayPal' | translate}}</i>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
    </div>
  <div class="step3"  ng-show="addfundsCtrl.wizard.step == 2 && addfundsCtrl.card.show">
    <div class="row">
      <div class="col-15">
        <div class="number-circle">
          <span>3</span>
        </div>
      </div>
      <div class="col">
        <h6 class="recharge-details-heading">{{'Enter_Card_Details' | translate}}</h6>
      </div>
    </div>
    <div class="row">

    </div>

    <div class="hl-af-shopping-cart hl-af-shopping-cart-absolute col col-100">
      <table id="tabla_detalles_compra" class="table table-bordered table-striped no-margin-bottom">
        <tfoot>
            <tr>
                <td class="text-right">
                    <table style="border:none;display:inline-block;margin-right:8px">
                        <tbody><tr><epic-card-payment card="addfundsCtrl.card" on-payment="addfundsCtrl.makeCardPayment(card)"></epic-card-payment>
                            <div class="hl-af-cart-details row">
                                <div class="hl-round-num-heading col col-100">
                                    <p><span><i class="icon ion-ios-cart-outline"></i></span>{{'Shopping_Cart_Details' | translate}}</p>
                                </div>
                            </div>
                            <td class="text-right no-padding">{{'Subtotal' | translate}}</td>
                        </tr>
                        <tr>
                            <td class="text-right no-padding">
                                <span class="hl-af-cart-help-icon" ng-click="addfundsCtrl.showTaxHelp()">?</span>
                                {{'Tax/Vat' | translate }}
                            </td>
                        </tr>
                        <!-- <tr class="paypal collapse">
                            <td class="text-right no-padding">
                                <span class="badge badge-primary pointer tax-help" data-container="body" data-toggle="popover" data-placement="top" data-content="2.9% + USD 0.30 centavos" data-original-title="" title=""><font><font>?</font></font></span><font><font>
                                TAX PAYPAL
                            </font></font></td>
                        </tr> -->
                        <tr>
                            <td class="text-right no-padding">{{'Total' | translate}}</td>
                        </tr>
                    </tbody></table>
                    <table cellpadding="0" style="border:none;display:inline-block;">
                        <tbody><tr>
                            <td class="no-padding currency_txt" style="padding-right:5px!important">USD</td>
                            <td class="text-right no-padding">
                                <span id="lbl_subtotal">{{addfundsCtrl.amount | number: 2}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="no-padding currency_txt" style="padding-right:5px!important">USD</td>
                            <td class="text-right no-padding">
                                <span id="lbl_tax">{{addfundsCtrl.taxes | number: 2}}</span>
                            </td>
                        </tr>
                        <!-- <tr class="paypal collapse">
                            <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>USD</font></font></td>
                            <td class="text-right no-padding">
                                <span id="lbl_paypal_fee"><font><font>0</font></font></span>
                            </td>
                        </tr> -->
                        <tr>
                            <td class="no-padding currency_txt" style="padding-right:5px!important">USD</td>
                            <td class="text-right no-padding">
                                <span id="lbl_total">{{addfundsCtrl.total | number: 2}}</span>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tfoot>
      </table>
    </div>
  </div>

    <div class="before-paypal" ng-show="addfundsCtrl.wizard.step == 2 && addfundsCtrl.paypalReady.show">
        <div class="row">
            <div class="col-15">
                <div class="number-circle">
                    <i class="icon ion-ios-cart-outline"></i>
                </div>
            </div>
            <div class="col">
                <h6 class="recharge-details-heading">{{'Purchase_Details' | translate}}</h6>
            </div>
        </div>
        <div>
            <div class="hl-af-shopping-cart pull-right padding-right-10">
                <table id="tabla_detalles_compra" class="table table-bordered table-striped no-margin-bottom">
                    <tfoot>
                    <tr>
                        <td class="text-right">
                            <table style="border:none;display:inline-block;margin-right:8px">
                                <tbody><tr>
                                    <td class="text-right no-padding">{{'Subtotal' | translate}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right no-padding">
                                        <span class="hl-af-cart-help-icon" ng-click="addfundsCtrl.help()">?</span>
                                        {{'Tax/Vat' | translate }}
                                    </td>
                                </tr>
                                <tr class="paypal collapse">
                                    <td class="text-right no-padding">
                                        <span class="hl-af-cart-help-icon" ng-click="addfundsCtrl.paypalHelp()">?</span>
                                        {{'PaypalFees' | translate }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right no-padding">{{'Total' | translate}}</td>
                                </tr>
                                </tbody></table>
                            <table cellpadding="0" style="border:none;display:inline-block;">
                                <tbody><tr>
                                    <td class="no-padding currency_txt" style="padding-right:5px!important">USD</td>
                                    <td class="text-right no-padding">
                                        <span id="lbl_subtotal">{{addfundsCtrl.amount | number: 2}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding currency_txt" style="padding-right:5px!important">USD</td>
                                    <td class="text-right no-padding">
                                        <span id="lbl_tax">{{addfundsCtrl.taxes | number: 2}}</span>
                                    </td>
                                </tr>
                                <tr class="paypal collapse">
                                    <td class="no-padding currency_txt" style="padding-right:5px!important">USD</td>
                                    <td class="text-right no-padding">
                                        <span id="lbl_paypal_fee">{{addfundsCtrl.paypalfee | number: 2}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding currency_txt" style="padding-right:5px!important">USD</td>
                                    <td class="text-right no-padding">
                                        <span id="lbl_total">{{addfundsCtrl.paypalTotal | number: 2}}</span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="row">
            <div  class="col">
                <button class="button btn-help button-icon-left button-block button-positive ion-ios-help" ng-click="tabsCtrl.openHelp()">{{'HELP' | translate}}</button>
            </div>
        </div>

        <div class="row">
            <button class="button button-block button-energized button-icon-left " ng-click="addfundsCtrl.payWithPayPal()">
                <i class="icon fa fa-paypal"></i> {{'Pay_With_PayPal' | translate}}</button>
        </div>
    </div>



</div>
  </ion-content>
</ion-view>
