<ion-view>

  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{'Call_History' | translate}}</h2>
  </div>
  <ion-content class="has-subheader has-tabs-bottom">

    <div class="news-view {{callhistoryCtrl.notifyMessage.type}}-bg {{callhistoryCtrl.hideNotify ? 'hide' : ''}}">
      <h4 class="color-white">{{callhistoryCtrl.notifyMessage.title}}</h4>
      <h5 class="color-white">{{callhistoryCtrl.notifyMessage.text}}</h5>
    </div>

    <ion-refresher
            pulling-text="{{'pull_to_refresh' | translate}}"
            on-refresh="callhistoryCtrl.refreshList()">
    </ion-refresher>

    <div class="list">
      <div class="item item-button-right" ng-repeat="item in callhistoryCtrl.records | recent:callhistoryCtrl.showRecent">
        <!-- <img src="/img/ionic.png"> -->
        <!-- <h3>Lorem Ipsum Dolor</h3> -->
        <h3 class="icon" style="margin-right:40px;">{{'Date' | translate}}: <small>{{item.date | date: 'M/d/yy h:mm a'}}</small></h3>
        <h3>{{'number' | translate}}: <small>{{item.called_number}}</small></h3>
        <h3>{{'duration' | translate}}: <small>{{item.time_duration_in_seconds}}s</small>&nbsp;&nbsp;&nbsp;{{'Cost' | translate}}: <small>${{item.price | number:2}}</small></h3>
        <!-- <i class="icon ion-ios-information-outline"></i> -->
        <button class="button button-right button-icon delete-btn ion-ios-trash-outline" ng-click="callhistoryCtrl.deleteRecord(item)"></button>
      </div>
    </div>
    <div class="text-center" ng-if="callhistoryCtrl.records.length==0">
      {{'no_call_history_data' | translate}}
    </div>
    <ion-infinite-scroll
      ng-if="!callhistoryCtrl.allDataLoaded"
      on-infinite="callhistoryCtrl.loadMore()"
      distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
