<ion-view id="ContactsPage">
  <ion-nav-buttons side="left">
    <button class="button button-positive button-icon ion-chevron-left" ng-click="contactsCtrl.goBack()">
      {{'Back' | translate}}
    </button>

  </ion-nav-buttons>
  <!-- <ion-nav-buttons side="right">
    <button class="button button-icon ion-person-add" ng-click="contactsCtrl.addContact()"></button>
    <button class="button color-white button-icon icon-right ion-card" ui-sref="add-funds">
      {{tabsCtrl.hablaxBalance.currency}} {{tabsCtrl.hablaxBalance.balance | number:2}}
    </button>
  </ion-nav-buttons> -->
  <ion-content class="has-header has-tabs-bottom contact-list" ng-class="{noScroll:contactsCtrl.choices.show}" overflow-scroll='false' hl-opens-side-bar>
    <ion-refresher
      pulling-text="{{'pull_to_refresh' | translate}}"
      on-refresh="contactsCtrl.getAllContacts(true)">
    </ion-refresher>
    <ion-searchbar placeholder="Filter Items" class="searchbar searchbar-ios searchbar-left-aligned searchbar-active">
      <div class="searchbar-input-container">
        <div class="searchbar-input">
          <i class="icon ion-ios-search search-icon"></i>
          <input class="search-input" placeholder="{{ 'search' | translate}}" type="search" ng-model="contactsCtrl.searchKey" ng-change="contactsCtrl.onSearchChanged()" autocomplete="off" autocorrect="off" spellcheck="false"/>
        </div>
        <button class="button-icon ion-person-add add-contact-size" ng-click="contactsCtrl.addContact()"></button>
      </div>

    </ion-searchbar>
    <ion-list can-swipe="contactsCtrl.listCanSwipe" class="all-contacts-list" >

      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item> -->
      <ion-item collection-repeat="contact in contactsCtrl.contacts track by $index" collection-item-width="'100%'"
      collection-item-height="72px" ng-click="contactsCtrl.showContactActions(contact, $index)"  class="item-remove-animate item-avatar item-icon-right item-contacts-all">
        <img ng-if="contact.imgUrl!=null" ng-src="{{contact.imgUrl}}" class="hl-contact-img">
        <div ng-if="contact.imgUrl==null" class="hl-name-initials-wrapper" style="background-color:{{contact.color}}">
          <div class="hl-name-initials">
            {{contact.avatarCharacter | uppercase}}
          </div>
        </div>
        <div class="content-padding">
          <h2 class="hl-contact-content contact-name-cap">{{contact.contact_name}}</h2>
          <p class="hl-contact-content hl-contact-phone">{{contactsCtrl.removeConstantNumber(contact.contact_phone)}}</p>
        </div>

        <ion-option-button class="button-energized" ng-click="contactsCtrl.editContact(contact,$event)">
          <i class="icon ion-edit light"></i>
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="contactsCtrl.deleteContact($index,$event)">
          <i class="icon ion-ios-trash-outline light"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>

  <dial-method-select
          ng-if="contactsCtrl.choices.show"
          dial-number="contactsCtrl.dialNumber"
          selected-country="contactsCtrl.selectedCountry"
          on-hide-view="contactsCtrl.hideChoices()"
          on-local-call="contactsCtrl.localCall()"
          on-wifi-call="contactsCtrl.makeCall()"
          on-wifi-call="contactsCtrl.makeCall()">
  </dial-method-select>

</ion-view>
