<ion-view>
  <ion-content class="has-header has-tabs-bottom has-subheader contact-list" hl-opens-side-bar>
    <ion-list can-swipe="contactsCtrl.listCanSwipe" class="hablax-contacts-list">
      <ion-item class=" item-avatar item-icon-right" ng-repeat="chat in contactsCtrl.chats" on-tap="contactsCtrl.onTap(chat)" type="item-text-wrap">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <div class="myOptions" ng-show="chat.showOptions">
          <button class="message-btn button icon-left ion-paper-airplane "  ui-sref="tab.messages.write-message">{{'Send_Message' | translate}}</button>
          <button class="recharge-btn button icon-left ion-android-phone-portrait"  ui-sref="tab.recharge.step1">{{'Recharge' | translate}}</button>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="contactsCtrl.remove(chat)">
          {{'Delete' | translate}}
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
