
<ion-view hide-nav-bar="true" id="force-update" class="hl-dark-bg">
  <ion-scroll direction="y" style="top: 0;right: 0;bottom: 0;left: 0;position: absolute;" class="padding  forceupdate-container">
      <div class="row">
        <p class="color-white text-center">
          {{'must_update_latest' | translate}}
        </p>
      </div>
      <div class="row">
        <button class="button button-full button-energized" ng-click="updateCtrl.updateApp()">
          {{'update_now' | translate}}
        </button>
      </div>

    </ion-scroll>
</ion-view>
