
<ion-view hide-nav-bar="true" id="homePage">
  <ion-scroll direction="y" style="top: 0;right: 0;bottom: 0;left: 0;position: absolute;" class="padding hl-dark-bg">
    <div class="home-container" ng-hide="homeCtrl.showForceUpdate">
      <div class="row align-layout-homescreen">
        <div class="col">
          <img src="img/welcome_hablax_logo.png" class="hl-logo-img">
        </div>
      </div>
      <div class="hl-responsive-container">
        <div class="row hablax-welcome-wrap">
          <div class="col">
            <!-- <button class="button button-full button-outline button-light icon-right ion-arrow-down-b hl-text-left" style="border:1px solid;">
            <span class="hl-language-flag"></span>Spanish
          </button> -->
          <!--<p class="color-white text-left more-space" animation="no-animation">-->
            <!--{{'Select_Language' | translate}}-->
          <!--</p>-->
            <!--<label class = "item language-item item-input item-select select-center">-->
            <!--<div class = "input-label flag-label">-->
                <!--<span class="flag-icon flag-icon-{{homeCtrl.selectedLang =='es'? 'es': 'us'}}" ng-class="{'visible-hidden':!homeCtrl.selectedLang}"></span>-->
                <!--<span class="country-name" ng-if="false">{{'Welcome' | translate}}</span>-->
            <!--</div>-->
            <!--<select class="flag-selector" ng-change="homeCtrl.changeLang()" ng-model="homeCtrl.selectedLang">-->
              <!--<option value="" selected="">{{'Select' | translate}}</option>-->
              <!--<option value="es">{{'Spanish' | translate}}</option>-->
              <!--<option value="en">{{'English' | translate}}</option>-->
            <!--</select>-->

            <span id="welcome-id" class="welcome-app my-element" my-show="homeCtrl.show" after-hide="homeCtrl.afterHide()" after-show="homeCtrl.afterShow()">
              {{homeCtrl.welcomeText[homeCtrl.indexText]}}</span>

            <!--<country-fullscreen-select></country-fullscreen-select>-->
          </label>
        </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-full button-energized" ng-click="homeCtrl.goLogin()" ng-disabled="homeCtrl.selectedLang==''">
            {{'Login' | translate}}
            </button>
          </div>
          <div class="col">
            <button class="button button-full button-balanced" ng-click="homeCtrl.goValidatePhone()" ng-disabled="homeCtrl.selectedLang==''">
              {{'Signup' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
</ion-view>
