<ion-view>
  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{'How_It_Works' | translate}}</h2>
  </div>
  <ion-content class="has-subheader has-tabs-bottom">
    <div class="list">

      <a class="item item-icon-left item-icon-right">
        <p class="hl-text-justify">{{'description_how_it_work_inside' | translate}}</p>
      </a>
      <a class="item item-icon-left" ng-click="howItWorksInsideCtrl.goDetail({{info.actionIndex}});" ng-repeat="(icon,info) in howItWorksInsideCtrl.features">
        <i class="icon positive {{icon}}"></i>
        <div class="row">
          <div class="col positive">
            {{info.name | translate}}
          </div>
        </div>

      </a>
    </div>
  </ion-content>
</ion-view>
