<ion-view>
  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{howItWorksInsideDetailCtrl.title | translate}}</h2>
  </div>
  <ion-content class="has-subheader has-tabs-bottom">
    <div class="list">


      <a class="item item-icon-left item-icon-right">
        <p class="hl-text-justify">{{howItWorksInsideDetailCtrl.description | translate}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
