<ion-view hide-nav-bar="true" id="howItWorksPage">
  <ion-content class="padding hl-dark-bg hiw" overflow-scroll="true">
    <ion-slide-box   show-pager="true" options="options" class="hl-hiw-slider " on-slide-changed="slideHasChanged($index)">
      <ion-slide>

        <!--<span class="hiw-skip hl-light-text" ng-click="finish()">{{'Skip' | translate}}</span>-->
        <div class="hl-slide-content">

          <div class="img-hiw img-hiw-welcome">
                <span id="hiw-hablax-logo"></span>
          </div>
          <div class="hl-content">
            <h4 class="hl-light-text hl-hiw-heading">{{'WELCOME_SCREEN' | translate }}</h4>
            <p class="hl-light-text hl-hiw-txt hl-text-justify">
              {{'welcome_text1' | translate}}
            </p>
            </div>
        </div>
        <!--<div class="row">-->
          <!--<div class="col text-center">-->
            <!--<button class="button button-accent" ng-click="next()">Next</button>-->
          <!--</div>-->
        <!--</div>-->

        <div class="hiw-next">
          <button class="button button-full button-energized ng-binding button-next" ng-click="next()">{{'Next' | translate}}</button>
        </div>


      </ion-slide>
      <ion-slide>

        <!--<span class="hiw-skip hl-light-text" ng-click="finish()">{{'Skip' | translate}}</span>-->

        <div class="hl-slide-content">
            <div class="img-hiw img-hiw-screen2">
              <span id="hiw-img2"></span>
            </div>
          <div class="hl-content">
            <h4 class="hl-light-text  hl-hiw-heading">{{'INTERNATIONAL_CALLS' | translate}}</h4>
              <p class="hl-light-text hiw-bottom-p hl-hiw-txt hl-text-justify">{{'calls_text' | translate}}</p>
          </div>
        </div>

        <div class="hiw-next">
          <button class="button button-full button-energized ng-binding button-next" ng-click="next()">{{'Next' | translate}}</button>
        </div>
      </ion-slide>
      <ion-slide>


        <!--<span class="hiw-skip hl-light-text" ng-click="finish()">{{'Skip' | translate}}</span>-->

        <div class="hl-slide-content">
          <div class="img-hiw img-hiw-screen2">
              <span id="hiw-img3"></span>
          </div>
          <div class="hl-content">
            <h4 class="hl-light-text hl-hiw-heading">{{'SEND_TEXT_MESSAGE' | translate}}</h4>
            <p class="hl-light-text hl-hiw-txt hl-text-justify">{{'Message_text' | translate}}</p>
          </div>
        </div>

        <div class="hiw-next">
          <button class="button button-full button-energized ng-binding button-next" ng-click="next()">{{'Next' | translate}}</button>
        </div>
      </ion-slide>
      <ion-slide>

        <div class="hl-slide-content">
          <div class="img-hiw img-hiw-screen2">
              <span id="hiw-img4"></span>
          </div>
          <div class="hl-content">
            <h4 class="hl-light-text hl-hiw-heading">{{'CELLPHONE_RECHARGE' | translate}}</h4>
              <p class="hl-light-text hl-hiw-txt hl-text-justify">{{'Recharge_text' | translate }}</p>

          </div>
        </div>

        <div class="hiw-next">
          <button class="button button-full button-energized ng-binding button-next" ng-click="finish()">{{'Next' | translate}}</button>
        </div>

        <!--<span class="hiw-skip hl-light-text" ng-click="finish()">{{'Skip' | translate}}</span>-->
      </ion-slide>

    </ion-slide-box>

  </ion-content>
  <!-- <ion-footer-bar align-title="center" class="hl-secondary-bg-color">
    <h1 class="title light" ng-click="next()" ng-if="activeIndex!=3">NEXT</h1>
    <h1 class="title light" ng-click="finish()" ng-show="activeIndex==3">FINISH</h1>
  </ion-footer-bar> -->
</ion-view>
