<ion-view hide-nav-bar="true" id="loginPage">
  <ion-content class="no-header hl-dark-bg">
    <div class="header-container">
      <!-- <div class="hl-transparent-page-heading text-center hl-light-text hl-text-center">Login</div> -->
      <img src="img/hb_logo_trans.png" class="hl-logo-img">
    </div>
    <div class="hl-responsive-container auth-form-container">
      <div class="already-text text-center color-white margin-bottom-20">
        {{'No_account' | translate }}
        <span class="login-btn">
          <button ui-sref="validate-phone" class="button button-small link button-icon button-balanced">{{'Register_here' | translate}}</button>
        </span>
      </div>
      <form name="hlLoginForm" ng-submit="loginCtrl.Authenticate()" novalidate="">
        <div class="list">
        <div class="hl-form-element item item-input-inset item-button-right" ng-class="hlLoginForm.userName.$invalid && !hlLoginForm.userName.$pristine ? 'hl-errorous-input' :''">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-person-outline placeholder-icon"></i>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" name="userName" autocomplete="off" type="email" placeholder="{{'Username' | translate }}" ng-model="loginCtrl.User.userName"
                   ng-click="loginCtrl.stopShowEmailError()" ng-blur="loginCtrl.onUsernameChanged()" ng-required="true">
          </label>
        </div>
        <div class="forgot-button">
          <a class="button button-small link button-icon button-balanced" ng-click="loginCtrl.recoverEmail()">{{'dont_remember_my_email' | translate}}</a>
        </div>

        <div class="hl-error-text" ng-show="loginCtrl.showError">
          <p class="hl-error-text" ng-if="loginCtrl.showErrorUsername && hlLoginForm.userName.$invalid && !hlLoginForm.userName.$pristine">{{'username_required' | translate}}</p>
        </div>
        <div class="distance-login"></div>

        <div class="hl-form-element item item-input-inset item-button-right" ng-class="hlLoginForm.password.$invalid && !hlLoginForm.password.$pristine ? 'hl-errorous-input' :''">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-locked-outline placeholder-icon"></i>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" name="password"  type="password" placeholder="{{'Password' | translate}}" ng-model="loginCtrl.User.password" ng-blur="loginCtrl.onPasswordChanged()" ng-required="true">
          </label>
        </div>
        <div class="forgot-button">
          <a class="button button-small link button-icon button-balanced" ng-click="loginCtrl.recoverPassword()">{{'dont_remember_my_password' | translate}}</a>
        </div>

        <div class="hl-error-text" ng-show="loginCtrl.showError">
          <p class="hl-error-text" ng-if="loginCtrl.showErrorPassword && hlLoginForm.password.$invalid && !hlLoginForm.password.$pristine">{{'password_required' | translate}}</p>
        </div>

        <div class="distance-login"></div>
        <!--<div class="hl-checkbox-transparent"><ion-checkbox ng-model="loginCtrl.User.remember"><span class="hl-light-text hl-light-weight" >{{'Remember_me' | translate}}</span></ion-checkbox></div>-->
      </div>

      <div class="hl-error-text" ng-show="loginCtrl.showError">
        <p class="hl-error-text" ng-if="loginCtrl.authError">{{loginCtrl.authError}}</p>
      </div>
      <button type="submit" ng-disabled="hlLoginForm.$invalid" class="button button-full icon-right ion-checkmark button-energized" >{{'Sign_in' | translate }}</button>
    </form>


    </div>
  </ion-content>
</ion-view>
