<ion-view id="writeMessage">


  <div ng-if="msgsCtrl.isFreshPage == true">
    <div class="bar bar-header item-input-inset messages-top message-border-bot">
      <div class="label-messages" align="center">
        <p class="align-normalized">{{'To' | translate}}:</p>
        <!--<input class="phone-number-enter" type="tel" placeholder="{{ 'Phone_Number' | translate}}" ng-model="msgsCtrl.messageData.destination_number">-->
        <country-fullscreen-select
                country-selected="msgsCtrl.selectedCountry"
                lang-code="msgsCtrl.langCode"
                select-style="select-input-inline"
                phone-number="msgsCtrl.messageData.destination_number"></country-fullscreen-select>
      </div>
      <a class="contact-sending" ui-sref="tab.contacts.all" ui-sref-active="active">
        <i class="icon menu-icon iconM-contacts-01 contacticon"></i>
      </a>
      <!--<img class="contact-img" src="img/messages/address-book.png" width="20px" height="24px">-->

    </div>
    <div class="divider-on-top"></div>
  </div>

  <!--<div ng-if="msgsCtrl.isFreshPage == false">-->
    <!--<div class="bar bar-subheader bar-light message-border-bot">-->
      <!--<h2 class="title contact-name-cap">{{msgsCtrl.messageData.show_name}}</h2>-->
    <!--</div>-->

  <!--</div>-->


  <ion-content class="has-header has-subheader has-tabs-bottom has-footer content-history"
               style="margin-bottom:{{msgsCtrl.keyboardHeightContent}}px !important; top:{{msgsCtrl.isFreshPage == true ? '100px' : '64px'}} !important;">

    <div class="writeMessage-main-content" >

      <div ng-repeat="group in msgsCtrl.messageData.orderedSmsList ">
        <!--<div class="row row-50 row-center text-center" >-->
          <!--<span class="divider"></span>-->
          <!--<span class="divider-inside">{{group.sentAtDate | dateToISO | date: 'MMM dd, yyyy'}}</span>-->
          <!--<span class="divider"></span>-->
        <!--</div>-->

        <div ng-repeat="message in group.messages">
          <div class="row row-center message-box-group">
            <div class="col col-67 col-offset-33 message-box">{{message.message}}</div>
            <div class="arrow-right"></div>

          </div>
          <div class="row">
            <div class="col col-33 col-offset-33 message-date">{{group.sentAtDate | dateToISO | date: 'MMM dd, yyyy'}}
            </div>
            <div class="col col-33 message-time">{{message.sent_at | dateToISO | date: 'HH:mm a'}}
            </div>
          </div>
        </div>
      </div>


    </div>

  </ion-content>

  <div class="chat-box" style="bottom:{{msgsCtrl.keyboardHeight}}px !important;">

    <div class="frame-text-message">

        <label class="item item-input label-fix item-icon-right message-input">
          <textarea elastic id="txtnotes" rows="1" autocomplete="off" autocorrect="off" autocapitalize="off"
                 type="text" maxlength="{{msgsCtrl.maxLengthMessage}}"
                 placeholder="{{'Write_Your_Message_Here' | translate}}"
                 ng-click="msgsCtrl.tappedMsg()"
                 ng-trim="false" ng-model="msgsCtrl.messageText" only-message>
          </textarea>
        </label>

      <div class="send-sms-button" ng-click="msgsCtrl.sendMessage()">
        <img class="send-img" src="img/messages/send-icon01.svg" width="24px" height="24px">
      </div>
    </div>
    <div class="row row-nearer" ng-if="msgsCtrl.keyboardShown == true">
      <div class="col col-67">
        <span class="message-rate" ng-if="msgsCtrl.currentRate!=null">{{msgsCtrl.currentRate}}¢/sms</span>
      </div>
      <div class="col col-33">
        <span class="message-count">{{msgsCtrl.messageText.length || '0'}}/{{msgsCtrl.maxLengthMessage}}</span>
      </div>
    </div>


  </div>

</ion-view>
