<ion-view id="sentMessages">
  <div class="bar bar-subheader bar-light" >
    <h2 class="title">{{'SENT_MESSAGES' | translate}}</h2>
    <div class="buttons">
      <button class="button-icon ion-compose new-message-button" ng-click="contactsCtrl.addContact()"
              ui-sref="tab.messages.write-message" ui-sref-active="active"></button>
    </div>

  </div>
  <ion-content class="has-header has-subheader has-tabs-bottom has-footer sent-message-list" hl-opens-side-bar>

    <div class="news-view {{msgsCtrl.notifyMessage.type}}-bg {{msgsCtrl.hideNotify ? 'hide' : ''}}">
      <h4 class="color-white">{{msgsCtrl.notifyMessage.title}}</h4>
      <h5 class="color-white">{{msgsCtrl.notifyMessage.text}}</h5>
    </div>

    <ion-list>
      <ion-item ng-repeat="message in msgsCtrl.messagesList | orderBy:'-row_id' track by $index">
        <div class="row" ng-click="msgsCtrl.goHistory({{message.key}});">
          <div class="col col-67">
            <h2 class="contact-name-cap">{{message.show_name}}</h2>
            <p>{{ message.smsList[0].message | limitTo: message.limit }}{{message.smsList[0].message.length > message.limit ? '...' : ''}}</p>

          </div>
          <div class="col">
            <div class="messageDate">
              <span>{{message.smsList[0].sent_at | dateToISO | date: 'MMM/dd HH:mma'}}</span>
            </div>
          </div>
        </div>

        <ion-option-button class="button-assertive" ng-click="msgsCtrl.deleteAllMessage($index,$event)">
          <i class="icon ion-ios-trash-outline light"></i>
        </ion-option-button>

      </ion-item>
    </ion-list>
    <ion-infinite-scroll
            ng-if="!msgsCtrl.allDataLoaded"
            on-infinite="msgsCtrl.searchLastDestinations()"
            distance="2%">
    </ion-infinite-scroll>
  </ion-content>

</ion-view>
