<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view id="messagesPage">



  <ion-nav-view name="messagesView" animation="slide-left-right"></ion-nav-view>

</ion-view>
