<ion-view >
  <!-- <div class="bar bar-subheader bar-stable padding-left padding-right">
    <div class="row hl-no-padding ">
      <div class="col hl-no-padding">
        <div class="hl-button-bar button-bar button-positive">
          <a class="button" ng-class="{'active' : !payhistoryCtrl.showRecent}" ng-click="payhistoryCtrl.showRecent = false">{{'All' | translate}}</a>
          <a class="button" ng-class="{'active' : payhistoryCtrl.showRecent}" ng-click="payhistoryCtrl.showRecent = true">{{'Recent' | translate}}</a>
        </div>
      </div>
      <div class="col hl-no-padding">
        <button class="button button-small button-clear button-positive hl-float-right" ng-if="payhistoryCtrl.records.length" ng-click="payhistoryCtrl.deleteAll()"><small>{{'Delete_All' | translate}}</small></button>
      </div>
    </div>
  </div> -->
  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{'Payment_History' | translate}}</h2>
  </div>
  <ion-content class="has-subheader has-tabs-bottom">

    <div class="news-view {{payhistoryCtrl.notifyMessage.type}}-bg {{payhistoryCtrl.hideNotify ? 'hide' : ''}}">
      <h4 class="color-white">{{payhistoryCtrl.notifyMessage.title}}</h4>
      <h5 class="color-white">{{payhistoryCtrl.notifyMessage.text}}</h5>
    </div>

    <ion-refresher
            pulling-text="{{'pull_to_refresh' | translate}}"
            on-refresh="payhistoryCtrl.refreshList()">
    </ion-refresher>
  <!-- <ion-list>
    <ion-item class="item-icon-right" ng-repeat="item in payhistoryCtrl.records | recent:payhistoryCtrl.showRecent">
      <h3>{{item.transaction_id}}</h3>
      <p><small>{{item.type}}</small></p>
      <p><small>{{item.date}}</small></p>
      <i class="icon ion-ios-information-outline"></i>
      <ion-option-button class="button-stable" ng-click="payhistoryCtrl.more($index)">
        <i class="icon ion-ios-more-outline"></i>
      </ion-option-button>
      <ion-option-button class="button-assertive" ng-click="payhistoryCtrl.deleteRecord($index)">
        <i class="icon ion-ios-trash-outline"></i>
      </ion-option-button>
    </ion-item>
  </ion-list > -->
  <div class="list">
    <div class="item item-button-right item-text-wrap" ng-class="{'assertive-deep':item.status=='Declined','hidden': item.visible==0}" ng-repeat="item in payhistoryCtrl.records | recent:payhistoryCtrl.showRecent">
      <!-- <img src="/img/ionic.png"> -->
      <!-- <h3>Lorem Ipsum Dolor</h3> -->
      <h3>{{'Transaction' | translate}}:
        <small ng-if="item.status=='Declined'">{{'Declined' | translate}}</small>
        <small ng-if="item.status!='Declined'">{{item.transaction_id}}</small>
      </h3>
      <h3>{{'Date' | translate}}: <small>{{item.date | date: 'M/d/yy h:mm a'}}</small></h3>
      <h3>{{'Cost' | translate}}: <small>${{item.amount | number:2}}</small> &nbsp;{{'Type' | translate}}: <small>{{item.type}}</small></h3>
      <!-- <i class="icon ion-ios-information-outline"></i> -->
      <button class="button button-right button-icon delete-btn ion-ios-trash-outline" ng-click="payhistoryCtrl.deleteRecord($index)"></button>
    </div>

  </div>
  <div class="text-center" ng-if="payhistoryCtrl.records.length==0">
    {{'no_payment_history_data' | translate}}
  </div>
  <ion-infinite-scroll
    ng-if="!payhistoryCtrl.allDataLoaded"
    on-infinite="payhistoryCtrl.loadMore()"
    distance="2%">
  </ion-infinite-scroll>
</ion-content>
</ion-view>
