<ion-view id="profilePage">
  <!-- <ion-nav-bar class="hl-dark-bg hl-light-text hl-no-border" align-title="center">
    <ion-nav-title>
      <img class="short-logo-img" src="img/hb_logo_short.png">
    </ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button button-positive button-icon ion-chevron-left" ng-click="profileCtrl.goBack()">
        {{'Back' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar> -->

  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{'USER_PROFILE' | translate}}</h2>
  </div>
  <ion-content class="has-tabs-bottom has-subheader">
    <div class="news-view {{profileCtrl.notifyMessage.type}}-bg {{profileCtrl.hideNotify ? 'hide' : ''}}">
      <h4 class="color-white">{{profileCtrl.notifyMessage.title}}</h4>
      <h5 class="color-white">{{profileCtrl.notifyMessage.text}}</h5>
    </div>
    <div class="profile-main-content">

      <form class="hablax-form" name="profileForm">
        <div class="list label-fix no-lines" no-lines>
          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'Customer_ID' | translate}}</span>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" value="{{profileCtrl.user.number}}" class="text-center customer-number input-disabled" disabled="">
          </label>
          <label class="item item-input item-icon-left item-stacked-label">
            <i class="icon ion-person placeholder-icon"></i>
            <span class="input-label text_uppercase">{{'First_Name' | translate}}</span>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" ng-model="profileCtrl.user.first_name" placeholder="" required="">

          </label>
          <label class="item item-input item-icon-left item-stacked-label">
            <i class="icon ion-person placeholder-icon"></i>
            <span class="input-label text_uppercase">{{'Last_Name' | translate}}</span>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" ng-model="profileCtrl.user.last_name" placeholder="" required="">
          </label>
          <label class="item item-input item-icon-left item-stacked-label">
            <i class="icon ion-android-call placeholder-icon"></i>
            <span class="input-label text_uppercase">{{'Phone_Number' | translate}}</span>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" class="number-disabled" ng-model="profileCtrl.user.telephone_1" placeholder="" disabled="" required="">
          </label>
          <label class="item item-input item-icon-left item-stacked-label">
            <i class="icon ion-android-call placeholder-icon"></i>
            <span class="input-label text_uppercase">{{'Extra_Phone_Number' | translate}}</span>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" type="tel" ng-model="profileCtrl.user.telephone_2" placeholder="">
          </label>
          <div class="item item-input item-select item-stacked-label">
            <span class="input-label text_uppercase">{{'Currency' | translate}}</span>
            <div class="select-container">
              <select ng-options="color for color in profileCtrl.currencies" ng-model="profileCtrl.user.currency" required="">
              </select>
            </div>
          </div>
          <!-- <label class="item item-input item-icon-left item-stacked-label">
            <i class="icon ion-lock-combination placeholder-icon"></i>
            <span class="input-label text_uppercase">{{'Password' | translate}}</span>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" type="password" placeholder="{{'Type_your_password' | translate}}">
          </label> -->
          <div class="item item-button button-block button button-positive button-clear" ng-click="profileCtrl.onChangePasswordClick();">
            {{'Change_password' | translate}}
          </div>
          <div class="buttons buttons-container">
            <!-- for ionic's label fix -->
            <button ng-disabled="profileForm.$invalid" ng-click="profileCtrl.updateProfile()" class="button button-energized button-full margin-top-20 icon-right color-white ion-checkmark text_uppercase">
            {{'Save_Changes' | translate}}
            </button>
            <!-- <button class="button button-block button-positive icon-right ion-card ">
              SAVE CARDS
            </button> -->
          </div>
        </div>
        <!-- <div class="list" ng-if="profileCtrl.user.anet && profileCtrl.user.anet.payment_profiles.length>0">

        </div> -->
      </form>
    </div>
    <div class="list label-fix no-lines cards-list">
      <div class="item item-divider saved-cards-divider">
        <div class="saved-cards-heading">
          {{'saved_cards' | translate}}
        </div>
      </div>
      <div class="item item-icon-right item-icon-left" ng-repeat="card in profileCtrl.user.anet.payment_profiles">
        <i class="icon ion-card placeholder-icon"></i>
        <p>{{card.value[0]}}</p>
        <i class="icon ion-ios-trash-outline assertive" ng-click="profileCtrl.deleteCard(card);"></i>
      </div>
      <div class="no-saved-card-content" ng-if="!profileCtrl.user.anet.payment_profiles || profileCtrl.user.anet.payment_profiles.length==0">
        {{'you_have_no_save_cards' | translate}}
      </div>
    </div>
  </ion-content>
</ion-view>
