<ion-view>
  <ion-content class="has-header has-tabs-bottom">
    <div class="recharge-main-content recharge-type-content">
      <div class="row">
        <div class="col">
          <button class="button button-block color-white hl-dark-bg sent-btn">
          {{'Sent Recharge' | translate}}
        </button>
        </div>
      </div>
      <div class="row">
        <div class="col-15">
          <div class="number-circle">
            <span>2</span>
          </div>
        </div>
        <div class="col">
          <h6 class="recharge-details-heading">Select Recharge Type</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="recharge-icon-div">
            <div class="hl-icon-wrapper recharge-icon-wrapper">
              <span id="recharge-icon"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-50 column-padding">
          <button class="button button-block icon-left color-white  ion-chevron-left hl-darker-bg">
          {{'Go_back' | translate}}
        </button>
        </div>
        <div class="col-50 column-padding">
          <button class="button button-block icon-left color-white ion-ios-help-outline hl-dark-bg">
          {{ 'HELP' | translate}}
        </button>
        </div>
      </div>

    </div>
    <div class="recharge-bottom-nav">
      <div class="row">
        <div class="col">
          <button class="button button-block icon-right ion-arrow-right-b">
          {{'what_are_prepaid_cards_and_where_find_them' | translate}}
          </button>
        </div>
        <div class="col">
          <button class="button button-block icon-right ion-arrow-right-b">
            {{'are_payments_in_american_dollars' | translate}}
          </button>
        </div>
        <div class="col">
          <button class="button button-block icon-right ion-arrow-right-b">
            {{'do_you_live_in_chile_and_dont_have_card' | translate}}
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
