<ion-view>
  <ion-content class="has-header padding has-tabs-bottom">
    <div class="recharge-main-content">
      <div class="row">
        <div class="col">
          <h4 class="recharge-heading">{{'Sent Recharge' | translate}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-15">
          <div class="number-circle">
            <span>3</span>
          </div>
        </div>
        <div class="col">
          <h6 class="recharge-details-heading">{{'Enter_Recharge_Details' | translate}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="recharge-details-content">
            <form class="hablax-form">
              <span class="country-code"></span>
              <div class="list list-inset">
                <label class="item item-input label-fix item-icon-right">
                  <i class="icon ion-person placeholder-icon"></i>
                <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" placeholder="{{'contact_number' | translate}}">
              </label>
              </div>
            </form>
            <p class="recharge-ins">
              {{'dont_enter_country_code' | translate}}
            </p>
            <button class="button button-block icon-right color-white ion-android-done bg-secondary">
            {{'Validate_Number' | translate}}
          </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
