<ion-view>
  <div class="col">
    <button class="button button-icon" ng-click="rescueContactsCtrl.goBack()"> < Back </button>
  </div>

  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{'Customer_Support' | translate}}</h2>
  </div>
  <ion-content class="has-subheader has-tabs-bottom">
    <div class="list">
    <a class="item item-icon-left item-icon-right" ng-click="rescueContactsCtrl.openHelp()">
        <i class="icon ion-chatbubble-working"></i>
        <h2>{{'CHAT' | translate}}</h2>
        <p>{{'available_monday_to_sunday_when_miami_florida' | translate}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="rescueContactsCtrl.sendEmail()">
        <i class="icon ion-email"></i>
        <h2>{{'EMAIL' | translate}}</h2>
        <p>{{'every_day_24_7_available' | translate}}</p>
        <i class="icon ion-ios-arrow-right"></i>
        <!-- <button class="button button-right button-clear button-positive"> Contact</button> -->
      </a>
    
      <div class="item item-divider">
        {{'Support' | translate}}
      </div>
      <a class="item item-icon-right" ng-repeat="contact in rescueContactsCtrl.phoneContacts" ng-click="rescueContactsCtrl.callNumber(contact.phone)">
        <i class="icon ion-ios-telephone"></i>
        <div class="row">
          <div class="col">
            {{contact.country}}
          </div>
          <div class="col">
            {{contact.phone}}
          </div>
        </div>

      </a>
    </div>
  </ion-content>
</ion-view>
