<ion-view id="send-email-page">
  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{'send_email' | translate}}</h2>
  </div>
  <ion-content class="has-subheader has-tabs-bottom">
    <div class="send-email-form">
      <div class="row">
        <div class='input-label'>{{'subject' | translate}}</div>
      </div>
      <div class="row">
        <div class="item full-width item-input addressbook-input item-icon-right item-icon-left">
          <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" ng-model="sendEmailCtrl.emailSubject" placeholder="" />
        </div>
      </div>

      <div class="row bet-label">
        <div class='input-label'>{{'message' | translate}}</div>
      </div>
      <div class="row">
        <div class="item full-width item-input addressbook-input item-icon-right item-icon-left">
          <textarea class="send-email-message-box" autocomplete="off" autocorrect="off" autocapitalize="off" type="text" ng-model="sendEmailCtrl.emailMessage" placeholder="" >
            </textarea>
        </div>
      </div>

      <div class="row">
        <button class="button button-block button-energized" ng-click="sendEmailCtrl.sendEmail();">{{'send_email_button' | translate}}</button>
      </div>
    </div>
  </ion-content>
</ion-view>
