<ion-view>
    <!-- <div class="bar bar-subheader  contact-subheader" no-tap-scroll="true" >
      <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" ng-model="search" placeholder="SEARCH" class="contact-search" >
      <i class="icon ion-ios-search placeholder-icon contact-search-icon"></i>

    </div> -->
    <!-- <ion-tabs class="tabs-light tabs-top has-tabs-top contacts-inner-tabs"  >
  <ion-tab title="ALL CONTACTS" ui-sref="tab.contacts.all">
      <ion-nav-view name="allContacts"></ion-nav-view>
  </ion-tab>
  <ion-tab title="HABLAX CONTACTS"  ui-sref="tab.contacts.hablax" >
      <ion-nav-view name="hablaxContacts"></ion-nav-view>
  </ion-tab>
</ion-tabs> -->
<ion-nav-view name="contactsView" animation="slide-left-right">
</ion-nav-view>
  <!-- <div class="tabs-light tabs-top has-tabs-top contacts-inner-tabs">
   <div class="tabs">
     <a class="tab-item" ui-sref="tab.contacts.all" ui-sref-active="active">
       {{'ALL_CONTACTS' | translate}}
     </a>
     <a class="tab-item" ui-sref="tab.contacts.hablax" ui-sref-active="active">
       {{'HABLAX_CONTACTS' | translate}}
     </a>
   </div>
  </div> -->

</ion-view>
