<ion-view id="dialPage">
  <ion-nav-title>
    &nbsp;
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <img class="short-logo-img" src="img/hb_logo_short.png">
    <button class="button on-call-btn color-white button-balanced button-icon icon-right ion-android-call" ng-click="tabsCtrl.openCallModal()" ng-class="{'hidden':!tabsCtrl.hablaxCall.isCallInProgress}">
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false" class="has-tabs hl-dark-bg has-tabs-bottom">

    <!-- Dialpad Code -->
    <div class="list dial-details text-center">

      <button class="button button-icon ion-ios-help-outline how-to-enter" ng-click="dialCtrl.howToEnterPopup()"></button>

      <div class="country-select item item-input item-button-left item-button-right dial-num text-center">
            <button class="button button-icon hl-text-center hl-no-margin icon-left button-left ion-android-add" ng-click="dialCtrl.addContact()"></button>
            <div ng-bind="dialCtrl.dialNumber" class="dial-input"></div>
            <button class="button button-icon hl-text-center hl-no-margin icon-right button-right ion-backspace-outline" ng-click="dialCtrl.onErasePress()" on-hold="$event.stopImmediatePropagation(); dialCtrl.onEraseHold();"></button>
      </div>
      <div class="country-rates" ng-show="dialCtrl.selectedCountry">
        <div class="country-cont text-center">
          <span class="flag-icon flag-icon-{{dialCtrl.selectedCountry.iso | lowercase}}" ng-class="{'visible-hidden':!dialCtrl.selectedCountry.iso}"></span>
          <span class="country-name">{{dialCtrl.selectedCountry.country}}</span>
          <span class="country-name">
            {{dialCtrl.userProfile.currency}} {{dialCtrl.dialCountry.cost | rates:dialCtrl.userProfile.currency:dialCtrl.rates | number:3 }}
          </span>
        </div>
       <!--  <div class="rates-cont text-center">
          
        </div> -->
      </div>
    </div>

    <div class="hl-dialpad hl-text-center">

      <div class="hl-dialpad-content">

      <div class="row">
        <div class="col key button" ng-click="dialCtrl.onDigitPress(1)"><p class="number">1</p><p class="alphas">xx</p></div>
        <div class="col key button" ng-click="dialCtrl.onDigitPress(2)"><p class="number">2</p><p class="alphas">abc</p></div>
        <div class="col key button" ng-click="dialCtrl.onDigitPress(3)"><p class="number">3</p><p class="alphas">def</p></div>
      </div>

      <div class="row">
        <div class="col key button" ng-click="dialCtrl.onDigitPress(4)"><p class="number">4</p><p class="alphas">ghi</p></div>
        <div class="col key button" ng-click="dialCtrl.onDigitPress(5)"><p class="number">5</p><p class="alphas">jkl</p></div>
        <div class="col key button" ng-click="dialCtrl.onDigitPress(6)"><p class="number">6</p><p class="alphas">mno</p></div>
      </div>

      <div class="row">
        <div class="col key button" ng-click="dialCtrl.onDigitPress(7)"><p class="number">7</p><p class="alphas">pqrs</p></div>
        <div class="col key button" ng-click="dialCtrl.onDigitPress(8)"><p class="number">8</p><p class="alphas">tuv</p></div>
        <div class="col key button" ng-click="dialCtrl.onDigitPress(9)"><p class="number">9</p><p class="alphas">wxyz</p></div>
      </div>

      <div class="row has-no-alphas">
        <div class="col key button"ng-click="dialCtrl.onDigitPress('*')"><p class="number">*</p></div>
        <div class="col key button" ng-click="dialCtrl.onDigitPress(0)" on-hold="$event.stopImmediatePropagation(); dialCtrl.onDigitPress('+');"><p class="number">0</p></div>
        <div class="col key button" ng-click="dialCtrl.onDigitPress('#')"><p class="number">#</p></div>
      </div>

      <div class="row">
        <div class="col col-50  hl-self-center">
           <!--<button class="button button-full button-small button-balanced hl-curled-button call-button icon ion-ios-telephone" ng-click="dialCtrl.showChoices(); ng-disabled="dialCtrl.dialNumber.length<9""></button>-->
          <button class="button button-full button-small button-balanced hl-curled-button call-button icon ion-ios-telephone" ng-click="dialCtrl.showAlert();" ng-disabled="dialCtrl.dialNumber.length<9"></button>
        </div>
      </div>

    </div>

    </div>
    <dial-method-select
            ng-if="dialCtrl.choices.show"
            dial-number="dialCtrl.dialNumber"
            selected-country="dialCtrl.selectedCountry"
            on-hide-view="dialCtrl.hideChoices()"
            on-local-call="dialCtrl.showAlert()"
            on-wifi-call="dialCtrl.makeCall()">
    </dial-method-select>
  </ion-content>
</ion-view>
