<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<drawer-bg drawer-close ng-hide="tabsCtrl.showForceUpdate"></drawer-bg>
<drawer side="left" id="hablaxAppDrawer" ng-hide="tabsCtrl.showForceUpdate" class="hl-side-bar keyboard-open">
  <ion-content class="no-header no-footer has-status-bar">
    <div class="mid-content">
      <img src="img/loc_avatar.png" width="15" height="20"/>
      <h4> {{tabsCtrl.userProfile.first_name}} {{tabsCtrl.userProfile.last_name}}</h4>

      <!-- <p>Lorem Ipsum Dolor Sit Amet Dummy Content</p> -->
      <!-- <button class="button hablax-btn button-full button-balanced icon-right ion-card" ui-sref="add-funds" drawer-close>
        <small>{{tabsCtrl.hablaxBalance.currency}} {{tabsCtrl.hablaxBalance.balance | number:2}}</small>
      </button> -->
    </div>
    <div class="list">
      <!-- <button class="button hablax-btn button-full button-balanced icon-right ion-card" ui-sref="add-funds" drawer-close>
        <small>{{tabsCtrl.hablaxBalance.currency}} {{tabsCtrl.hablaxBalance.balance | number:2}}</small>
      </button> -->
      <a class="item item-icon-left item-balanced balance" ui-sref="add-funds" drawer-close>
        <!--<i class="icon ion-card"></i>-->
        <h2 class="color-white text-center">{{tabsCtrl.hablaxBalance.currency}} {{tabsCtrl.hablaxBalance.balance | number:2}}</h2>
        <p class="text-center color-white">{{'Call & SMS Funds' | translate }}</p>
      </a>
      <!-- <a class="item item-icon-left" ng-click="tabsCtrl.openHelp()" drawer-close>
        <i class="icon ion-ionic"></i> HELP
      </a> -->
      <div class="row row-distance">
        <div class="col col-33">
          <a class="item item-icon-left" ui-sref="add-funds" drawer-close>
            <i class="icon menu-icon addfundsicon"><img src="img/menu/addfundsforcalls-01.svg" /></i>
            <span>{{'Add_Funds_For_Calls' | translate}}</span>
          </a>
        </div>
        <div class="col col-33">
          <a class="item item-icon-left" ui-sref="tab.recharge" drawer-close>
            <i class="icon menu-icon icon-glyphter">
              <i class="iconM-recharges-02 rechargeicon"></i>
            </i>

            <span>{{'Recharge' | translate}}</span>
          </a>
        </div>

        <div class="col col-33">
          <a class="item item-icon-left" ui-sref="rates-redesign" drawer-close>
            <i class="icon menu-icon ratesicon"><img src="img/menu/rates-01.svg" /></i>
            <span>{{'Rates'  | translate}}</span>
          </a>
        </div>

      </div>
      <div class="row">
        <div class="col col-33">
          <a class="item item-icon-left" ui-sref="call-history" drawer-close>
            <i class="icon menu-icon callhistoryicon"><img src="img/menu/callhistory-01.svg" /></i>
            <span>{{'Call_History' | translate}}</span>
          </a>
        </div>
        <div class="col col-33">
          <a class="item item-icon-left" ui-sref="pay-history" drawer-close>
            <i class="icon menu-icon paymenticon"><img src="img/menu/paymenthistory.svg" /></i>
            <span>{{'Payment_History'  | translate}}</span>
          </a>
        </div>

        <div class="col col-33">
          <a class="item item-icon-left" ui-sref="profile" drawer-close>
            <i class="icon menu-icon profileicon"><img src="img/menu/profile-01.svg" /></i>
            <span>{{'Profile' | translate}}</span>
          </a>
        </div>
      </div>
      <div class="item item-divider row-distance" drawer-close></div>
      <a class="item item-icon-left" href ng-click="tabsCtrl.showLanguageOptions()">
        <i class="icon menu-icon langicon"><img src="img/menu/changelanguage-01.svg" /></i> {{'Change_Language'  | translate}}
      </a>
      <a class="item item-icon-left" ui-sref="support" drawer-close>
        <i class="icon menu-icon customericon"><img src="img/menu/customersupport-01.svg" /></i> {{'Customer_Support'  | translate}}
      </a>
      <a class="item item-icon-left" ui-sref="terms-and-conditions" drawer-close>
        <i class="icon menu-icon termsicon"><img src="img/menu/termsandconditions-01.svg" /></i> {{'Terms_Conditions'  | translate}}
      </a>
      <a class="item item-icon-left" ui-sref="how-it-works-inside" drawer-close>
        <i class="icon menu-icon hiwicon"><img src="img/menu/howitworks-01.svg" /></i> {{'How_It_Works'  | translate}}
      </a>
      <a class="item item-icon-left" ui-sref="who-we-are" drawer-close>
        <i class="icon menu-icon aboutusicon"><img src="img/menu/aboutus-01.svg" /></i> {{'Who_We_Are'  | translate}}
      </a>

      <div class="item item-icon-left" ng-click="tabsCtrl.logout()" drawer-close>
        <i class="icon ion-ionic"></i> {{'Logout'  | translate}}
        <div class="app-version">{{'version' | translate}} {{tabsCtrl.currentVersion}}</div>
      </div>

    </div>

  </ion-content>
</drawer>
<ion-pane id="tabsPage" ng-hide="tabsCtrl.showForceUpdate">
  <ion-nav-bar class="hl-dark-bg hl-light-text hl-no-border {{tabsCtrl.message_contact_name_show==true ? 'hl-show-name' : ''}}" align-title="center">

    <ion-nav-title>
      <img class="short-logo-img" src="img/hb_logo_short.png">
      <span data-fittext ng-if="tabsCtrl.message_contact_name_show==true" class="contact-name-cap">
        <span class="contact-name-text">
          {{tabsCtrl.message_contact_name}}
          </span>
      </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button color-white button-icon ion-chevron-left" ng-click="tabsCtrl.goBack()">
        {{'Back'  | translate}}
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button color-white button-icon icon-right ion-card" ui-sref="add-funds">
        {{tabsCtrl.hablaxBalance.currency}} {{tabsCtrl.hablaxBalance.balance | number:2}}
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-nav-view animation="slide-left-right" name="tabsView">
  </ion-nav-view>

  <ion-footer-bar class="hl-tabs">

    <div class="row  tabs-icon-top">
      <div class="col hl-tabs-item">
        <a ui-sref="tab.dial" ui-sref-active="active">
          <i class="icon menu-icon iconM-dial-01 dialicon"></i>
          {{'Dial'  | translate}}
        </a>
      </div>
      <div class="col hl-tabs-item">
        <a ui-sref="tab.contacts.all" ui-sref-active="active">
          <i class="icon menu-icon iconM-contacts-01 contacticon"></i>
          {{'Contacts'  | translate}}
        </a>
      </div>
      <div class="col hl-tabs-item">
        <a ui-sref="tab.messages.sent" ng-class="{'active': tabsCtrl.isMessagesState()}">
          <i class="icon menu-icon iconM-messages-01 msgsicon"></i>
          {{'Messages'  | translate}}
        </a>
      </div>
      <div class="col hl-tabs-item">
        <a ui-sref="support" ui-sref-active="active">
          <i class="icon menu-icon iconH-customersupport-01"></i>
          {{'HELP'  | translate}}
        </a>
      </div>
      <div class="col hl-tabs-item">
        <a href="javascript:void(0)" ng-click="drawerCtrl.toggleDrawer();">
          <i class="icon menu-icon iconM-menu-01 menuicon"></i>
          {{'Menu'  | translate}}
        </a>
      </div>
    </div>

  <!--<div class="tabs-striped tabs-color-active-positive tabs-dark tabs-color-positive tabs-fixed ">-->
    <!--<div class="tabs main-tabs tabs-icon-top">-->
      <!--<a class="tab-item" ui-sref="tab.dial" ui-sref-active="active">-->
        <!--<i class="icon menu-icon iconM-dial-01 dialicon"></i>-->
        <!--{{'Dial'  | translate}}-->
      <!--</a>-->
      <!--<a class="tab-item" ui-sref="tab.contacts.all" ui-sref-active="active">-->
        <!--<i class="icon menu-icon iconM-contacts-01 contacticon"></i>-->
        <!--{{'Contacts'  | translate}}-->
      <!--</a>-->
      <!--<a class="tab-item" ui-sref="tab.messages.sent" ng-class="{'active': tabsCtrl.isMessagesState()}">-->
        <!--<i class="icon menu-icon iconM-messages-01 msgsicon"></i>-->
        <!--{{'Messages'  | translate}}-->
      <!--</a>-->
      <!--<a class="tab-item" ui-sref="tab.recharge" ui-sref-active="active">-->
        <!--<i class="icon menu-icon iconM-recharges-01 rchrgicon"></i>-->
        <!--{{'Recharge'  | translate}}-->
      <!--</a>-->
      <!--<a class="tab-item" href="javascript:void(0)" ng-click="drawerCtrl.toggleDrawer();">-->
        <!--<i class="icon menu-icon iconM-menu-01 menuicon"></i>-->
        <!--{{'Menu'  | translate}}-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  </ion-footer-bar>

  <div style="display:none;">
    <video id="my-video" muted="muted"></video>
    <video id="their-video"></video>
    <audio id="audioView"></audio>
  </div>
</ion-pane>
