<ion-view id="termsPage">

    <div class="bar bar-subheader bar-light">
        <h2 class="title">{{'Terms_Conditions' | translate}}</h2>
    </div>

  <ion-content class="has-tabs-bottom has-header has-subheader">
    <div class="terms-main-content">
      <div class="row">
        <div class="col">
          <h4 class="termsHeading">{{'TermsConditions' | translate}} </h4>
          <p class="termsPara">
              {{'terms_para' | translate}}
          </p>
          <h5 class="termsSubheading">
          {{'Your_responsibilities' | translate}}
          </h5>
          <p class="termsPara">
            {{'responsibilities_para' | translate}}
          </p>
          <h5 class="termsSubheading">
            {{'hablax_privacy' | translate}}
          </h5>
          <p class="termsPara">
            {{'privacy_para' | translate}}
          </p>
          <h5 class="termsSubheading">
            {{'PAYMENT_METHODS' | translate}}
          </h5>
          <p class="termsPara">
            {{'payment_para' | translate}}
          </p>
            <h5 class="termsSubheading">
                {{'hablax_services' | translate}}
            </h5>
            <p class="termsPara">
                {{'last_para' | translate}}
            </p>
            <h5 class="termsSubheading">
                {{'our_rights' | translate}}
            </h5>
            <p class="termsPara">
                {{'our_rights_para' | translate}}
            </p>
            <h5 class="termsSubheading">
                {{'intellectual_property' | translate}}
            </h5>
            <p class="termsPara">
                {{'intellectual_property_para' | translate}}
            </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
