<ion-view id="who-we-are">
  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{'Who_We_Are' | translate}}</h2>
  </div>
  <ion-content class="has-subheader has-tabs-bottom">
    <div class="list">


      <a class="item item-icon-left item-icon-right text-justify">
        <p class="hl-text-justify">{{'description_who_we_are' | translate}}</p>
      </a>
      <a class="item item-icon-left" ng-click="whoWeAreCtrl.goDetail({{info.actionIndex}})"  ng-repeat="(name,info) in whoWeAreCtrl.phoneContacts">
        <i class="icon ion-person"></i>
        <div class="row">
          <div class="col">
            <div class="row positive">
              {{name}}
            </div>
            <div class="row">
              <p>{{info.role | translate}}</p>
            </div>
          </div>
        </div>

      </a>
    </div>
  </ion-content>
</ion-view>
