// $positive: #1A9CF7;  //overwriting ionic's default positive color
// $positive: #1A9CF6;
$positive: #009afa;
$energized: #EE9C2B;
// $balanced: #67B023;
$balanced: #6EB60A;
$assertive: #E85A4D;
$calm: #178EE1;
$hablax-green: #48C258;
$colors:
"green-dim" #28BA9C,
"green" #48C258,
"white" #FFFFFF,
"dark_blue" #178EE1;




/* create custom bg and color classes with the array $colors [Ahsan] */
@each $color in $colors{
	.bg-#{nth($color, 1)} {
		background: nth($color, 2);
		color: white;
		&::before{
			color: white;
		}
		&::after{
			color: white;
		}
	}

	button{
		&.bg-#{nth($color, 1)}:active, &.bg-#{nth($color, 1)}.activated {
			background: darken( nth($color, 2), 10% );
			color: white;
			&::before{
				color: white;
			}
			&::after{
				color: white;
			}
		}
		&.bg-#{nth($color, 1)}:hover, &.color-#{nth($color, 1)}:hover{
			color: white;
			&::before{
				color: white;
			}
			&::after{
				color: white;
			}
		}
	}

	.color-#{nth($color, 1)} {
		color:nth($color, 2) !important;
	}
}

/* creating some margin and padding classes */

#hablaxApp{
	$list: top left right bottom;
	$i: 5;
	@while $i <= 100 {
	  // do stuff

		@each $direction in $list{
			.padding-#{$direction}-#{$i}{
				padding-#{$direction}: #{$i}px !important;
			}

			.margin-#{$direction}-#{$i}{
				margin-#{$direction}: #{$i}px !important;
			}
		}



	  $i: $i + 5;
	}
}
