/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default; // Include all of Ionic

@import "variables";
@import "www/lib/ionic/scss/ionic"; //Include Custom SCSS [Samiullah]
@import "./font-awesome/font-awesome";

@import "./hablax/hablax.scss";

//Contains Hablx specific classes (prefixed hl) & customization of ionic css framework.

// @import "custom.scss";
// @import "forms.scss";
// @import "rates.scss";
// @import "dialPage.scss";
// @import "profile.scss";
// @import "contact.scss";
// @import "drawer.scss";
// @import "recharge.scss";
// @import "messages.scss";
// //@import "addfunds.scss";
// @import "how-it-works.scss";
// @import "flags.scss";


