
<ion-view id="rechargePage">
  <ion-nav-buttons side="left">
    <button class="button color-white button-icon ion-chevron-left" ng-click="rechargeCtrl.stepBack()">
      {{ 'Back' | translate }}
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{'Recharge'  | translate}}</h2>
  </div>
  <ion-content class="has-header has-subheader has-tabs-bottom" delegate-handle="rechargeScroll" overflow-scroll="false">

    <div ng-if='cuba' class="news-view {{rechargeCtrl.notifyMessage.type}}-bg {{rechargeCtrl.hideNotify ? 'hide' : ''}}">
      <h4 class="color-white">{{rechargeCtrl.notifyMessage.title}}</h4>
      <h5 class="color-white">{{rechargeCtrl.notifyMessage.text}}</h5>
    </div>

    <div class="recharge-main-content">

      <!-- STEP1 SELECT COUNTRY -->
      <div class="step1" ng-show="rechargeCtrl.wizard.step == 1">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <span>1</span>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading">{{'send_recharge_to' | translate}}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">

            <country-fullscreen-select
                    select-type="mobile-recharge"
                    country-selected="rechargeCtrl.selectedCountry"
                    lang-code="rechargeCtrl.langCode"
                    select-style="no-input"
                    on-country-selected="rechargeCtrl.onCountrySelectWrap(countrySelected);"></country-fullscreen-select>
            <button class="button button-block button-energized" ng-if="(rechargeCtrl.selectedCountry)" ng-click="rechargeCtrl.onCountrySelect()">{{'Next' | translate}}</button>
          </div>
        </div>
      </div>

      <!-- STEP2 SELECT SERVICE -->
      <div class="step2" ng-show="rechargeCtrl.wizard.step == 2">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <span>2</span>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading">{{'Select_Service' | translate}}</h6>
          </div>
        </div>
        <div class="row">
          <button class="col service-item text-center fa {{service.icon}} button button-icon"
            ng-repeat="service in rechargeCtrl.countryServices.services" ng-click="rechargeCtrl.selectService(service)">
            <!-- <div class="icon fa {{service.icon}}"></div> -->
            <div>{{service.txt_es}}</div>
          </button>
        </div>
        <div class="row">
          <!-- <button class="button button-block col button-positive" ng-click="rechargeCtrl.backToStep(1)">Back</button> -->
        </div>
      </div>

      <!-- STEP3 Enter Recharge Details -->
      <div class="step3" ng-show="rechargeCtrl.wizard.step == 3 && rechargeCtrl.countryServices.validate_in=='api'">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <span>3</span>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading">{{'Enter_Recharge_Details' | translate}}</h6>
          </div>
        </div>
        <div class="row" ng-if="rechargeCtrl.selectedService.service=='mobile'">

          <span class = "item item-button-left country-code-wrap normalize-inline">
            <div class = "input-label country-code-label item-float-left input-select-a">
              <span class="flag-icon flag-icon-{{rechargeCtrl.selectedCountry.iso | lowercase}}"  ng-class="{'visible-hidden':!rechargeCtrl.selectedCountry.iso}"></span>
              <span>+{{countrySelectCtrl.countrySelected.country_code}}</span>
            </div>
            <input autocomplete='off' autocorrect='off' autocapitalize='off' type='tel'
                   class="input select-phonenumber-label input-select-c"
                   ng-model="rechargeCtrl.rechargeNumber" placeholder="{{'contact_number' | translate}}" only-digits>
            <a class="contact-select align-contact-select" ng-click="rechargeCtrl.selectContactAsDestination('phone');" ui-sref-active="active">
              <i class="icon menu-icon iconM-contacts-01 contacticon"></i>
            </a>
          </span>

        </div>
        <div class="row" ng-if="rechargeCtrl.selectedService.service=='nauta'">
          <div class="item item-input col addressbook-input item-icon-right item-icon-left">
            <input autocomplete="off" autocorrect="off" autocapitalize="off" type="email" ng-model="rechargeCtrl.rechargeEmail" placeholder="{{'type_email_here' | translate}}">
            <!--<button class="button button-icon icon ion-ios-book-outline" ng-click="rechargeCtrl.selectContactAsDestination('email');"></button>-->
            <a class="contact-select" ng-click="rechargeCtrl.selectContactAsDestination('email');" ui-sref-active="active">
              <i class="icon menu-icon iconM-contacts-01 contacticon"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <!-- <button class="button button-block col button-positive" ng-click="rechargeCtrl.backToStep(2)">Back</button> -->
          <button class="button button-block col button-energized" ng-click="rechargeCtrl.validateNumber(rechargeCtrl.rechargeNumber)">{{'Validate_Number' | translate}}</button>
        </div>
      </div> 


      <!-- STEP3 for CUBA -->
      <div class="step3" ng-show="(rechargeCtrl.wizard.step == 3 || rechargeCtrl.wizard.step == 4 )&& rechargeCtrl.countryServices.validate_in=='server'">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <span>3</span>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading">{{'Enter_Recharge_Details' | translate}}</h6>
          </div>
        </div>
        <div ng-if="rechargeCtrl.selectedService.service=='mobile'">


          <span class = "item item-button-left country-code-wrap normalize-inline">
            <div class = "input-label country-code-label item-float-left input-select-a">
              <span class="flag-icon flag-icon-{{rechargeCtrl.selectedCountry.iso | lowercase}}"  ng-class="{'visible-hidden':!rechargeCtrl.selectedCountry.iso}"></span>
              <span>+{{countrySelectCtrl.countrySelected.country_code}}</span>
            </div>
            <input autocomplete='off' autocorrect='off' autocapitalize='off' type='tel'
                   class="input select-phonenumber-label input-select-c"
                   ng-model="rechargeCtrl.rechargeNumber" placeholder="{{'contact_number' | translate}}" only-digits>
            <a class="contact-select align-contact-select" ng-click="rechargeCtrl.selectContactAsDestination('phone');" ui-sref-active="active">
              <i class="icon menu-icon iconM-contacts-01 contacticon"></i>
            </a>
          </span>


        </span>


        </div>
        <div class="row" ng-if="rechargeCtrl.selectedService.service=='nauta'">
          <div class="item full-width item-input addressbook-input item-icon-right item-icon-left">
            <input autocomplete="off" autocorrect="off" autocapitalize="off" type="email" ng-model="rechargeCtrl.rechargeEmail" placeholder="{{'type_email_here' | translate}}">
            <!--<button class="button button-icon icon ion-ios-book-outline" ng-click="rechargeCtrl.selectContactAsDestination('email');"></button>-->
            <a class="contact-select" ng-click="rechargeCtrl.selectContactAsDestination('email');" ui-sref-active="active">
              <i class="icon menu-icon iconM-contacts-01 contacticon"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <!-- <button class="button button-block col button-positive" ng-click="rechargeCtrl.backToStep(2)">Back</button> -->
          <!-- <button class="button button-block col button-energized" ng-click="rechargeCtrl.serverValidateNext()" ng-if="rechargeCtrl.countryServices.validate_in=='server'  && rechargeCtrl.selectedService.service=='mobile'">Next</button> -->
          <!-- <button class="button button-block col button-energized" ng-click="rechargeCtrl.validateNauta(rechargeCtrl.rechargeEmail)" ng-if="rechargeCtrl.countryServices.validate_in=='server' && rechargeCtrl.selectedService.service=='nauta'">Validate Nauta</button> -->
        </div>
      </div>


      <!-- STEP4 Select Topup FOR CUBA-->
      <div class="step4" ng-show="(rechargeCtrl.wizard.step == 3 || rechargeCtrl.wizard.step == 4) && rechargeCtrl.countryServices.validate_in=='server'">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <span>4</span>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading">{{'Select_Amount' | translate}}</h6>
          </div>
        </div>
        <div class="row">
          <label class="item item-select col item-no-label">
            <!-- <span class="input-label">Select amount</span> -->
            <select ng-model="rechargeCtrl.selectedTopup" ng-options="item as item.label for item in rechargeCtrl.rechargeValidation.topups track by item.product">
              <option value="0" selected="">{{'Select' | translate}}</option>
            </select>
          </label>
        </div>
        <div class="row">
          <!-- <button class="button button-block col button-positive" ng-click="rechargeCtrl.backToStep(2)">Back</button> -->
          <button class="button button-block col button-energized" ng-click="rechargeCtrl.payOrAddRecharge(false)" ng-if="rechargeCtrl.selectedService.service=='mobile'">{{'Next' | translate}}</button>
          <button class="button button-block col button-energized" ng-click="rechargeCtrl.validateNauta(rechargeCtrl.rechargeEmail)" ng-if="rechargeCtrl.selectedService.service=='nauta'">{{'Validate_Nauta' | translate}}</button>
        </div>
      </div>


      <!-- STEP4 Select Topup -->
      <div class="step4" ng-show="rechargeCtrl.wizard.step == 4 && rechargeCtrl.countryServices.validate_in=='api'">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <span>4</span>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading">{{'Select_Amount' | translate}}</h6>
          </div>
        </div>
        <div class="row">
          <label class="item item-select col item-no-label">
            <!-- <span class="input-label">Select amount</span> -->
            <select ng-model="rechargeCtrl.selectedTopup" ng-options="item as item.label for item in rechargeCtrl.rechargeValidation.topups track by item.product">
              <option value="" selected="">{{'Select' | translate}}</option>
            </select>
          </label>
        </div>
        <div class="row">
          <!-- <button class="button button-block col button-positive" ng-click="rechargeCtrl.backToStep(3)">Back</button> -->
          <button class="button button-block col button-energized" ng-click="rechargeCtrl.payOrAddRecharge()">{{'Add_Recharge' | translate}}</button>
        </div>
      </div>

      <!-- STEP6 Review payment detail -->
      <div class="step6" ng-show="rechargeCtrl.card.show">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <span>6</span>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading">{{'Enter_Card_Details' | translate}}</h6>
          </div>
        </div>
        <div class="row">
          <epic-card-payment card="rechargeCtrl.card" on-payment="rechargeCtrl.makeCardPayment(card)"></epic-card-payment>
        </div>
      </div>

      <div class="before-paypal" ng-show="rechargeCtrl.wizard.step == 6 && rechargeCtrl.paypalReady.show">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <i class="icon ion-ios-cart-outline"></i>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading" ng-show="rechargeCtrl.cart.items.length>0">{{'Purchase_Details' | translate}}</h6>
          </div>
        </div>
        <div>
            <div class="hl-af-shopping-cart pull-right padding-right-10">
              <table id="tabla_detalles_compra" class="table table-bordered table-striped no-margin-bottom">
                <tfoot>
                <tr>
                  <td class="text-right">
                    <table style="border:none;display:inline-block;margin-right:8px">
                      <tbody><tr>
                        <td class="text-right no-padding">{{'Subtotal' | translate}}</td>
                      </tr>
                      <tr>
                        <td class="text-right no-padding">
                          <span class="hl-af-cart-help-icon" ng-click="rechargeCtrl.help()">?</span>
                          {{'TAX/VAT' | translate }}
                        </td>
                      </tr>
                      <tr class="paypal collapse">
                          <td class="text-right no-padding">
                            <span class="hl-af-cart-help-icon" ng-click="rechargeCtrl.paypalHelp()">?</span>
                            {{'PaypalFees' | translate }}
                          </td>
                      </tr>
                      <tr>
                        <td class="text-right no-padding">{{'Total' | translate}}</td>
                      </tr>
                      </tbody></table>
                    <table cellpadding="0" style="border:none;display:inline-block;">
                      <tbody><tr>
                        <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>{{rechargeCtrl.userProfile.currency}}</font></font></td>
                        <td class="text-right no-padding">
                          <span id="lbl_subtotal"><font><font>{{rechargeCtrl.cart.subTotal | rates:rechargeCtrl.userProfile.currency:rechargeCtrl.rates | number:2}}</font></font></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>{{rechargeCtrl.userProfile.currency}}</font></font></td>
                        <td class="text-right no-padding">
                          <span id="lbl_tax"><font><font>{{rechargeCtrl.cart.tax | rates:rechargeCtrl.userProfile.currency:rechargeCtrl.rates | number:2}}</font></font></span>
                        </td>
                      </tr>
                      <tr class="paypal collapse">
                          <td class="no-padding currency_txt" style="padding-right:5px!important">{{rechargeCtrl.userProfile.currency}}</td>
                          <td class="text-right no-padding">
                              <span id="lbl_paypal_fee">{{rechargeCtrl.cart.paypalfee | rates:rechargeCtrl.userProfile.currency:rechargeCtrl.rates | number:2}}</span>
                          </td>
                      </tr>
                      <tr>
                        <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>{{rechargeCtrl.userProfile.currency}}</font></font></td>
                        <td class="text-right no-padding">
                          <span id="lbl_total"><font><font>{{rechargeCtrl.cart.paypalTotal | rates:rechargeCtrl.userProfile.currency:rechargeCtrl.rates | number:2}}</font></font></span>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
        </div>

        <div class="row">
          <div  class="col">
            <button class="button btn-help button-icon-left button-block button-positive ion-ios-help" ng-click="tabsCtrl.openHelp()">{{'HELP' | translate}}</button>
          </div>
        </div>

        <div class="row">
          <button class="button button-block button-energized button-icon-left " ng-click="rechargeCtrl.payWithPayPal()">
            <i class="icon fa fa-paypal"></i> {{'Pay_With_PayPal' | translate}}</button>
        </div>
      </div>

      <!-- STEP5 Choose Payment -->
      <div class="step5" ng-show="rechargeCtrl.wizard.step != 6 && (rechargeCtrl.wizard.step == 5 || rechargeCtrl.cart.show || rechargeCtrl.cart.items.length>0)">
        <div class="row">
          <div class="col-15">
            <div class="number-circle">
              <!--<span ng-hide="rechargeCtrl.cart.items.length>0 && rechargeCtrl.card.show">5</span>-->
              <i class="icon ion-ios-cart-outline"></i>
            </div>
          </div>
          <div class="col">
            <h6 class="recharge-details-heading" ng-show="rechargeCtrl.cart.items.length>0">{{'Purchase_Details' | translate}}</h6>
          </div>
        </div>
        <div class="card-list">
          <div class = "list card" ng-repeat="item in rechargeCtrl.cart.items">
            <div ng-click="item.showDetails == item.showDetails? false: true" class="item collapsible-item item-icon-left item-button-right">
              <span class="icon flag-icon flag-icon-{{item.iso | lowercase}}"  ng-class="{'visible-hidden':!item.iso}"></span>
              <h2>{{item.serviceType=='mobile'? '('+ item.country_code + ')' + item.number : item.email}}</h2>
              <p>{{'Amount' | translate}}: {{item.amount}}</p>
              <p ng-show="item.bonus">{{'Bonus' | translate}}: {{item.bonus}}</p>
              <p>{{'Price' | translate}}: {{item.price | rates:rechargeCtrl.userProfile.currency:rechargeCtrl.rates | number:2}} {{rechargeCtrl.userProfile.currency}}</p>
              <button class="button button-clear delete-btn button-assertive button-icon ion-trash-a" ng-click="rechargeCtrl.deleteItem(item)">
              </button>
            </div>
          </div>
        </div>
        <div class="">
          <!--<div class="hl-round-num-heading">-->
            <!--<p><span><i class="icon ion-ios-cart-outline"></i></span>{{'Shopping_Cart_Details' | translate}}</p>-->
          <!--</div>-->
            <div class="hl-af-shopping-cart pull-right padding-right-10">
              <table id="tabla_detalles_compra" class="table table-bordered table-striped no-margin-bottom">
                <tfoot>
                    <tr>
                        <td class="text-right">
                            <table style="border:none;display:inline-block;margin-right:8px">
                                <tbody><tr>
                                    <td class="text-right no-padding"><font><font>{{'Subtotal' | translate}}</font></font></td>
                                </tr>
                                <tr>
                                    <td class="text-right no-padding">
                                        <span class="hl-af-cart-help-icon" ng-click="rechargeCtrl.help()">?</span><font><font>
                                        {{'TAX/VAT' | translate }}
                                    </font></font></td>
                                </tr>
                                <!-- <tr class="paypal collapse">
                                    <td class="text-right no-padding">
                                        <span class="badge badge-primary pointer tax-help" data-container="body" data-toggle="popover" data-placement="top" data-content="2.9% + USD 0.30 centavos" data-original-title="" title=""><font><font>?</font></font></span><font><font>
                                        TAX PAYPAL
                                    </font></font></td>
                                </tr> -->
                                <tr>
                                    <td class="text-right no-padding"><font><font>{{'Total' | translate}}</font></font></td>
                                </tr>
                            </tbody></table>
                            <table cellpadding="0" style="border:none;display:inline-block;">
                                <tbody><tr>
                                    <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>{{rechargeCtrl.userProfile.currency}}</font></font></td>
                                    <td class="text-right no-padding">
                                        <span id="lbl_subtotal"><font><font>{{rechargeCtrl.cart.subTotal | rates:rechargeCtrl.userProfile.currency:rechargeCtrl.rates | number:2}}</font></font></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>{{rechargeCtrl.userProfile.currency}}</font></font></td>
                                    <td class="text-right no-padding">
                                        <span id="lbl_tax"><font><font>{{rechargeCtrl.cart.tax | rates:rechargeCtrl.userProfile.currency:rechargeCtrl.rates | number:2}}</font></font></span>
                                    </td>
                                </tr>
                                <!-- <tr class="paypal collapse">
                                    <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>USD</font></font></td>
                                    <td class="text-right no-padding">
                                        <span id="lbl_paypal_fee"><font><font>0</font></font></span>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td class="no-padding currency_txt" style="padding-right:5px!important"><font><font>{{rechargeCtrl.userProfile.currency}}</font></font></td>
                                    <td class="text-right no-padding">
                                        <span id="lbl_total"><font><font>{{rechargeCtrl.cart.totalToPay | rates:rechargeCtrl.userProfile.currency:rechargeCtrl.rates | number:2}}</font></font></span>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tfoot>
              </table>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="hl-round-num-heading" ng-class="{'hidden':rechargeCtrl.cart.items.length==0}">
              <h6 class="recharge-details-heading" ng-hide="rechargeCtrl.cart.items.length>0"><span><i class="icon ion-ios-cart-outline"></i></span>{{'Select_payment_method' | translate}}</h6>
            </div>

          </div>
        </div>
        <div class="hl-round-num-heading" ng-class="{'hidden':rechargeCtrl.cart.items.length==0 || rechargeCtrl.card.show}">
          <p><span ng-hide="rechargeCtrl.cart.items.length>0 && rechargeCtrl.card.show">5</span>{{'Select_payment_method' | translate}}</p>
        </div>
        <div class="row hl-af-pay-methods" ng-if="!rechargeCtrl.card.show">

          <div class="col">
            <button class="button button-block button-energized button-pay row" ng-click="rechargeCtrl.payWithCard()">
              <div class="col text-center">
                <div class="row">
                  <i class="icon ion-card col "></i>
                </div>
                <div class="row">
                  <i class="col btn-text btn-pay">{{'Pay_With_Card' | translate}}</i>
                </div>
              </div>
            </button>
          </div>
          <div class="col">
            <button class="button button-block button-energized button-pay row" ng-click="rechargeCtrl.choosePaypal()">
              <div class="col text-center">
                <div class="row">
                  <i class="icon fa fa-paypal col"></i>
                </div>
                <div class="row">
                  <i class="col btn-text btn-pay">{{'Pay_With_PayPal' | translate}}</i>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-hide="rechargeCtrl.wizard.step == 6">
        <div  class="col">
          <button class="button btn-help button-icon-left button-block button-positive ion-ios-help" ng-click="tabsCtrl.openHelp()">{{'HELP' | translate}}</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
