<ion-modal-view id="callPage">
  <ion-header-bar class="hl-dark-bg hl-light-text hl-no-border" align-title="center">
    <div class="buttons">
      <button class="button color-white button-icon ion-chevron-left" ng-click="tabsCtrl.closeCall()">
        {{'Back' | translate}}
      </button>
    </div>
    <h1 class="title color-white ">
      <img class="short-logo-img" src="img/hb_logo_short.png">
    </h1>
    <div class="buttons">
      <button class="button color-white button-icon icon-right ion-card" ui-sref="add-funds" ng-click="tabsCtrl.closeCall()">
        ${{tabsCtrl.userProfile.balance | number: 2}}
      </button>
    </div>
  </ion-header-bar>
  <!-- <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear button-close" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content class="has-header hl-dark-bg" overflow-scroll="true">
    <div class="call-content">
      <div class="header-container row">
        <div class="spinner-container col text-center color-white">
          <ion-spinner icon="ripple"></ion-spinner>
        </div>
      </div>
      <div class="row call-number">
        <div class="col">{{tabsCtrl.dialNumber}}</div>
      </div>
      <div class="call-duration row">
        <timer interval="1000" autostart="false" class="col">{{hhours}} : {{mminutes}} : {{sseconds}}</timer>
        <!-- <timer interval="1000">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer> -->
      </div>
      <div class="network-quality row">
        <div class="col">
          <div class="net-qual">
            <i class="icon ion-connection-bars"></i>
            <span>{{'Network_Quality' | translate}} : </span>
            <span class="quality balanced">{{tabsCtrl.signalQuality == 'Good'? 'Good' : 'Bad' | translate}}</span>
          </div>
        </div>
      </div>
      <div class="action-btns row">
        <div class="col text-center">
          <button class="btn-item button button-icon ion-android-microphone-off" ng-class="{'is-active':tabsCtrl.hablaxCall.mute}" ng-click="tabsCtrl.toggleMute();">
            <!-- <div class="icon ion-android-microphone-off"></div> -->
          </button>
          <div class="text text-center">{{'Mute' | translate }}</div>
        </div>
        <div class="col text-center">
          <button class="btn-item button button-icon " ng-class="{'is-active':tabsCtrl.hablaxCall.loudSpeaker}" ng-click="tabsCtrl.toggleBluetooth();">
            <i class = "icon two-icon ion-volume-high"></i>
            <i class = "icon two-icon ion-bluetooth"></i>
          </button>
          <div class="text text-center">{{'Bluetooth' | translate}}</div>
        </div>
        <div class="col text-center">
          <button class="btn-item button button-icon ion-grid" ng-click="tabsCtrl.goToDialPad();">
            <!-- <div class="icon ion-grid"></div> -->
          </button>
          <div class="text text-center">{{'Dial_Pad' | translate}}</div>
        </div>
      </div>
      <div class="call-end row">
        <div class="col col-50  hl-self-center">
          <button class="button button-full button-small button-assertive hl-curled-button call-button icon ion-ios-telephone" ng-click="tabsCtrl.closeCall({endCall:true})"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
