<ion-modal-view id="country-select">
  <ion-header-bar class="hl-light-text hl-no-border" align-title="center">
    <div class="buttons">
      <span ng-if="inLogin==null" ng-click="countrySelectCtrl.hideCountrySelection();" style="font-size: 30px;">
        <i class="icon ion-ios-close-outline" style="color:black;"></i>
      </span>
      <span class="button button-icon ion-android-close" ng-if="inLogin==true" ng-click="loginCtrl.closeSelectCountryModal();">
      </span>
    </div>
    <h1 class="title">
      {{'pick_country' | translate}}
    </h1>

  </ion-header-bar>
  <div class="bar bar-subheader" style="border:none;">
    <div class="searchbar searchbar-ios searchbar-left-aligned searchbar-active" style="width: 90%;
border: 1px solid #ddd;
margin: auto;">
      <div class="searchbar-input-container">
        <div class="searchbar-input">
          <i class="icon ion-ios-search search-icon" style="color:#ddd;"></i>
          <input class="search-input" ng-if="inLogin==null" placeholder="{{ 'Search_country' | translate}}" type="search" ng-model="countrySelectCtrl.searchKey" ng-change="countrySelectCtrl.onSearchChanged()" autocomplete="off" autocorrect="off" spellcheck="false"/>
          <input class="search-input" ng-if="inLogin==true" placeholder="{{ 'Search_country' | translate}}" type="search" ng-model="loginCtrl.searchKey" ng-change="loginCtrl.onSearchChanged()" autocomplete="off" autocorrect="off" spellcheck="false"/>
        </div>
      </div>
    </div>
  </div>



  <ion-content class="has-header has-subheader" delegate-handle="countrySelectScroll" overflow-scroll="true">
<br>

    <ion-list ng-if="countrySelectCtrl.selectType=='call-rate'">
      <ion-item class="country-select-item" collection-repeat="country in countrySelectCtrl.currentCallRateList track by $index" collection-item-width="'100%'"
      collection-item-height="43px"
 ng-click="countrySelectCtrl.selectCallRate($index)">
        <span class="flag-icon flag-icon-{{country.iso | lowercase}}"></span>
        <span class="country-name" ng-if="countrySelectCtrl.langCode == 'en'">{{country.country}}</span>
        <span class="country-name" ng-if="countrySelectCtrl.langCode == 'es'">{{country.country_es}}</span>
        <span ng-if="countrySelectCtrl.langCode == 'en' && countrySelectCtrl.countrySelected.country == country.country" class="sticky ion-checkmark-round"></span>
        <span ng-if="countrySelectCtrl.langCode == 'es' && countrySelectCtrl.countrySelected.country_es == country.country_es" class="sticky ion-checkmark-round"></span>
      </ion-item>
    </ion-list>
    <ion-list ng-if="countrySelectCtrl.selectType=='sms-rate'">
      <ion-item class="country-select-item" collection-repeat="country in countrySelectCtrl.currentSmsRateList track by $index" collection-item-width="'100%'"
      collection-item-height="43px"
 ng-click="countrySelectCtrl.selectSmsRate($index)">
        <span class="flag-icon flag-icon-{{country.iso | lowercase}}"></span>
        <span class="country-name" ng-if="countrySelectCtrl.langCode == 'en'">{{country.country}} (+{{country.country_code}})</span>
        <span class="country-name" ng-if="countrySelectCtrl.langCode == 'es'">{{country.country_es}} (+{{country.country_code}})</span>
        <span ng-if="countrySelectCtrl.countrySelected.iso == country.iso" class="sticky ion-checkmark-round"></span>
      </ion-item>
    </ion-list>
    <ion-list ng-if="countrySelectCtrl.selectType=='mobile-recharge'">
      <ion-item class="country-select-item" collection-repeat="country in countrySelectCtrl.currentMobileRechargeList track by $index" collection-item-width="'100%'"
      collection-item-height="43px"
 ng-click="countrySelectCtrl.selectMobileRecharge($index)">
        <span class="flag-icon flag-icon-{{country.iso | lowercase}}"></span>
        <span class="country-name" ng-if="countrySelectCtrl.langCode == 'en'">{{country.country}} (+{{country.country_code}})</span>
        <span class="country-name" ng-if="countrySelectCtrl.langCode == 'es'">{{country.country_es}} (+{{country.country_code}})</span>
        <span ng-if="countrySelectCtrl.countrySelected.iso == country.iso" class="sticky ion-checkmark-round"></span>
      </ion-item>
    </ion-list>
    <ion-list ng-if="countrySelectCtrl.selectType=='default'">
      <ion-item class="country-select-item" collection-repeat="country in countrySelectCtrl.currentCountryList track by $index" collection-item-width="'100%'"
      collection-item-height="43px"
 ng-click="countrySelectCtrl.selectCountry($index)">
        <span class="flag-icon flag-icon-{{country.iso | lowercase}}"></span>
        <span class="country-name" ng-if="countrySelectCtrl.langCode == 'en'">{{country.country}} (+{{country.country_code}})</span>
        <span class="country-name" ng-if="countrySelectCtrl.langCode == 'es'">{{country.country_es}} (+{{country.country_code}})</span>
        <span ng-if="countrySelectCtrl.countrySelected.iso == country.iso" class="sticky ion-checkmark-round"></span>
      </ion-item>
    </ion-list>

    <ion-list ng-if="inLogin==true">
      <ion-item class="country-select-item" collection-repeat="country in loginCtrl.currentCountryList track by $index" collection-item-width="'100%'"
      collection-item-height="43px"
 ng-click="loginCtrl.selectCountry($index)">
        <span class="flag-icon flag-icon-{{country.iso | lowercase}}"></span>
        <span class="country-name" ng-if="loginCtrl.langCode == 'en'">{{country.country}} (+{{country.country_code}})</span>
        <span class="country-name" ng-if="loginCtrl.langCode == 'es'">{{country.country_es}} (+{{country.country_code}})</span>
        <span ng-if="loginCtrl.countrySelected.iso == country.iso" class="sticky ion-checkmark-round"></span>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
            ng-if="inLogin==null && !countrySelectCtrl.allDataLoaded"
            on-infinite="countrySelectCtrl.loadMore()"
            distance="50%">
    </ion-infinite-scroll>
    <ion-infinite-scroll
            ng-if="inLogin==true && !loginCtrl.allDataLoaded"
            on-infinite="loginCtrl.loadMore()"
            distance="50%">
    </ion-infinite-scroll>
  </ion-content>
</ion-modal-view>
