<ion-modal-view id="editContactPage">
  <ion-header-bar class="hl-dark-bg hl-light-text hl-no-border" align-title="center">
    <div class="buttons">
      <button class="button color-white button-icon ion-chevron-left" ng-click="tabsCtrl.closeContactModal()">
        {{'Back' | translate}}
      </button>
    </div>
    <h1 class="title color-white ">
      <img class="short-logo-img" src="img/hb_logo_short.png">
    </h1>
    <div class="buttons">
      <button class="button color-white button-icon icon-right ion-card" ui-sref="add-funds">
        {{tabsCtrl.hablaxBalance.currency}} {{tabsCtrl.hablaxBalance.balance | number:2}}
      </button>
    </div>
  </ion-header-bar>
  <div class="bar bar-subheader bar-light">
    <h2 class="title">{{(tabsCtrl.contact.type=='edit')? 'Edit_Contact' : 'Add_New_Contact' | translate}}</h2>
  </div>
  <ion-content class="has-header contactModal" overflow-scroll="false" delegate-handle="editContactDelegate">


    <form class="contactModal-main-content" name="editContact">
      <div class="list label-fix no-lines" no-lines>
        <label class="heading item">
          <span class="input-label">{{'Contact Name' | translate}}</span>
        </label>
        <label class="item item-input item-icon-left">
          <input class="contact-name-cap" autocomplete="off" autocorrect="off" autocapitalize="on" type="text" ng-model="tabsCtrl.contact.contact_name" placeholder="" required="true">
        </label>
        <label class="heading item" ng-show="tabsCtrl.selectedCountry.country_code=='53'">
          <span class="input-label">{{'Contact_Email_Nauta' | translate}}</span>
        </label>
        <label class="item item-input item-icon-left" ng-show="tabsCtrl.selectedCountry.country_code=='53'">
          <input autocomplete="off" autocorrect="off" autocapitalize="off" type="email" ng-model="tabsCtrl.contact.contact_email" placeholder="">
        </label>

        <label class="heading item">
          <span class="input-label">{{'contact_information' | translate}}</span>
        </label>
        <!--<label class = "item item-input item-select">-->

          <!--<select class="flag-selector" ng-if="tabsCtrl.langCode == 'en'" ng-change="tabsCtrl.onCountrySelect(tabsCtrl.selectedCountry)" ng-model="tabsCtrl.selectedCountry"  ng-options="country.country for country in tabsCtrl.countryList">-->
            <!--<option value="">{{'Select_Country_Simple' | translate}}</option>-->
          <!--</select>-->
          <!--<select class="flag-selector" ng-if="tabsCtrl.langCode == 'es'" ng-change="tabsCtrl.onCountrySelect(tabsCtrl.selectedCountry)" ng-model="tabsCtrl.selectedCountry"  ng-options="country.country_es for country in tabsCtrl.countryList">-->
            <!--<option value="">{{'Select_Country_Simple' | translate}}</option>-->
          <!--</select>-->
          <!--<div class = "input-label flag-label">-->
            <!--<span class="flag-icon flag-icon-{{tabsCtrl.selectedCountry.iso | lowercase}}"  ng-class="{'visible-hidden':!tabsCtrl.selectedCountry.iso}"></span>-->
          <!--</div>-->
        <!--</label>-->
        <!--<div class = "item item-input item-button-left">-->
          <!--<div class = "input-label label-countrycode">-->
            <!--<span>+{{tabsCtrl.selectedCountry.country_code}}</span>-->
          <!--</div>-->
          <!--<input class="tel-input" ng-click="tabsCtrl.tappedNum()" autocomplete="off" autocorrect="off" autocapitalize="off" class="input" ng-disabled="tabsCtrl.contact.context=='dialPage' && !tabsCtrl.selectedCountry && !tabsCtrl.selectedCountry.country_code" type="tel" ng-model="tabsCtrl.contact.contact_phone">-->
        <!--</div>-->
        <country-fullscreen-select
                country-selected="tabsCtrl.selectedCountry"
                lang-code="tabsCtrl.langCode"
                select-style="show-2field"
                phone-number="tabsCtrl.contact.contact_phone"
                on-country-selected="tabsCtrl.onCountrySelect(countrySelected);"></country-fullscreen-select>
        <div class="buttons buttons-container" id="contactNum">
          <!-- for ionic's label fix -->
          <button ng-disabled="profileForm.$invalid" ng-click="tabsCtrl.addNewContact()" class="button button-energized button-full margin-top-20 icon-right color-white ion-checkmark text_uppercase">
            {{'Save_Changes' | translate}}
          </button>
          <!-- <button class="button button-block button-positive icon-right ion-card ">
            SAVE CARDS
          </button> -->
        </div>
      </div>
      <!-- <div class="list" ng-if="profileCtrl.user.anet && profileCtrl.user.anet.payment_profiles.length>0">

      </div> -->
    </form>
  </ion-content>
</ion-modal-view>
