 <ion-modal-view>
     <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Enviar por correo</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
    <ion-content>

<br>
<br>
<br>
<form name="myForm">

<div class="list">
  <label class="item item-input item-floating-label" style="padding: 10px;">
    <span class="input-label">Email</span>
    <input type="email" placeholder="Email" name="input" ng-model="email.text" required>
  </label>

    <div role="alert"  style="padding: 10px;">
      <span class="error" ng-show="myForm.input.$error.required">
        Required!</span>
      <span class="error" ng-show="myForm.input.$error.email">
        Not valid email!</span>
    </div>
 </div>

	 <button class="button button-block button-positive" ng-disabled="!myForm.input.$valid" ng-click="reenviar_por_correo(email)">
	  Reenviar
	</button> 


    
  </form>



    </ion-content>
  </ion-modal-view>