<ion-modal-view id="selectContactPage">
  <ion-header-bar class="hl-dark-bg hl-light-text hl-no-border" align-title="center">
    <div class="buttons">
      <button class="button color-white button-icon ion-android-close" ng-click="rechargeCtrl.hideContactModal()">
        {{'Cancel' | translate}}
      </button>
    </div>
    <h1 class="title color-white ">
      <img class="short-logo-img" src="img/hb_logo_short.png">
    </h1>
    <div class="buttons">
      <button class="button color-white button-icon icon-right ion-android-done" ng-disabled="!rechargeCtrl.selectedContact" ng-click="rechargeCtrl.onContactSelect()">
        {{'Select' | translate}}
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header contactModal">
    <ion-scroll>
      <div class="bar bar-header bar-light fix-header">
        <h2 class="title">{{'Select_Contact' | translate}}</h2>
      </div>
      <!--<div class="heading-container">-->
        <!--<div class="title title-center text-center">{{'Select_Contact' | translate}}</div>-->
      <!--</div>-->
      <div class="contactModal-main-content">

        <ion-list>
          <ion-radio ng-if="rechargeCtrl.contactModal.type=='email' && contact.contact_email!=null" ng-model="rechargeCtrl.selectedContact" ng-repeat="contact in contactsFilteredList=(rechargeCtrl.contacts | country_contact: rechargeCtrl.selectedCountry.country_code) track by $index" ng-value="contact" ng-change="rechargeCtrl.onContactSelect()">{{contact.contact_name}} - {{contact.contact_email}}</ion-radio>
          <ion-radio ng-if="rechargeCtrl.contactModal.type=='phone'" ng-model="rechargeCtrl.selectedContact" ng-repeat="contact in contactsFilteredList=(rechargeCtrl.contacts | country_contact: rechargeCtrl.selectedCountry ) track by $index" ng-value="contact" ng-change="rechargeCtrl.onContactSelect()">{{contact.contact_name}} - {{contact.number}}</ion-radio>
        </ion-list>
        <div class="text-center" ng-if="contactsFilteredList.length==0">
          {{'no_contact' | translate}}
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-modal-view>
