.hl-af-select-amount {


  div.hl-select {
    select {
      width: 100%;
      outline: none;
      border-color: gray;
      color: gray;
      font-size: 1em;
      height: 2em;
      padding: 0px 0.5em;

    }
  }
}
.add-funds-content{
  .button.icon-right:before {
    padding-right: 6px;
  }
 .number-circle {
    background: #67B023;
    color: white;
    position: relative;
    top: 10px;
}
div.step3 .col-15
{
  padding-left: 9px;
}
}
.hl-page-heading {
  color: #545454;
  font-size: 1em;
  font-weight: bold;
  margin: 1.2em 0px;
  margin-bottom: 1.5em;
}

div.hl-round-num-heading {
  p {
    color: $form-label-text-color;
    font-size: 16px;
    font-weight: 500;
    span {
      background: #67B023;
      color: $hl-light-text-color;
      font-weight: 600;
      border-radius: 50%;
      height: 2.2em;
      width: 2.2em;
      line-height: 2.2em;
      text-align: center;
      margin-right: 0.5em;
      display: inline-block;
    }
  }
}
div.bg-color{
  span{
    background: $hl-dark-bg !important;
  }
}
.hl-af-cart-details {
  margin: 1.5em 0px 0em 0px;
}

.hl-af-pay-methods {
  margin-top: 1.5em;
  .row {
    padding: 0px;
    height: auto;
  }
  .col {
    padding-top: 0px;
    padding-bottom: 0px;
    .button {
      // padding-left: 0.5em;
      // text-transform: uppercase;
      i {
        // margin-right: 0.5em;
      }
    }
  }
  .btn-text{
    font-size: 16px;
  }
  .col:first-child(){
    padding-left: 0px;
  }
  .col:last-child() {
    padding-right: 0px;
  }
}
.hl-af-cart-type{
  text-align: right;
}
.hl-af-shopping-cart {
  div, span {
    font-size: 12px;
    line-height: 0.85em;
    text-transform: uppercase;
  }
  .hl-af-cart-help-icon{
    display: inline-block;
    background-color: $hl-dark-bg;
    color: #fff;
    //display: inline-block
    font-size: 1em;
    line-height: 1.5em;
    width: 1.5em;
    text-align: center;
    border-radius: 50%;
    height: 1.5em;
    margin-right: 4px;
  }
}

.hl-af-shopping-cart-absolute{
  position: relative;
  min-height: 100px;
  #tabla_detalles_compra{
    position: absolute;
    padding: 0 10px;
    right: 10px;
    top: 0;
  }
}

.btn-help{
    &.button-icon-left{
      &::before{
        margin-right: 10px;
      }
    }
}

.expanding {
  width:100%;
}

.btn-pay {
  line-height: 22px;
}