#loginPage, #signupPage,#homePage{
  .header-container{
    padding-top: 20px;

    .hl-transparent-page-heading{
      font-size: 16px;
      font-weight: 400;
    }

    .hl-logo-img{
      margin: 74px auto 30px auto;
      max-width: 200px;
    }
  }

  .auth-form-container{
    max-width: 280px;
    padding-bottom: 100px;
  }
}

#homePage{

  .align-layout-homescreen {
    margin-top:50px;
  }

  .welcome-app {
    font-size: 20px;
    color: white;
    display: block;
    margin-top: 30px;
    text-align: center;
  }

  .hablax-welcome-wrap {
    height: 100px;
  }

  .more-space {
    margin-top:20px;
  }

  .flag-selector {
    padding-left: 75px !important;
  }

  .home-container{
    margin: auto;
    position: absolute;
    max-width: 360px;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;

    .row .col .item-input{
      .input-label{
            // padding: 0px 10px 0px 0px;
            .country-name{
              position: absolute;
              top: 13px;
              left: 60px;
              color: white;
            }
      }
    }
    .language-item{
      .input-label{
        padding: 4px;
      }
      .flag-icon{
        width: 40px;
        height: 24px;
      }
    }
    .item-select{
      border: 1px solid white;
      background-color: transparent;
      select{
        background-color: transparent;
        color: white;
        direction: ltr;
        max-width: 100%;
        width: 100%;
        option{
          color: #444;
        }
      }
    }
    .item-select::after{
      border-top: 7px solid;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      color: #fff;
    }
  }

  .my-element.ng-hide-add {
    display:block !important;
    opacity: 1;
    transition: opacity 650ms;
  }
  .my-element.ng-hide-add.ng-hide-add-active {
    opacity: 0;
  }
  .my-element.ng-hide-remove {
    display:block !important;
    opacity: 0;
    transition: opacity 650ms;
  }
  .my-element.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }

}




#signupPage,#loginPage{
  .header-container{
    .hl-logo-img{
      margin: 10px auto 30px auto;
    }
  }

  .already-text{
    line-height: 30px;
  }
}


.flag-custom-login {
  background: transparent !important;
  max-width: 100% !important;
  direction: ltr !important;
  margin-left: 0px !important;
  padding: 0 0 0 55px !important;
}

#loginPage {
  .hl-error-text {
    margin-bottom: 20px;
  }

  .distance-login {
    margin-bottom: 10px;
  }

  .forgot-button {
    text-align: right;

    a {
      display: initial;
    }
  }
  .hl-form-element {
    margin-bottom: 0px;
    label.item-input-wrapper input {
      width: 100%;
    }
  }




}
.custom-number-input {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 15px !important;
}
.custom-country-code {
  width: 50px;
  padding: 0px;
}