

#callPage{
  .header-container{
    // padding-top: 30px;
    .spinner-container{
      // height: 30px;

      .spinner{
        fill: white;
        stroke: white;

        svg{
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  .call-number {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: white;
    *{
      color: white;
    }
  }

  .call-duration{
    font-size: 14px;
    text-align: center;
    color: white;
    a{
      color: white;
    }
  }

  .call-button {
    margin-top: 1.8em;
    margin-bottom: 0px;
    height: 6vh;
    border-radius: 20px;
    &:before{
      font-size: 2.5vh;
      font-size: 4vh;
    }
  }

  .network-quality{
    margin-top: 10px;
    .net-qual{
      margin: 0 auto;
      background: white;
      border-radius: 26px;
      padding: 0px 14px;
      font-size: 11px;
      min-width: 200px;
      max-width: 220px;
      .icon{
        color: $balanced;
      }

      span{
        margin-left: 6px;
      }
      >span{
        margin-left: 10px;
      }
    }
  }

  .action-btns{
    padding: 0 20px;
    margin-top: 40px;
    color: white;
    .btn-item{
      text-align: center;
      border: 1px solid white;
      border-radius: 100%;
      max-width: 60px;
      max-height: 60px;
      min-height: 60px;
      min-width: 60px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      &.is-active{
        opacity: 1;
        background: white;
        .icon,&.button-icon:before{
          color: $positive;
        }
      }
      .icon,&.button-icon:before{
        font-size: 32px;
        line-height: 60px;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0
      }
      .icon.two-icon:before {
          font-size: 26px !important;
      }
      .icon.two-icon.ion-bluetooth{
        padding-right: 8px;
        justify-content: flex-end;
      }
      .icon.two-icon.ion-volume-high{
        padding-left: 10px;
        justify-content: flex-start;
      }
      .icon{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .text{
      font-size: 10px;
    }
  }

  .call-content{
    height: 420px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
