.contact-subheader {
  background: #f1f1f1;
}
.noScroll{
  overflow-y: hidden !important;
}
.contact-search {
  margin-left: 10px;
  font-size: 12px;
}

.contact-search-icon {
  float: right;
  margin-right: 20px;
  font-size: 19px;
}

.hl-name-initials-wrapper {
  border-radius: 50%;
  float: left;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  left: 0;
  position: absolute;
  margin-left: 24px;
}

.hl-name-initials {
  color: #ffffff;
}

.hl-contact-content {
  margin-left: 20px !important;
}

.hl-contact-phone {
  color: $hl-dark-bg !important;
  // color: black;
}

.hl-contact-img {
  margin: 0 10px;
  left: 0 !important;
  margin-left: 24px;
  max-width: 55px !important;
  max-height: 55px !important;
}

.contacts-inner-tabs .tabs {
  background: none;
  border: none;
  background-color: #fff !important;
  .tab-item {
    color: #009afa !important;
    background: #ffffff !important;
    height: 30px;
    margin-top: 15px !important;
      margin-bottom: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #009afa !important;
    max-width: 115px !important;
    font-size: 10px !important;
    span{
      margin: 0 !important;
    }
  }
  .tab-item-active ,.tab-item.active{
    color: #ffffff !important;
    background: #009afa !important;
      border: none !important;
  }
  a.activated{
    border: none !important;
  background: #009afa !important;
  color:#fff !important;
    }
}
.all-contacts-list ion-item:first-of-type,.hablax-contacts-list ion-item:first-of-type{
  border-top: none !important;
}

.contact-name-cap {
  text-transform: capitalize;
}

.contact-list{
  // top:105px !important;
}
.myOptions{
  display: flex;
  justify-content: center;
  align-items: center;
margin: 15px 0px 5px 0px;
}
.myOptions button{
border-radius: 0px;
color: #fff !important;
font-size: 9px;
width: 100%;
min-height: 25px !important;
height: 37px;
display: flex;
align-items: center;
justify-content: center;
line-height: 0px;
}
.myOptions button:before{
  padding-right: 0.4em !important;
  line-height: 37px !important;
  font-size: 18px !important;
}
// .message-btn{
//     margin: 10px 5px;
//   background-color: $hl-secondary-color;
// }
// .recharge-btn{
//
//   background-color: $hl-secondary-hover-color;
// }
// .call-btn{
//     margin: 10px 0px;
//     margin-left: 25px;
//   background-color: #009afa;
// }
.recharge-icon{
  background: url(../img/sprite-how-it-works.png) -10px -129px;
width: 24px;
height: 35px;
}
.all-contacts-list{
  .item-contacts-all{
    .content-padding{
      padding-left: 72px;
      padding-top: 10px;
    }
    .item-content{
      padding-right: 20px;
      padding-left: 0px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}
#selectContactPage {
  .bar-header {
    h2 {
      margin-top: 0px;
    }
  }
}
.contactModal-main-content{
  padding: 60px 30px 30px 30px;
  label.heading.item {
    padding: 0;
    border: none;
    margin-top: 1px;
    span{
      font-size: 12px;
      color: $form-label-text-color;
    }
}
}
.contactModal{
  .heading-container {
    padding: 20px 0px;
    .title{
      font-size: 14px;
      color: #717171;
      text-transform: uppercase;
    }
  }
  .item{
    &.item-select{
      select{
        direction: ltr;
        max-width: 100%;
      }
    }
  }

  .label-countrycode {
    width: auto;
    font-size: 100%;
  }

}

.as-icon{
  &.call-btn{
    color: #009afa;
  }
  &.recharge-btn{
    color: #6cbe00;
  }
  &.message-btn{
    color: #feab11;
  }
  &.delete-btn{
    color: #ff0000;
  }
}

#ContactsPage{
  .call-options-container{
    .call-option-chooser{
      bottom: 50px;
    }
  }

  .add-contact-size {
    font-size: 25px;
    float: right;
    padding: 10px;
  }

  .searchbar-input-container {
    background-color: #F0F1F2;
    display: flex;
  }

  .search-icon {
    margin: 10px;
    font-size: 18px;
  }

  .search-input {
    display: inline;
    width: 100%;
  }

  .searchbar-input {
    display: inline-flex;
    width: 100%;
    margin: 10px 0px 10px 10px;
    background: white;
    border: 1px solid #C7CAD0;
  }
}

.platform-ios {
  .fix-header {
    height: 44px !important;
    margin-top: 0px;

    h2 {
      margin: 0;
    }
  }

}
