#country-select {


  .searchbar {
    width: 100%;
  }
  .searchbar-input-container {
    display: flex;
  }

  .search-icon {
    margin: 10px;
    font-size: 18px;
  }

  .search-input {
    display: inline;
    width: 100%;
  }

  .searchbar-input {
    display: inline-flex;
    width: 100%;
    background: white;
  }

  .country-name {
    margin-left: 13px;
  }

  .sticky {
    float: right;
  }

  .country-select-item {
    padding: 10px;
  }


  .bar-subheader {
    padding: 0px;
  }

}

.country-fullscreen-select {
  .select-input-inline {
    padding: 0;
  }

  .input-select-a {
    display: block;
    padding-right: 5px;
    width: inherit !important;
  }

  .input-select-a-normal {
    width: 56px !important;
  }

  .normalize-inline {
    padding: 0;
    display: flex;
    height: 100%;
  }

  .item-float-left {
    float: left;
  }
  .select-input-inline {
    .country-code-wrap {
      height: 35px;
      .country-code-label {
        padding: 6px 5px 0 5px;
      }
    }
  }


  .country-code-wrap {
    padding: 0;
    height: 49px;
    .country-code-label {
      height: 100%;
      font-size: 16px !important;
      background-color: #E8F0F2;
      padding: 13px 5px 0 5px;
    }
  }

  .inline-input-select-country {
    padding-left: 20px !important;
  }

  .select-phonenumber-label {
    font-size: 16px !important;
    color: #444;
  }

  .country-select-label {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    padding-left: 60px;
    height:20px; /* Assign a value */
    margin:auto;
  }

  .input-label {
    width: 45px;
  }

  .input-select-c {
    float: left;
    width: 100%;
    display: block;
    height: initial;
    padding-left: 10px;
  }

  .input-guide {
    background-color:#199AEF;
    padding-left: 8px;
    padding-right: 5px;
    height: 100%;
  }

  .input-guide-normal {
    padding-top: 10px;
  }

  .question-guide {
    position: relative;
    top: 2px;
    color: white;
  }
}

.country-select-recover-email {
  .input-label {
    width: 45px;
  }
}


.platform-ios{
  .country-fullscreen-select {
    .select-phonenumber-label {
      padding-top: 4px !important;
    }
  }
}

.platform-android{

  .country-fullscreen-select {
    .select-phonenumber-label {
      padding-top: 0px !important;
    }
  }
}