  .error-icon-popup{
    font-size: 50px;
     color:#f27474;

  }
  .warning-icon-popup{
    font-size: 50px;
     color:#f8bb86;

  }
  .info-icon-popup{
    font-size: 50px;
     color:#3fc3ee;

  }
  .success-icon-popup{
    font-size: 50px;
     color:#a5dc86;

  }
  .custom-popup
  {
    .popup{
      .popup-head{
        border:none;
        padding:0px;
        .popup-title {
          width: 100%;
        }
        .info-icon-popup {
          width: 100%;
        }
      }
    }
  }



  .popup-body-center {
    .popup{
      .popup-body {
        text-align: center;
      }
    }
  }


  .phone-number-popup {
    .normalize-inline {
      padding: 0;
      display: flex;
      height: 100%;
    }

    .input-select-c {
      float: left;
      width: 100%;
      display: block;
      height: initial;
      padding-left: 10px;
    }

    .input-select-a {
      display: block;
      padding-right: 5px;
      width: inherit !important;
    }

    .country-code-wrap {
      padding: 0;
      height: 49px;
      .country-code-label {
        height: 100%;
        font-size: 16px !important;
        background-color: #E8F0F2;
        padding: 13px 5px 0 5px;
      }
    }

    .input-guide {
      background-color:#199AEF;
      padding-left: 8px;
      padding-right: 5px;
      height: 100%;
    }

    .question-guide {
      position: relative;
      top: 2px;
      color: white;
    }

    .input-guide-normal {
      padding-top: 10px;
    }
  }

  .platform-ios{
    .phone-number-popup {
      .select-phonenumber-label {
        padding-top: 4px !important;
      }
    }
  }

  .platform-android{

    .phone-number-popup {
      .select-phonenumber-label {
        padding-top: 0px !important;
      }
    }
  }



.bar.bar-light .title {
  color: #666666;
}

.bar.bar-light {
  background-color: #EEF2F3;
}

$hl-dark-bg: $positive;
$hl-input-bottom-border: 3px solid #dfdae0;
$hl-input-button-color: #f4f4f4;
$hl-light-text-color: #fff;
$hl-side-bar-color: gray;
$hl-secondary-color: #feab11;
$hl-secondary-hover-color: #6cbe00;
@import "responsive.scss";
@import "helpers.scss";


[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.hl-language-flag {
  display      : inline-block;
  height       : 25px;
  margin-right : 10px;
  border-radius: 100%;
  position     : relative;
  top          : 6px;
}

.hl-transparent-page-heading {
  font-weight: lighter;
}

.hl-logo-img {
  margin : 0 auto;
  display: block;
  // padding: 40px 20px 20px;
  max-width: 260px;
}

.hl-stick-to-bottom {
  position: fixed;
  width   : 100%;
  top     : 80vh;
}

.hl-form-center {
  width : 80%;
  margin: 0 auto;
}

.hl-form-element {
  padding              : 0;
  border               : none;
  margin-bottom        : 10px;
  //border-bottom        : $hl-input-bottom-border;
  //-webkit-border-bottom: $hl-input-bottom-border;
  background-color     : #fff !important;

  label.item-input-wrapper {
    background           : transparent;
    border               : none;
    -webkit-border       : none;
    border-radius        : 0;
    -webkit-border-radius: 0;

    i.icon {
      font-size   : 16px;
      padding-left: 6px;
    }

    input {
      height: 45px;
      padding-left: 10px;
    }
    select {
      height: 45px;
      border: none !important;
      outline: none !important;
      width: 100%;
      color: #aaa;
      background: none;
    }
  }

  .hl-input-button {
    height: 45px;
    background: #f4f4f4;
    border-radius: 0;
    border: none;
    font-size: 10px;
    padding: 10px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.hl-checkbox-transparent {
  .item-checkbox {
    padding-left  : 26px;
    font-size     : 14px;
    background    : transparent;
    border        : none;
    -webkit-border: none;

    div.checkbox {
      left: -8px;

      i.checkbox-icon {
        padding: 3px;
      }

      i.checkbox-icon:before {
        // border        : none;
        // -webkit-border: none;
        background    : #fff;
        border-radius: 2px;
        width: 82%;
        height: 82%;
        margin-top: 7%;
        margin-left: 7%;
        border-width: 2px;
      }

      i.checkbox-icon:after {
        border-color: #c0c0c0;
        top         : 30%;
      }
    }
  }
}

.checkbox input:checked + .checkbox-icon:before,
.checkbox input:checked:before {
  background: transparent;
  border-color:#c0c0c0;
}
// a, .platform-ios a[href^=tel]{
//   text-decoration: none;
//   color: black;
// }

/* some global styles */
#hablaxApp {


  .no-header{
    top: 0;
  }

  .action-sheet-group{
    .button{
      padding: 0 40px;
    }
  }

  .short-logo-img{
    max-width: 40px;
    position: relative;
    top: 4px;
  }
  .img-responsive, .image-responsive{
    max-width: 100%;
  }

  .hidden{
    display: none;
  }

  .visible-hidden{
    visibility: hidden;
    opacity: 0;
  }

  .popup{
   border-radius:7px;
    .popup-head{
      border-radius:7px;
      .popup-sub-title{
        color: white;
      }
    }
    box-shadow: 1px 1px 8px #aaa;
    background: white;
  }

  .backdrop{
    &.active{
      opacity: 0;
    }
  }

  .no-padding{
    padding: 0;
  }

  .full-width{
    width: 100%;
    max-width: 100%;
  }

  .epic-card-payment{
    .item{
      &.item-select{
        select{
          max-width: 100%;
        }
      }
    }
  }

  .link{
    text-decoration: underline;
  }

  .item{
    &.addressbook-input {
      input{
        font-size: 15px;
      }
      button{
        right:0;
      }
    }
    &.item-button-right{
      button{
        &.delete-btn{
          position: absolute;
          top: 0;
          right: 10px;
          bottom: 0;
          margin: auto;
          height: 34px;
          width: 34px;
          &::before{
            font-size: 34px;
            color: $assertive;
          }
        }
      }
    }
    &.assertive-deep{
      *{
        color: $assertive;
      }
    }

    &.item-select{
      &.item-no-label{
        select{
          padding: 0 20px;
          width: 100%;
          max-width: 100%;
          direction: ltr;
        }
      }

      &.item-flag{
        select{
          margin-left: 50px;
          max-width: 75%;
        }
      }
      select{
        &.direction-ltr{
          direction: ltr !important;
        }
        &.full{
          width: 100%;
        }
      }

    }
    &.item-icon-right{
      .icon{
        &.flag{
          height: 30px;
          position: absolute;
          top: 10px;
        }
      }
    }
  }
  // .item:first-child {
  //   border-top: 0;
  // }
  //
  // .item:last-child {
  //   border-bottom: 0;
  // }

  .text-center {
    text-align: center;
  }

  .bar-header {
    button {
      font-size: 14px;
      color    : white;

      &::after {
        font-size: 14px;
        color    : white;
      }

      &::before {
        font-size: 20px;
        color: white;
        margin-left: 2px;
      }
    }
  }

  .hl-button-bar {
    .button {
      color       : $hl-dark-bg;
      border-color: $hl-dark-bg;
    }

    .button:first-child {
      border-radius: 0;
    }

    .button:last-child {
      border-radius: 0;
    }

    .button.active {
      background-color: $hl-dark-bg;
      color           : #fff;
    }
  }

  .has-tabs-bottom{
    bottom: 50px;
    &.has-footer{
      bottom: 50px;
    }
  }
}

.hl-call-history {
  .icon {
    color: lightgrey;
  }
}

#videoContainer {
  width           : 300px;
  height          : 300px;
  background-color: #000;
}
.text-uppercase{
  text-transform: uppercase;
}


.flag-label {
  width: auto;
  max-width: 0;
}
.flag-selector {
  width: 100%;
  left: 0;
  padding-left: 50px !important;
  margin: auto;
}

.tel-input {
  font-size: 100% !important;
  padding: 7px 10px 7px 0px !important;
}

.input-number-ios {
  padding:0 0 0 40px !important;
}
  .popup-container
  {
  background-color:rgba(0, 0, 0, 0.7);
  } 

  .popover{
height: 330px;
width: 270px;

  }
.popover-backdrop.active {
  background-color:rgba(0, 0, 0, 0.7) !important;

}

#hablaxApp{
  &.platform-android{
    .item{
      &.item-select{
        &.select-center{
          select{
            direction: ltr !important;
            //width: 100%;
            text-align-last: center;
            max-width: 100%;
          }
        }
      }
    }
  }


}



