#dialPage{
  .card{
    .item{
      color: black;
    }
  }

  .how-to-enter {
    color: #1A9CF8;
    font-size: 24px;
  }


}

.custom-popup {
  .not-again {
    margin: 20px 5px 0 0;
    width: initial;
  }
}


.call-options-container{
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  .call-option-chooser{
    .close-btn{
      position: absolute;
      right: 0;
      top: 0;

      .button{

      }
    }
    /* Set our transitions up. */
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    transition: max-height 0.4s;
    background: #F3F3F3;
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 400px;
    .upper-cont{
      height: 150px;
      background: white;
    }
    .info{
      .col{
        // padding: 20px 10%;
        font-size: 12px;
        text-align: center;
      }

      .col:nth-child(1){
        // text-align: left;
        padding-left: 20px;
      }
      .col:nth-child(2){
        // text-align: right;
        padding-right: 20px;
      }
    }

    .choices{
      padding: 0 10%;
      .icon-container{
        .icon{
          font-size: 52px;
        }
      }
      .primary{
        font-size: 14px;
        font-weight: 400;
      }
      .secondary{
        font-size: 10px;
        font-weight: 400;
        color: #999;
      }
      .wifi{
        // padding-left: 60px;
        text-align: right;
      }
      .local{
        // padding-right: 60px;
        text-align: left;
      }
    }
    .button{
      &.btn-help{
        background: transparent;
        color: $energized;
      }
    }
  }
  &.ng-hide{
    .call-option-chooser{
      /* Set our transitions up. */
    	-webkit-transition: max-height 0.4s;
    	-moz-transition: max-height 0.4s;
    	transition: max-height 0.4s;
      max-height: 0 !important;
      overflow: hidden;
    }
  }
}


.hl-dialpad {
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: $hl-dark-bg;
  color: #fff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  height:54vh;
  // height: 60vh;

  .hl-dialpad-content {
    width: 100%;
    padding: 2vh;
    .row {
      padding: 0;
      height: 8vh;
      justify-content: center;
      align-items: center;
      margin-bottom: 3vh;
      &.has-no-alphas {
        height: 7vh;
        margin-bottom: 2vh;
      .button {
        min-height: auto !important;
      }
      }
      &:last-child(){
        height: auto;
        margin-bottom: 0px;
      }
    }
    width:100%;
    padding: 1em;
  .key {
    padding: 0px;
    &.button {
      background: transparent;
      border: 0px;
      color: #fff;
      &.activated {
        background: rgba(0,0,0,0.2) !important;
        border: 0px;
      }
    }
    .number {
      font-size: 6vh;
      font-weight: 100;
      margin-bottom: 0px;
      line-height: 6vh;
    }
    .alphas {
      font-size: 2.5vh;
      line-height: 2.5vh;
      font-weight: lighter;
      text-transform: uppercase;
      margin-bottom: 0px;
    }
  }
  .call-button {
    margin-top: 0.8em;
    margin-bottom: 0px;
    height: 6vh;
    border-radius: 20px;
    &:before{
      font-size: 2.5vh;
      font-size: 4vh;
    }
  }
}
}

.dial-details {
  margin-bottom: 0px;
  // height: 28vh;
  background-color: #fff;
  i:before {
    font-size: 4vh;
  }


  .country-rates{
    .flag-16{
      width: 16px;
      height: 16px;
      position: relative;
      top: 4px;
    }
    .country-name{
      color: $form-label-text-color;
      font-size: 12px;
      margin-left: 4px;
    }

    .rates-cont{
      color: $form-label-text-color;
      font-size: 10px;
    }
  }
  .country-select {
    position: relative;
    border-bottom: 0px;
    height: 40px;
    .country-select-inner{
      position: absolute;
      height: 40px;
      max-width: 200px;
      margin: 0 auto;
      left: 0;
      right: 0;
      select{
        position: absolute;
        bottom: 0;
        /* text-align-last: center; */
        max-width: 200px;
        opacity: 0;
        z-index: 4;
        left: 0;
        right: 0;
        width: 100%;
        height: 30px;
      }
      .select-output{
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 3px;
      }
      // &:after{
      //   position: absolute;
      //   top: 50%;
      //   right: 16px;
      //   margin-top: -3px;
      //   width: 0;
      //   height: 0;
      //   border-top: 5px solid;
      //   border-right: 5px solid transparent;
      //   border-left: 5px solid transparent;
      //   color: #999;
      //   content: "";
      //   pointer-events: none;
      // }

      span.icon{
        // position: absolute;
        // right: 0;
      }
    }
    .button{
      font-size: 3vh;
      position: absolute;
      right: 4px;
      top: 4px;
      color: gray;
      &:before {
        color: $hl-dark-bg;
      }
      span.icon {
        vertical-align: top;
        position: relative;
        top: 0.5vh;
        &:before {
          font-size: 3vh;
        }

      }
      &.activated {
      // border: 0px !important;
    }
    }
  }
  .dial-num {
    color: gray !important;
    height: 11vh;
    font-size: 4vh;
    display: flex;
    display:-webkit-flex;
    align-items: center;
    font-weight: 300;
    border-top: 0px;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    padding-left: 0;

    input{
      padding-left: 10px;
    }

    button{
      position: absolute;
      &.button-left{
        top: 18px;
        left: 20px;
      }
      &.button-right{
        top: 18px;
        right: 18px;
      }
      i:before {
        font-size: 4vh;
      }
    }

    .dial-input{
      width: 100%;
      height: 100%;
      margin: 0px 64px;
      word-wrap: break-word;
      overflow-x: scroll;
      overflow-y: hidden;
      position: relative;
      font-size: 24px;
      top: 22px;
    }
  }
}

.local-call-popup{
  .popup-head{
    background: white;
    .popup-title{
      color: black;
    }
  }
}

@media all and (max-height: 480px) {
  #dialPage{
    .hl-dialpad {
      height:53vh;
    }
  }
}
@media all and (min-height: 481px) {
  #dialPage{
    .country-rates{
      margin-top: 10px;
    }
  }
}
