#hablaxAppDrawer{
  .no-header{
    top: 0;
  }
  .no-footer{
    bottom: 0;
  }
  &.left{
    box-shadow: none;
  }

  padding-bottom: 10px;
  background: #009afa;
  .mid-content {
    margin: 0 auto;
    text-align: center;
    color: #5c5c5c;
    background-color: #f4f4f4;
    padding: 10px 0;
    display:flex;
    justify-content: center;

    h4 {
      color        : #5c5c5c;
      font-size    : 17px;
      font-weight: bold;
      margin: 2px 0 0 5px;
    }

    p {
      font-size  : 12px;
      line-height: 1;
    }
  }

  .item {
    background-color: #009afa;
    font-size     : 12px;
    text-transform: uppercase;
    color         : #fff;
    padding       : 12px;
    border        : none;
    padding-left  : 74px;

    &.balance{
      padding-left: 0;
      text-align: center;
      p{
        font-size: 12px;
      }
    }

    &.item-balanced{
      background: $balanced;
      padding: 5px;
    }
    &.item-assertive{
      background: $assertive;
    }

    .icon {
      font-size: 20px;
      padding-left: 14px;
    }
  }

  .item-divider {
    border: none;
    padding: 0;
    min-height: 2px;
    border-top: 1px solid #dcdcdc;
    opacity: 1;
    margin: 4px 0;

  }
  .list{
    padding-bottom: 20px;
  }
}

drawer{
  z-index: 3;
}

body{
  &.drawer-open{
    drawer-bg{
      z-index: 2;
      position: fixed;
      background: rgba(0,0,0,0.4);
      width:100%;
      height: 100%;
    }
  }
}
