.epic-card-payment{
  .mode-selector{
    .button-icon{
      margin-top: 10px;
      &::before{
        font-size: 36px;
      }
    }
    p{
      font-size: 12px;
    }
  }

  .input-label {
    width: inherit;
  }

}
