.flag-icon-an {
    background-image: url(../additional-flags/4x3/an.svg);
}
.flag-icon-an.flag-icon-squared {
    background-image: url(../additional-flags/1x1/an.svg);
}
.flag-icon-uk {
    background-image: url(../additional-flags/4x3/uk.svg);
}
.flag-icon-uk.flag-icon-squared {
    background-image: url(../additional-flags/1x1/uk.svg);
}

/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */

.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../img/flags.png') no-repeat;
}


.flag.flag-om {
    background-position: -128px -320px;
}

.flag.flag-mh {
    background-position: -256px -256px;
}

.flag.flag-bo {
    background-position: -320px -32px;
}

.flag.flag-ck {
    background-position: -256px -64px;
}

.flag.flag-ph {
    background-position: -288px -320px;
}

.flag.flag-se {
    background-position: -384px -352px;
}

.flag.flag-tm {
    background-position: -32px -416px;
}

.flag.flag-vg {
    background-position: -64px -448px;
}

.flag.flag-sc {
    background-position: -320px -352px;
}

.flag.flag-im {
    background-position: -32px -192px;
}

.flag.flag-aw {
    background-position: -416px 0;
}

.flag.flag-ly {
    background-position: -64px -256px;
}

.flag.flag-bz {
    background-position: -32px -64px;
}

.flag.flag-sm {
    background-position: -64px -384px;
}

.flag.flag-ru {
    background-position: -192px -352px;
}

.flag.flag-be {
    background-position: -96px -32px;
}

.flag.flag-ms {
    background-position: -32px -288px;
}

.flag.flag-gi {
    background-position: -384px -128px;
}

.flag.flag-gr {
    background-position: -96px -160px;
}

.flag.flag-cm {
    background-position: -320px -64px;
}

.flag.flag-pe {
    background-position: -192px -320px;
}

.flag.flag-sy {
    background-position: -256px -384px;
}

.flag.flag-kw {
    background-position: -128px -224px;
}

.flag.flag-by {
    background-position: 0 -64px;
}

.flag.flag-sd {
    background-position: -352px -352px;
}

.flag.flag-nc {
    background-position: -320px -288px;
}

.flag.flag-th {
    background-position: -416px -384px;
}

.flag.flag-ad {
    background-position: 0 0;
}

.flag.flag-cz {
    background-position: -64px -96px;
}

.flag.flag-eg {
    background-position: -352px -96px;
}

.flag.flag-pr {
    background-position: -384px -320px;
}

.flag.flag-ie {
    background-position: -448px -160px;
}

.flag.flag-hn {
    background-position: -288px -160px;
}

.flag.flag-cy {
    background-position: -32px -96px;
}

.flag.flag-lt {
    background-position: -448px -224px;
}

.flag.flag-sz {
    background-position: -288px -384px;
}

.flag.flag-mt {
    background-position: -64px -288px;
}

.flag.flag-ba {
    background-position: 0 -32px;
}

.flag.flag-de {
    background-position: -96px -96px;
}

.flag.flag-br {
    background-position: -352px -32px;
}

.flag.flag-ma {
    background-position: -96px -256px;
}

.flag.flag-am {
    background-position: -192px 0;
}

.flag.flag-fi {
    background-position: -32px -128px;
}

.flag.flag-na {
    background-position: -288px -288px;
}

.flag.flag-my {
    background-position: -224px -288px;
}

.flag.flag-cg {
    background-position: -160px -64px;
}

.flag.flag-sr {
    background-position: -160px -384px;
}

.flag.flag-tl {
    background-position: 0 -416px;
}

.flag.flag-gd {
    background-position: -256px -128px;
}

.flag.flag-tv {
    background-position: -192px -416px;
}

.flag.flag-et {
    background-position: 0 -128px;
}

.flag.flag-rw {
    background-position: -224px -352px;
}

.flag.flag-va {
    background-position: -448px -416px;
}

.flag.flag-sv {
    background-position: -224px -384px;
}

.flag.flag-kg {
    background-position: -384px -192px;
}

.flag.flag-ne {
    background-position: -352px -288px;
}

.flag.flag-km {
    background-position: 0 -224px;
}

.flag.flag-ro {
    background-position: -128px -352px;
}

.flag.flag-gw {
    background-position: -192px -160px;
}

.flag.flag-kp {
    background-position: -64px -224px;
}

.flag.flag-py {
    background-position: -32px -352px;
}

.flag.flag-re {
    background-position: -96px -352px;
}

.flag.flag-uz {
    background-position: -416px -416px;
}

.flag.flag-ge {
    background-position: -288px -128px;
}

.flag.flag-no {
    background-position: 0 -320px;
}

.flag.flag-fr {
    background-position: -160px -128px;
}

.flag.flag-as {
    background-position: -320px 0;
}

.flag.flag-kr {
    background-position: -96px -224px;
}

.flag.flag-bm {
    background-position: -256px -32px;
}

.flag.flag-fj {
    background-position: -64px -128px;
}

.flag.flag-me {
    background-position: -192px -256px;
}

.flag.flag-gl {
    background-position: -416px -128px;
}

.flag.flag-lu {
    background-position: 0 -256px;
}

.flag.flag-al {
    background-position: -160px 0;
}

.flag.flag-hk {
    background-position: -256px -160px;
}

.flag.flag-tr {
    background-position: -128px -416px;
}

.flag.flag-tn {
    background-position: -64px -416px;
}

.flag.flag-ir {
    background-position: -128px -192px;
}

.flag.flag-nz {
    background-position: -96px -320px;
}

.flag.flag-je {
    background-position: -224px -192px;
}

.flag.flag-gn {
    background-position: 0 -160px;
}

.flag.flag-cl {
    background-position: -288px -64px;
}

.flag.flag-at {
    background-position: -352px 0;
}

.flag.flag-hr {
    background-position: -320px -160px;
}

.flag.flag-ch {
    background-position: -192px -64px;
}

.flag.flag-kh {
    background-position: -416px -192px;
}

.flag.flag-pf {
    background-position: -224px -320px;
}

.flag.flag-qa {
    background-position: -64px -352px;
}

.flag.flag-tc {
    background-position: -320px -384px;
}

.flag.flag-sa {
    background-position: -256px -352px;
}

.flag.flag-li {
    background-position: -320px -224px;
}

.flag.flag-ec {
    background-position: -288px -96px;
}

.flag.flag-ao {
    background-position: -256px 0;
}

.flag.flag-zw {
    background-position: -320px -448px;
}

.flag.flag-dk {
    background-position: -160px -96px;
}

.flag.flag-gq {
    background-position: -64px -160px;
}

.flag.flag-az {
    background-position: -448px 0;
}

.flag.flag-ua {
    background-position: -288px -416px;
}

.flag.flag-ar {
    background-position: -288px 0;
}

.flag.flag-sg {
    background-position: -416px -352px;
}

.flag.flag-la {
    background-position: -224px -224px;
}

.flag.flag-cn {
    background-position: -352px -64px;
}

.flag.flag-in {
    background-position: -64px -192px;
}

.flag.flag-es {
    background-position: -448px -96px;
}

.flag.flag-lk {
    background-position: -352px -224px;
}

.flag.flag-mk {
    background-position: -288px -256px;
}

.flag.flag-tw {
    background-position: -224px -416px;
}

.flag.flag-vc {
    background-position: 0 -448px;
}

.flag.flag-cf {
    background-position: -128px -64px;
}

.flag.flag-dz {
    background-position: -256px -96px;
}

.flag.flag-bb {
    background-position: -32px -32px;
}

.flag.flag-do {
    background-position: -224px -96px;
}

.flag.flag-mq {
    background-position: -448px -256px;
}

.flag.flag-co {
    background-position: -384px -64px;
}

.flag.flag-mx {
    background-position: -192px -288px;
}

.flag.flag-md {
    background-position: -160px -256px;
}

.flag.flag-pk {
    background-position: -320px -320px;
}

.flag.flag-mz {
    background-position: -256px -288px;
}

.flag.flag-us {
    background-position: -352px -416px;
}

.flag.flag-gu {
    background-position: -160px -160px;
}

.flag.flag-fo {
    background-position: -128px -128px;
}

.flag.flag-td {
    background-position: -352px -384px;
}

.flag.flag-vu {
    background-position: -160px -448px;
}

.flag.flag-it {
    background-position: -192px -192px;
}

.flag.flag-ky {
    background-position: -160px -224px;
}

.flag.flag-st {
    background-position: -192px -384px;
}

.flag.flag-kn {
    background-position: -32px -224px;
}

.flag.flag-nl {
    background-position: -448px -288px;
}

.flag.flag-ag {
    background-position: -96px 0;
}

.flag.flag-gt {
    background-position: -128px -160px;
}

.flag.flag-mo {
    background-position: -416px -256px;
}

.flag.flag-bs {
    background-position: -384px -32px;
}

.flag.flag-vn {
    background-position: -128px -448px;
}

.flag.flag-an {
    background-position: -224px 0;
}

.flag.flag-ls {
    background-position: -416px -224px;
}

.flag.flag-af {
    background-position: -64px 0;
}

.flag.flag-lb {
    background-position: -256px -224px;
}

.flag.flag-to {
    background-position: -96px -416px;
}

.flag.flag-jo {
    background-position: -288px -192px;
}

.flag.flag-si {
    background-position: -448px -352px;
}

.flag.flag-tz {
    background-position: -256px -416px;
}

.flag.flag-ve {
    background-position: -32px -448px;
}

.flag.flag-sk {
    background-position: 0 -384px;
}

.flag.flag-er {
    background-position: -416px -96px;
}

.flag.flag-fm {
    background-position: -96px -128px;
}

.flag.flag-bw {
    background-position: -448px -32px;
}

.flag.flag-so {
    background-position: -128px -384px;
}

.flag.flag-bf {
    background-position: -128px -32px;
}

.flag.flag-gg {
    background-position: -320px -128px;
}

.flag.flag-zm {
    background-position: -288px -448px;
}

.flag.flag-gy {
    background-position: -224px -160px;
}

.flag.flag-bh {
    background-position: -192px -32px;
}

.flag.flag-ki {
    background-position: -448px -192px;
}

.flag.flag-id {
    background-position: -416px -160px;
}

.flag.flag-kz {
    background-position: -192px -224px;
}

.flag.flag-tj {
    background-position: -448px -384px;
}

.flag.flag-bg {
    background-position: -160px -32px;
}

.flag.flag-mv {
    background-position: -128px -288px;
}

.flag.flag-sn {
    background-position: -96px -384px;
}

.flag.flag-bt {
    background-position: -416px -32px;
}

.flag.flag-ke {
    background-position: -352px -192px;
}

.flag.flag-bd {
    background-position: -64px -32px;
}

.flag.flag-sb {
    background-position: -288px -352px;
}

.flag.flag-cv {
    background-position: 0 -96px;
}

.flag.flag-mg {
    background-position: -224px -256px;
}

.flag.flag-cu {
    background-position: -448px -64px;
}

.flag.flag-sl {
    background-position: -32px -384px;
}

.flag.flag-gp {
    background-position: -32px -160px;
}

.flag.flag-mm {
    background-position: -352px -256px;
}

.flag.flag-ps {
    background-position: -416px -320px;
}

.flag.flag-gm {
    background-position: -448px -128px;
}

.flag.flag-gb {
    background-position: -224px -128px;
}

.flag.flag-jm {
    background-position: -256px -192px;
}

.flag.flag-mc {
    background-position: -128px -256px;
}

.flag.flag-pg {
    background-position: -256px -320px;
}

.flag.flag-uy {
    background-position: -384px -416px;
}

.flag.flag-gh {
    background-position: -352px -128px;
}

.flag.flag-cr {
    background-position: -416px -64px;
}

.flag.flag-ye {
    background-position: -224px -448px;
}

.flag.flag-lv {
    background-position: -32px -256px;
}

.flag.flag-ca {
    background-position: -64px -64px;
}

.flag.flag-bj {
    background-position: -224px -32px;
}

.flag.flag-lr {
    background-position: -384px -224px;
}

.flag.flag-mn {
    background-position: -384px -256px;
}

.flag.flag-lc {
    background-position: -288px -224px;
}

.flag.flag-mr {
    background-position: 0 -288px;
}

.flag.flag-ae {
    background-position: -32px 0;
}

.flag.flag-pw {
    background-position: 0 -352px;
}

.flag.flag-ug {
    background-position: -320px -416px;
}

.flag.flag-nr {
    background-position: -64px -320px;
}

.flag.flag-vi {
    background-position: -96px -448px;
}

.flag.flag-np {
    background-position: -32px -320px;
}

.flag.flag-dm {
    background-position: -192px -96px;
}

.flag.flag-is {
    background-position: -160px -192px;
}

.flag.flag-eh {
    background-position: -384px -96px;
}

.flag.flag-hu {
    background-position: -384px -160px;
}

.flag.flag-rs {
    background-position: -160px -352px;
}

.flag.flag-ht {
    background-position: -352px -160px;
}

.flag.flag-cd {
    background-position: -96px -64px;
}

.flag.flag-ng {
    background-position: -384px -288px;
}

.flag.flag-ci {
    background-position: -224px -64px;
}

.flag.flag-il {
    background-position: 0 -192px;
}

.flag.flag-ws {
    background-position: -192px -448px;
}

.flag.flag-mu {
    background-position: -96px -288px;
}

.flag.flag-ga {
    background-position: -192px -128px;
}

.flag.flag-jp {
    background-position: -320px -192px;
}

.flag.flag-ai {
    background-position: -128px 0;
}

.flag.flag-iq {
    background-position: -96px -192px;
}

.flag.flag-au {
    background-position: -384px 0;
}

.flag.flag-pa {
    background-position: -160px -320px;
}

.flag.flag-mw {
    background-position: -160px -288px;
}

.flag.flag-ee {
    background-position: -320px -96px;
}

.flag.flag-pt {
    background-position: -448px -320px;
}

.flag.flag-ml {
    background-position: -320px -256px;
}

.flag.flag-dj {
    background-position: -128px -96px;
}

.flag.flag-tg {
    background-position: -384px -384px;
}

.flag.flag-za {
    background-position: -256px -448px;
}

.flag.flag-pl {
    background-position: -352px -320px;
}

.flag.flag-ni {
    background-position: -416px -288px;
}

.flag.flag-tt {
    background-position: -160px -416px;
}

.flag.flag-bn {
    background-position: -288px -32px;
}




.flag-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/flags-16.png') no-repeat;
}


.flag-16.flag-pg {
    background-position: -128px -160px;
}

.flag-16.flag-tt {
    background-position: -80px -208px;
}

.flag-16.flag-fi {
    background-position: -16px -64px;
}

.flag-16.flag-me {
    background-position: -96px -128px;
}

.flag-16.flag-kr {
    background-position: -48px -112px;
}

.flag-16.flag-li {
    background-position: -160px -112px;
}

.flag-16.flag-fj {
    background-position: -32px -64px;
}

.flag-16.flag-pr {
    background-position: -192px -160px;
}

.flag-16.flag-mk {
    background-position: -144px -128px;
}

.flag-16.flag-mq {
    background-position: -224px -128px;
}

.flag-16.flag-se {
    background-position: -192px -176px;
}

.flag-16.flag-uy {
    background-position: -192px -208px;
}

.flag-16.flag-cg {
    background-position: -80px -32px;
}

.flag-16.flag-gp {
    background-position: -16px -80px;
}

.flag-16.flag-ai {
    background-position: -64px 0;
}

.flag-16.flag-re {
    background-position: -48px -176px;
}

.flag-16.flag-au {
    background-position: -192px 0;
}

.flag-16.flag-ng {
    background-position: -192px -144px;
}

.flag-16.flag-mm {
    background-position: -176px -128px;
}

.flag-16.flag-at {
    background-position: -176px 0;
}

.flag-16.flag-de {
    background-position: -48px -48px;
}

.flag-16.flag-vn {
    background-position: -64px -224px;
}

.flag-16.flag-sc {
    background-position: -160px -176px;
}

.flag-16.flag-fo {
    background-position: -64px -64px;
}

.flag-16.flag-gn {
    background-position: 0 -80px;
}

.flag-16.flag-mw {
    background-position: -80px -144px;
}

.flag-16.flag-ck {
    background-position: -128px -32px;
}

.flag-16.flag-zw {
    background-position: -160px -224px;
}

.flag-16.flag-kn {
    background-position: -16px -112px;
}

.flag-16.flag-fm {
    background-position: -48px -64px;
}

.flag-16.flag-pk {
    background-position: -160px -160px;
}

.flag-16.flag-sr {
    background-position: -80px -192px;
}

.flag-16.flag-tm {
    background-position: -16px -208px;
}

.flag-16.flag-cn {
    background-position: -176px -32px;
}

.flag-16.flag-td {
    background-position: -176px -192px;
}

.flag-16.flag-ke {
    background-position: -176px -96px;
}

.flag-16.flag-gd {
    background-position: -128px -64px;
}

.flag-16.flag-nr {
    background-position: -32px -160px;
}

.flag-16.flag-ws {
    background-position: -96px -224px;
}

.flag-16.flag-ma {
    background-position: -48px -128px;
}

.flag-16.flag-pt {
    background-position: -224px -160px;
}

.flag-16.flag-ie {
    background-position: -224px -80px;
}

.flag-16.flag-uz {
    background-position: -208px -208px;
}

.flag-16.flag-tv {
    background-position: -96px -208px;
}

.flag-16.flag-gh {
    background-position: -176px -64px;
}

.flag-16.flag-pl {
    background-position: -176px -160px;
}

.flag-16.flag-cy {
    background-position: -16px -48px;
}

.flag-16.flag-ba {
    background-position: 0 -16px;
}

.flag-16.flag-nc {
    background-position: -160px -144px;
}

.flag-16.flag-kw {
    background-position: -64px -112px;
}

.flag-16.flag-sz {
    background-position: -144px -192px;
}

.flag-16.flag-ec {
    background-position: -144px -48px;
}

.flag-16.flag-va {
    background-position: -224px -208px;
}

.flag-16.flag-lt {
    background-position: -224px -112px;
}

.flag-16.flag-bz {
    background-position: -16px -32px;
}

.flag-16.flag-ml {
    background-position: -160px -128px;
}

.flag-16.flag-py {
    background-position: -16px -176px;
}

.flag-16.flag-cr {
    background-position: -208px -32px;
}

.flag-16.flag-pe {
    background-position: -96px -160px;
}

.flag-16.flag-il {
    background-position: 0 -96px;
}

.flag-16.flag-af {
    background-position: -32px 0;
}

.flag-16.flag-lc {
    background-position: -144px -112px;
}

.flag-16.flag-im {
    background-position: -16px -96px;
}

.flag-16.flag-lb {
    background-position: -128px -112px;
}

.flag-16.flag-th {
    background-position: -208px -192px;
}

.flag-16.flag-cd {
    background-position: -48px -32px;
}

.flag-16.flag-tr {
    background-position: -64px -208px;
}

.flag-16.flag-vu {
    background-position: -80px -224px;
}

.flag-16.flag-in {
    background-position: -32px -96px;
}

.flag-16.flag-gq {
    background-position: -32px -80px;
}

.flag-16.flag-ph {
    background-position: -144px -160px;
}

.flag-16.flag-ar {
    background-position: -144px 0;
}

.flag-16.flag-hk {
    background-position: -128px -80px;
}

.flag-16.flag-bn {
    background-position: -144px -16px;
}

.flag-16.flag-tz {
    background-position: -128px -208px;
}

.flag-16.flag-sm {
    background-position: -32px -192px;
}

.flag-16.flag-bt {
    background-position: -208px -16px;
}

.flag-16.flag-qa {
    background-position: -32px -176px;
}

.flag-16.flag-et {
    background-position: 0 -64px;
}

.flag-16.flag-tg {
    background-position: -192px -192px;
}

.flag-16.flag-eh {
    background-position: -192px -48px;
}

.flag-16.flag-rw {
    background-position: -112px -176px;
}

.flag-16.flag-dk {
    background-position: -80px -48px;
}

.flag-16.flag-lr {
    background-position: -192px -112px;
}

.flag-16.flag-tn {
    background-position: -32px -208px;
}

.flag-16.flag-id {
    background-position: -208px -80px;
}

.flag-16.flag-jp {
    background-position: -160px -96px;
}

.flag-16.flag-by {
    background-position: 0 -32px;
}

.flag-16.flag-ao {
    background-position: -128px 0;
}

.flag-16.flag-mu {
    background-position: -48px -144px;
}

.flag-16.flag-ua {
    background-position: -144px -208px;
}

.flag-16.flag-ye {
    background-position: -112px -224px;
}

.flag-16.flag-sg {
    background-position: -208px -176px;
}

.flag-16.flag-nl {
    background-position: -224px -144px;
}

.flag-16.flag-gg {
    background-position: -160px -64px;
}

.flag-16.flag-ga {
    background-position: -96px -64px;
}

.flag-16.flag-ru {
    background-position: -96px -176px;
}

.flag-16.flag-cm {
    background-position: -160px -32px;
}

.flag-16.flag-hn {
    background-position: -144px -80px;
}

.flag-16.flag-mg {
    background-position: -112px -128px;
}

.flag-16.flag-ir {
    background-position: -64px -96px;
}

.flag-16.flag-si {
    background-position: -224px -176px;
}

.flag-16.flag-bb {
    background-position: -16px -16px;
}

.flag-16.flag-np {
    background-position: -16px -160px;
}

.flag-16.flag-ps {
    background-position: -208px -160px;
}

.flag-16.flag-bw {
    background-position: -224px -16px;
}

.flag-16.flag-eg {
    background-position: -176px -48px;
}

.flag-16.flag-kp {
    background-position: -32px -112px;
}

.flag-16.flag-ve {
    background-position: -16px -224px;
}

.flag-16.flag-pa {
    background-position: -80px -160px;
}

.flag-16.flag-jm {
    background-position: -128px -96px;
}

.flag-16.flag-rs {
    background-position: -80px -176px;
}

.flag-16.flag-is {
    background-position: -80px -96px;
}

.flag-16.flag-za {
    background-position: -128px -224px;
}

.flag-16.flag-ag {
    background-position: -48px 0;
}

.flag-16.flag-al {
    background-position: -80px 0;
}

.flag-16.flag-ki {
    background-position: -224px -96px;
}

.flag-16.flag-sa {
    background-position: -128px -176px;
}

.flag-16.flag-mc {
    background-position: -64px -128px;
}

.flag-16.flag-ci {
    background-position: -112px -32px;
}

.flag-16.flag-vg {
    background-position: -32px -224px;
}

.flag-16.flag-az {
    background-position: -224px 0;
}

.flag-16.flag-lv {
    background-position: -16px -128px;
}

.flag-16.flag-ae {
    background-position: -16px 0;
}

.flag-16.flag-pw {
    background-position: 0 -176px;
}

.flag-16.flag-md {
    background-position: -80px -128px;
}

.flag-16.flag-lu {
    background-position: 0 -128px;
}

.flag-16.flag-it {
    background-position: -96px -96px;
}

.flag-16.flag-je {
    background-position: -112px -96px;
}

.flag-16.flag-cu {
    background-position: -224px -32px;
}

.flag-16.flag-bo {
    background-position: -160px -16px;
}

.flag-16.flag-co {
    background-position: -192px -32px;
}

.flag-16.flag-pf {
    background-position: -112px -160px;
}

.flag-16.flag-tw {
    background-position: -112px -208px;
}

.flag-16.flag-dz {
    background-position: -128px -48px;
}

.flag-16.flag-mn {
    background-position: -192px -128px;
}

.flag-16.flag-vc {
    background-position: 0 -224px;
}

.flag-16.flag-la {
    background-position: -112px -112px;
}

.flag-16.flag-tc {
    background-position: -160px -192px;
}

.flag-16.flag-er {
    background-position: -208px -48px;
}

.flag-16.flag-st {
    background-position: -96px -192px;
}

.flag-16.flag-tj {
    background-position: -224px -192px;
}

.flag-16.flag-mx {
    background-position: -96px -144px;
}

.flag-16.flag-br {
    background-position: -176px -16px;
}

.flag-16.flag-gr {
    background-position: -48px -80px;
}

.flag-16.flag-ge {
    background-position: -144px -64px;
}

.flag-16.flag-bs {
    background-position: -192px -16px;
}

.flag-16.flag-iq {
    background-position: -48px -96px;
}

.flag-16.flag-sd {
    background-position: -176px -176px;
}

.flag-16.flag-vi {
    background-position: -48px -224px;
}

.flag-16.flag-ht {
    background-position: -176px -80px;
}

.flag-16.flag-dj {
    background-position: -64px -48px;
}

.flag-16.flag-be {
    background-position: -48px -16px;
}

.flag-16.flag-tl {
    background-position: 0 -208px;
}

.flag-16.flag-gi {
    background-position: -192px -64px;
}

.flag-16.flag-gt {
    background-position: -64px -80px;
}

.flag-16.flag-nz {
    background-position: -48px -160px;
}

.flag-16.flag-bh {
    background-position: -96px -16px;
}

.flag-16.flag-ls {
    background-position: -208px -112px;
}

.flag-16.flag-us {
    background-position: -176px -208px;
}

.flag-16.flag-gm {
    background-position: -224px -64px;
}

.flag-16.flag-ni {
    background-position: -208px -144px;
}

.flag-16.flag-jo {
    background-position: -144px -96px;
}

.flag-16.flag-ro {
    background-position: -64px -176px;
}

.flag-16.flag-bj {
    background-position: -112px -16px;
}

.flag-16.flag-am {
    background-position: -96px 0;
}

.flag-16.flag-lk {
    background-position: -176px -112px;
}

.flag-16.flag-no {
    background-position: 0 -160px;
}

.flag-16.flag-gw {
    background-position: -96px -80px;
}

.flag-16.flag-kz {
    background-position: -96px -112px;
}

.flag-16.flag-my {
    background-position: -112px -144px;
}

.flag-16.flag-sb {
    background-position: -144px -176px;
}

.flag-16.flag-cz {
    background-position: -32px -48px;
}

.flag-16.flag-ca {
    background-position: -32px -32px;
}

.flag-16.flag-zm {
    background-position: -144px -224px;
}

.flag-16.flag-mv {
    background-position: -64px -144px;
}

.flag-16.flag-bf {
    background-position: -64px -16px;
}

.flag-16.flag-mo {
    background-position: -208px -128px;
}

.flag-16.flag-to {
    background-position: -48px -208px;
}

.flag-16.flag-gb {
    background-position: -112px -64px;
}

.flag-16.flag-do {
    background-position: -112px -48px;
}

.flag-16.flag-so {
    background-position: -64px -192px;
}

.flag-16.flag-hu {
    background-position: -192px -80px;
}

.flag-16.flag-bg {
    background-position: -80px -16px;
}

.flag-16.flag-fr {
    background-position: -80px -64px;
}

.flag-16.flag-na {
    background-position: -144px -144px;
}

.flag-16.flag-sn {
    background-position: -48px -192px;
}

.flag-16.flag-gy {
    background-position: -112px -80px;
}

.flag-16.flag-ee {
    background-position: -160px -48px;
}

.flag-16.flag-cf {
    background-position: -64px -32px;
}

.flag-16.flag-ad {
    background-position: 0 0;
}

.flag-16.flag-ch {
    background-position: -96px -32px;
}

.flag-16.flag-ly {
    background-position: -32px -128px;
}

.flag-16.flag-hr {
    background-position: -160px -80px;
}

.flag-16.flag-es {
    background-position: -224px -48px;
}

.flag-16.flag-sk {
    background-position: 0 -192px;
}

.flag-16.flag-cv {
    background-position: 0 -48px;
}

.flag-16.flag-sy {
    background-position: -128px -192px;
}

.flag-16.flag-sl {
    background-position: -16px -192px;
}

.flag-16.flag-kg {
    background-position: -192px -96px;
}

.flag-16.flag-ne {
    background-position: -176px -144px;
}

.flag-16.flag-gl {
    background-position: -208px -64px;
}

.flag-16.flag-kh {
    background-position: -208px -96px;
}

.flag-16.flag-dm {
    background-position: -96px -48px;
}

.flag-16.flag-mz {
    background-position: -128px -144px;
}

.flag-16.flag-mh {
    background-position: -128px -128px;
}

.flag-16.flag-gu {
    background-position: -80px -80px;
}

.flag-16.flag-an {
    background-position: -112px 0;
}

.flag-16.flag-cl {
    background-position: -144px -32px;
}

.flag-16.flag-sv {
    background-position: -112px -192px;
}

.flag-16.flag-mt {
    background-position: -32px -144px;
}

.flag-16.flag-km {
    background-position: 0 -112px;
}

.flag-16.flag-om {
    background-position: -64px -160px;
}

.flag-16.flag-bm {
    background-position: -128px -16px;
}

.flag-16.flag-ms {
    background-position: -16px -144px;
}

.flag-16.flag-as {
    background-position: -160px 0;
}

.flag-16.flag-ky {
    background-position: -80px -112px;
}

.flag-16.flag-aw {
    background-position: -208px 0;
}

.flag-16.flag-bd {
    background-position: -32px -16px;
}

.flag-16.flag-mr {
    background-position: 0 -144px;
}

.flag-16.flag-ug {
    background-position: -160px -208px;
}
