$form-input-border: #B7B7B7;
$form-label-text-color: #77777a;
$form-input-text-color: #6A6A6A;


#hablaxApp{
  .hablax-form{
    .list{
      &.label-fix{
        margin-left: -16px;
      }
    }
    .ccform-header{
      padding: 5px;
    }
    .input-label{
      font-size: 12px;
      color: $form-label-text-color;
    }
    .item{
      border: none;

      button{
        &.button-help{
          position: absolute;
          height: 40px;
          width: 20px;
          right: 0;
          min-height: 40px;
          bottom: 5px;
          min-width: 20px;
          text-align: center;
          text-indent: 0;
          padding: 0;
        }
      }

      &.bordered-select{
        border: 1px solid #B7B7B7;
      }
      &.simple-select{
        select{
          width: 100%;
          padding: 0;
          display: block;
          text-align: center;
          left: 0;
        }
      }
      &.item-stacked-label{
        >.icon{
          top: 37px;
          left: 18px;
          font-size: 20px;
        }

        &.item-icon-left{
          >input{
            padding-left: 40px;
          }
        }
        &.item-select{
          .select-container{
            margin: 6px 0 0 0;
            color: #6A6A6A;
            border: 1px solid #B7B7B7;
            height: 34px;
            select{
              width: 100%;
              display: block;
              height: 100%;
              margin: 0;
              padding: 0 20px;
            }
          }
          &:after{
            top: 70%;
          }
        }
      }

      // &.item-select{
      //   margin: 6px 0 0 0;
      //   color: #6A6A6A;
      //   border: 1px solid #B7B7B7;
      //   height: 34px;
      //   select{
      //     width: 100%;
      //     display: block;
      //     height: 100%;
      //     margin: 0;
      //     padding: 0 20px;
      //   }
      //   &:after{
      //     top: 70%;
      //   }
      // }
      input{
        margin-top:6px;
        color: $form-input-text-color;
        font-size: 12px;
        &::place-holder{
          color: $form-input-text-color;
        }
        border: 1px solid $form-input-border;
        &.input-disabled{
          background: #E2E2E2;
        }

        &.valid{
          border: 1px solid $balanced;
        }

        &.invalid{
          border: 1px solid $assertive;
        }
      }

    }
    .buttons-container{
      padding-left: 14px;
    }

    .form-error{
      color: $assertive;
      text-align: center;

      &.text-right{
        text-align: right;
      }
    }


  }

  .hl-error-text {
    background: red;
    margin-bottom: 10px;
    p {
    line-height:12px;
    margin: 0;
    padding: 2px 5px;
    font-weight: lighter;
    font-size: 11px;
    color: #fff;
  }
  p:first-child() {
    padding-top:5px;
  }
  p:last-child() {
    padding-bottom:5px;
  }
  }

  .hl-errorous-input {
    border-color: red !important;
  }


  .hablax-btn{
    height: 34px;
    max-height: 34px;
    min-height: 34px;
    font-size: 14px;
    line-height: 34px;

    &.icon-right{
      &::before{
        line-height: 34px;
      }
    }
  }
}
