.hl-dark-bg {
  background-color: $hl-dark-bg;
}

.hl-no-border {
  border        : none !important;
  -webkit-border: none;
}

.hl-no-padding {
  padding: 0;
}

.hl-light-text {
  color: $hl-light-text-color;
}

.hl-self-center {
  margin : 0 auto;
  display: block;
}

.hl-float-right {
  float: right;
}

.hl-light-weight {
  font-weight: lighter;
}

.hl-text-center {
  text-align: center;
}

.hl-text-justify {
  text-align: justify;
}

.hl-text-left {
  text-align: left;
}

.hl-light-weight {
  font-weight: 100;
}

.hl-color {
  color: #009AFA;
}

.forceupdate-container {
  margin: auto;
  position: absolute;
  max-width: 360px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 200px;
}