//how-it-works Page
#howItWorksPage{

  .slider-pager {
    top:20px;
  }

  // AHSAN WAS HERE

  .hl-hiw-heading{
    font-size: 19px;
  }
  .hl-content{
    .hl-hiw-txt{
      font-size: 16px;
    }
  }





  // AHSAN WAS HERE ENDS
  .hl-hiw-slider {
    // overflow: visible !important;
    height: 100%;
  }

  .hiw .slider-pager {
    .slider-pager-page {
      opacity: 1;
      color    : #fff;
      font-size: 12px;
      margin   : 0 1px;
      .ion-record:before{
          content: "\f3a6";
      }

    }
    .slider-pager-page.active{
      .ion-record:before{
          content: "\f21b";
      }
    }
  }

  .hiw .slider-slides {
    top: 30px;
  }

  .hiw .hl-dashed-circle {
    border         : 3px dashed white;
    width          : 130px;
    height         : 130px;
    border-radius  : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 0 auto;
    margin-top: 60px;
    margin-bottom: 15px;
  }


  .hiw .hl-content {
    text-align: center;
    // margin-top: 15px;
    // max-height: 200px;
    overflow-y: auto;
    // padding: 0 20px;

    i {
      color    : #fff;
      font-size: 30px;
    }

    p {
      // font-size: 12px;
      margin: 0 auto;
      width: 92%;
    }
  }

  .hiw .hl-slide-content {
    margin: 0 auto;
  }

  .hl-curled-button {
    border-radius: 500px;
  }

  .hl-side-bar {
    // height            : 100vh;
    // width             : 100%;
    background-color  : $hl-side-bar-color;
    z-index           : 12;
    // position          : fixed;
    // top               : 0;
    // -webkit-transition: all 0.2s linear;
    // -moz-transition   : all 0.2s linear;
    // -o-transition     : all 0.2s linear;
    // transition        : all 0.2s linear;
    // overflow-x        : hidden;
    // overflow-y        : scroll;
  }

  .hl-side-bar.hl-active-side-bar {
    left: 0 !important;
  }

  .hl-side-bar + .hl-fader {
    width           : 100%;
    height          : 100vh;
    background-color: rgba(0,0,0,.23);
    position        : fixed;
    left            : 0;
    top             : 0;
    z-index         : 11;
    display         : none;
  }

  .hl-active-side-bar + .hl-fader {
    display: block;
  }

  .hl-secondary-bg-color {
    background-color: $hl-secondary-color;
  }

  .hl-secondary-bg-hover:hover {
    background-color: $hl-secondary-hover-color;
  }

  #hiw-img2 {
    background: url(../img/cellphong_topup.png);
    width     : 300px;
    height    : 222px;
  }

  #hiw-img3 {
    background: url(../img/text_message.png);
    width     : 300px;
    height    : 259px;
  }

  #hiw-img4 {
    background: url(../img/ilustracion.png);
    width     : 300px;
    height    : 237px;
  }
  #hiw-hablax-logo{
    background: url(../img/welcome_hablax_logo.png);
    width: 200px;
    height: 200px;
  }
  .img-hiw{
      width: 100%;
      display: flex;
      // align-items: flex-end;
      justify-content: center;
  }
  .img-hiw-welcome{
    //height: 144px;
    margin-top: 35px;
  }
  .img-hiw-screen2{
    // height: 250px;
  }
  .hiw+.bar-footer {
    background-image: none !important;
  }
  .hiw-next{
    position: absolute;
    bottom: 60px;
    text-align: center;
    width: 100%;
  }
  .button-next {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    width: 160px;
  }
  .hiw-skip{
    position: absolute;
    /* Align center */
    width: 80px;
    left:50%;
    transform: translate(-50%, -50%);
    /* ------------ */
    bottom: 25px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }
  .hiw-bottom-p {
    margin-bottom: 30px !important;
  }

}

@media all and (max-height: 480px) {
  #howItWorksPage{
    .hiw{
      .hl-content{
        max-height: 185px;
        padding: 0 20px;
      }
    }
  }
}
@media all and (min-height: 500px) {
  #howItWorksPage{
    .hiw{
      .hl-slide-content{
        margin-top: 20px;
      }
    }
  }
}
