#messagesPage {
  .bar{
    background-image: none;
  }
  h2 {
    font-weight: 700;
    font-size  : 15px;
  }
button{
  border-radius: 0px;
  color: #fff;
}

  .messages-inner-tabs {
    .tabs {
      bottom: 70px;
      color : #009afa;

      .tab-item {
        font-size: 12px;

        .icon {
          font-size   : 22px;
          margin-right: 5px;
        }
      }
    }

    .write-message {
      background-color: #EE9C2B;
      border-right    : 1px solid white;
      text-transform: uppercase;
    }

    .sent-messages {
      background-color: #0177c1;
      border-left     : 1px solid white;
      text-transform: uppercase;
      .message-icon {
        background: url("../img/sprite-how-it-works.png") -10px 244px;
        width     : 21px;
        height    : 35px;
      }
    }
  }
}

#sentMessages {
  .item-content {
    padding-right: 15px;
  }
  .new-message-button {
    font-size: 25px;
    color: #666666;
  }

  .list:last-child {
     margin-bottom: 24px;
  }

  ion-item {
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 80px;
    .read-more{
      display: block;
    }
  .messageDate{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: -6px;
  }
    span {
      color     : $form-label-text-color;
      font-size : 12px;
      margin-top: 10px;
    }
  }


  p {
    margin-right: 0px;
    color: $form-label-text-color;
  }

  .icon {
    font-size: 26px;
    top      : -2px;
    margin: 0 auto;
  }
}
#writeMessage{

  country-fullscreen-select {
    width: 100%;
    height: 30px;
    .input-guide-normal{
      padding-top: 5px;
    }
  }

  .align-normalized {
    margin: 5px 5px 0 5px;
    text-align:center;
  }

  .send-sms-button {
    float: right;
    width: 50px;
  }

  .no-subheader {
    top: 0;
  }

  .contact-sending {
    color: #6b6b6b;
  }

  #txtnotes {
    height: 10px;
  }

  .chat-box {
    position: absolute;
    background-color: white;
    padding: 0 10px 0 10px;
    width: 100%;
  }

  .frame-text-message {
    border: 1px solid #e2e2e2;
    width: 100%;
    display: flex;
    border-radius: 5px;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 11px solid #e2e2e2;
  }

  .message-box-group {
    margin-top: 10px;
  }

  .message-box {
    color: #585858;
    background-color: #e2e2e2;
    padding: 15px;
    text-align: right;
  }

  .message-time {
    width: 100%;
    text-align: right;
    color: #585858;
  }

  .message-date {
    width: 100%;
    color: #585858;
  }

  .message-send {
    color: #009afa;
    margin-top:5px;
    margin-left: -8px;
    font-size:12px;

  }

  .message-rate {
    color: #009afa;
  }

  .message-count {
    float: right;
    color: #009afa;
  }

  .row-nearer {
    margin-top: -10px;
    margin-bottom: -10px;
  }

  .message-input {
    width: 100%;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 0;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 5px;
  }

  .messages-top {
    top: 44px;
    padding-left: 0px;
  }

  .message-border-bot {
    border-bottom: 1px solid #ccc;
  }

  .content-history {
    margin-bottom: 70px;
  }

  .messages-inner-tabs {
    .tabs {
      bottom: 66px;
      color: #009afa;

      .tab-item {
        max-width: 100%;
        font-size: 12px;

        .icon {
          font-size: 22px;
          margin-right: 5px;
        }
      }
    }
  }

  .divider {
    width:50%;
    border-bottom: 1px solid #ccc;
  }

  .divider-on-top {
    width:100%;
    border-bottom: 1px solid #ccc;
    margin: 0px 0px -5px 0px;

  }

  .question-img {
    margin-left: 10px;
  }

  .contact-img {
    margin-right:10px;
  }

  .send-img {
    margin: 0 10px 5px 10px;
    position: absolute;
    bottom: 0;
  }

  .label-messages {
    width: 100%;
    //margin-left: 10px;
    color: #6b6b6b;
    display: inline-flex;
    margin-right: 10px;
  }

  .phone-number-enter {
    margin-left: 7px;
    margin-right: 10px;
    width: 100%;
    color: #6b6b6b;
  }

  .divider-inside {
    color: #585858;
    font-size: 12px;
    min-width: 70px;
    margin: 0px 10px 0px 10px;
  }

  .menu-icon {
    width: 35px;
    height: 35px;
    margin-left: 6px;
    margin-top: 3px;
    img {
      width: 100%;
      height: 100%;
      filter: invert(1);
      -webkit-filter: invert(1);
    }
  }

  .top-contact {
    padding: 10px 10px 10px 10px;
  }

  .top-label {
    width: auto;
  }

  .writeMessage-main-content{
        padding: 10px 30px 0px 30px;
    .item-input{
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
    }
    .message-details-heading,.message-details-content,select,.input-label{
      color:#bd362f;
    }
    .message-details-content{
      .input-label{
        padding: 0;
      }
      .message-count{
        float: right;
        font-size: 11px;
      }
      .message-count+.list{
        clear: both;
      }
      .item{
        &.item-select{
          select{
            direction: ltr;
            color: black;
          }
        }
      }
      .list{
        margin:0;
      }
      .message-ins{
        font-size: 11px;
        color: #009afa;
        text-decoration:underline;
        margin-top: 6px;
        margin-bottom: 0;
      }
      textarea{
        resize: none;
        height: 100px;
      }
    }
    .number-circle{
      // background-color: $hl-dark-bg;
      background: $balanced;
      color: #fff;
    }
    .message-margin-row{
      margin-bottom: 25px;
    }
  }

}
.popup-head{
  background: #009afa;
}
h3.popup-title{
  color: #fff;
}
.item p{
  overflow: visible;
  white-space: normal;
}
