#profilePage{

  .heading-container{
    padding: 20px 0;
    .title{
      font-size: 14px;
      color: #717171;

    }
  }
  .hablax-form{
    .item{
      input{
        &.customer-number{
          font-weight: 500;
          color: black;
        }
      }
    }
    .number-disabled{
      color: black !important;
    }
  }
  .profile-main-content{
    padding: 20px 40px 30px 40px;
  }
  .saved-cards-divider{
    margin-top: 20px;
    padding-right: 0;
    padding-left: 0;
    background: none;
    border: none;
    .saved-cards-heading{
      background: $positive;
      text-align: center;
      height: 30px;
      color: white;
      line-height: 30px;
    }
  }
  .no-saved-card-content{
    padding-left: 15px;
    text-align: center;
    margin-top: 10px;
  }
  .cards-list{
    padding-bottom: 30px;
  }
}
