#hablaxApp{
  .call-rates-page,.sms-rates-page,.recharge-rates-page{
    .input-label {
      width: inherit;
    }

    .container{
      padding: 20px;

      .row{
        padding: 0px;

      }
      .call-rates-title{
        color: $form-label-text-color;
        font-size: 16px;
      }
      .service-item{
        &.button-icon{
          &::before{
            font-size: 40px;
          }
          font-size: 12px;
        }
      }

      .list{
        .item{
          .currencyTitle{
            font-size: 12px;
            color: $form-label-text-color;
            margin-top: 16px;
          }
          .input-label{
            color: $form-label-text-color;
          }
          &.item-select,&.item-input{
            padding-left: 0;
            select{
              direction: ltr !important;
              width: 100%;
              text-align-last: center;
              max-width: 100%;
              padding: 0 16px;
            }
          }
          &.currency-select {
            .input-label{
              position: relative;
              top: -3px;
            }
          }
          .inputPrice{
                padding-bottom: 12px;
          }
          &.item-select{
            margin: 0 0 0 0;
            color: #6A6A6A;
            border: 1px solid #B7B7B7;
            height: 44px;
            select{
              // width: 10%;
              display: block;
              // direction: ltr;
              direction: rtl;
              height: 100%;
              margin: 0;
              color: black;
              // padding: 0 20px;
            }

            .countrySelect,.currencySelect{
                // color: rgba(255,255,255,0);
              option{
                color: #6a6a6a;
              }
            }
            .input-label{
              padding-left: 10px;
              // width: 70%;
                  color: #cac7c7;
              .countryName{

                padding-left: 7px;
                position: absolute;
                top: 10px;
              }
            }

            &:after{
              top: 50%;
            }
          }
          &.itemCurrency{
            margin: 0px;
          }
          &.currencyTitleItem{
            padding-left: 0px;
            padding-bottom: 10px;
            margin: 0;
          }
          &.currencyTitleItem+.item{
            margin: 0;
          }
          div.input-border-green{
              border: 1px solid #87cc0c;
              color: #87cc0c;
              padding: 10px;
              text-align: center;

          }
        }
      }
    }
  }
}

.recharge-rates-page{
  button.service-item{
    max-height: 80px;
  }
  .step3{
    .flag-icon-cont{
      position: absolute;
      width: 80px;
      left: 0;
      top: 18px;

      span{
        top: 3px !important;
        left: 44px !important;
        font-size: 15px;
      }
    }
    .item.item-flag-input{
      .flag{
        margin-top: 8px;
        height: 34px;
      }
      .flag-icon{
        max-width: 24px;
      }
      .country_code{
        left: 30px;
        top: 0px;
        position: relative;
        color: #333;
      }
      input{
        padding-left: 80px !important;
        font-size: 15px !important
      }
    }
  }
}

#ratesPage {
  .tab-item.active {

    background-color: #F0F1F2 !important;
    color: black;
  }
}

#ratesPage_redesign {
  color: white;

  .world-background {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .rate-input {
   
    margin: auto;

    .first-title {

    }

    .second-title {
      text-transform: uppercase;
    }

    .input-search-phone {
      width: 100%
    }

    .button-search-phone {
      width: 100%
    }

    .group_control {
      width: 200px;
      margin: auto;
    }
  }

  .rate-content {
    .item-rate {
      margin: auto;
      min-height: 100px;
      width: 200px;
      background: rgba(255, 255, 255, 0.3);

      img {
        margin-top: 5px;
      }
    }
  }
}

.platform-ios{
  &#hablaxApp{
    .call-rates-page,.sms-rates-page,.recharge-rates-page{
      .container{
        .list{
          .item{
            &.item-select,&.item-input{
              select{
                // max-width: auto;
                // padding: 0 !important;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.platform-android{
  &#hablaxApp{
    .call-rates-page, .sms-rates-page, .recharge-rates-page{
      .container{
        .list{
          .item{
            &.item-select,&.item-input{
              select{
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
