.news-view {
  padding: 5px 20px 5px 20px;
 }

.news-view h5 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.news-view h4 {
  margin: 0!important;
}

.bg-secondary {
  background-color: $hl-secondary-color;
}

.recharge-heading {
  color        : $form-input-text-color;
  text-align   : center;
  font-size    : 16px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.recharge-details-heading {
  color: $form-label-text-color;
  font-size: 16px;
  margin-left: 6px;

}

.recharge-details-content {
  button {
    margin-top: 45px !important;
    color: #fff;
  }
}

.group-country-code {
  background-color: #E8F0F2;
}

.recharge-ins {
  float    : right;
  font-size: 11px;
  color    : $hl-dark-bg;
}

.recharge-main-content {
  padding: 10px 30px;

  .column-padding {
    padding: 10px;
  }

  button {
    border-radius: 0 !important;
  }
  .button.icon-right:before{
    padding: 6px;
    margin-top: 0;
    line-height: 15px;
  }
}

.recharge-main-content .hablax-form {
  .list {
    margin-top: 0;
  }

  .item {
    padding-left: 0;

    input {
      padding-left  : 10px;
      padding-top   : 5px;
      padding-bottom: 5px;
      font-size     : 14px;
      height        : 40px;
    }

    &.item-checkbox{
      padding-left: 42px;
      .item-content{
        position: absolute;
        top: 9px;
        left: 30px;
      }
      .checkbox input:checked:after, input:checked + .checkbox-icon:after {
          border-color: black;
      }
    }
  }

  i {
    font-size: 20px;
    right    : 2px;
    top      : 3px;
  }
}

.number-circle {
  position       : relative;
  top            : 6px;
  border-radius  : 50%;
  width          : 30px;
  height         : 30px;
  background     : lightgrey;
  display        : flex;
  align-items    : center;
  justify-content: center;
  font-size      : 16px;
  color          : rgba(0,0,0,0.6);
  border         : 1px solid rgba(0,0,0,0.1);
  font-weight    : bolder;
  border-color   : transparent;
}

.recharge-type-content {
  .sent-btn {
    margin-bottom: 35px !important;
  }

  .recharge-icon-div {
    margin         : 15px 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  .recharge-icon-wrapper {
    width          : 125px;
    height         : 125px;
    border         : 1px solid black;
    font-size      : 60px;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  #recharge-icon {
    background: url("../img/sprite-how-it-works.png") -606px -12px;
    width     : 70px;
    height    : 70px;
  }
}

.recharge-bottom-nav {
  margin-top: 20px;

  button {
    font-size       : 12px;
    line-height     : 15px;
    height          : 100px;
    padding-right   : 5px;
    border-bottom   : 4px solid #74cf15;
    background-color: #e3e3e3;
  }
}

#rechargePage, .recharge-rates-page{
  .step2{
    .service-item{
      &.button-icon{
        &::before{
          font-size: 40px;
        }
        font-size: 12px;
      }
    }
  }

  .step3{

    .contacticon {
      width:20px;
      height:35px;
      font-size: 26px;
    }

    .contact-select {
      color: #6b6b6b;
      width:40px;
      height:34px;
    }

    .item.item-flag-input{
      .flag{
        margin-top: 8px;
        height: 34px;
      }
      .flag-icon{
        max-width: 24px;
      }
      .country_code{
        left: 30px;
        top: 0px;
        position: relative;
        color: #333;
      }
      input{
        padding-left: 40px;
        font-size:100%;
        position:relative;
      }
    }
  }

.platform-ios {
  .step3 {
    input {
      padding-top: 0;
      top:0px;
    }
  }
}

  .step5{
    .cart-headings{
      padding: 0;
      background: #eee;
      .col, .col-20{
        padding: 0;
        border: 1px solid #dcdcdc;
        border-bottom: none;
      }
    }
    .item{
      &.collapsible-item{
        padding-top: 4px;
        padding-bottom: 4px;
        .flag-icon{
          width: 32px;
        }
        .delete-btn{
          height: 28px;
          width: 28px;

          &::before{
            font-size: 28px;
          }
        }
      }
    }
    .cart-item{
      padding: 0;
      background: #dcdcdc;
      .col, .col-20{
        padding: 0;
        border: 1px solid #dcdcdc;
      }
      // .col{
      //   border: 1px solid #333;
      // }
    }
  }

  .step6{
    .image-container{
      text-align: center;
      // background: #eee;
      // padding: 10px 10px 4px 10px;
      .img{
        // max-width: 240px;
        max-width: 100%;
      }
    }
  }

  .total-container{
    padding: 0 10px;
  }

  .number-circle{
    background: $balanced;
    color: white;
    position: relative;
    top: 10px;
  }

  .item{
    &.item-select{
      height: 45px;
      select{
        direction: ltr;
      }
    }
    &.item-select.item-select-simple{

      margin-top: 6px;
      color: #6A6A6A;
      font-size: 12px;
      border: 1px solid #B7B7B7;
      select{
        max-width: 100%;
        direction: ltr;
        left: 20px;
      }
    }
  }

  .input-label[for='expMonth']{
    width: auto;
  }

  .button{
    &.btn-help{
      &::before{
        margin-right: 10px;
      }
    }
    &.button-pay{
      font-size: 14px;
      // line-height: 1.4;
    }
  }
}


#rechargePage {
  .select-input-inline {
    padding: 0;
  }

  .input-select-a {
    display: block;
    padding-right: 5px;
    width: inherit !important;
  }

  .input-select-a-normal {
    width: 56px !important;
  }

  .normalize-inline {
    padding: 0;
    display: flex;
    height: 100%;
  }

  .item-float-left {
    float: left;
  }
  .select-input-inline {
    .country-code-wrap {
      height: 35px;
      .country-code-label {
        padding: 6px 5px 0 5px;
      }
    }
  }


  .country-code-wrap {
    padding: 0;
    height: 49px;
    .country-code-label {
      height: 100%;
      font-size: 16px !important;
      background-color: #E8F0F2;
      padding: 13px 5px 0 5px;
    }
  }

  .inline-input-select-country {
    padding-left: 20px !important;
  }

  .select-phonenumber-label {
    font-size: 16px !important;
    color: #444;
  }

  .country-select-label {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    padding-left: 60px;
    height:20px; /* Assign a value */
    margin:auto;
  }

  .input-label {
    width: 45px;
  }

  .input-select-c {
    float: left;
    width: 100%;
    display: block;
    height: initial;
    padding-left: 10px;
  }

  .align-contact-select {
    margin: 10px 3px 0 0;
  }
}
