.hl-responsive-container {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (max-width: 340px) {
  .hl-responsive-container {
    width: 98%;
  }
}

@media only screen and (min-width: 540px) {
  .hl-responsive-container {
    width: 340px;
  }
}
