@keyframes call_flash {


  0%  {
    background-color: #333;

  }

  20%   {background-color: $balanced; }


  60% {background-color: #333;}
  80% {background-color: $balanced;}
  100% {background-color: #333;}


  // 0%   {color: $assertive !important; }
  //
  // 50%  {color: $balanced !important;}
  //
  // 100% {color: $assertive !important;}
}



#tabsPage{



  .hl-show-name {
    .title {
      left: 0 !important;
      right: 0 !important;
      position: initial;
      margin-right: 100px;
      height: initial;
      white-space: initial;

      .nav-bar-title {
        vertical-align: top;
        display: flex;
        .short-logo-img {
          max-height: 36.06px;
        }
        .contact-name-cap {
          //margin-bottom: 10px;
          height: 40px;
          vertical-align: inherit;
          font-size: 20px;
          line-height: 16px !important;
          display: table !important;
          .contact-name-text {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }

    }
  }


  .hl-tabs {
    position: absolute;
    bottom: 0px;
    background-color: #444444;
    padding: 0;
    height: 50px;

    .row{
      padding: 0;
    }
    .hl-tabs-item{
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 0;
      a{
        color: white;
        font-size: 9px;
        text-decoration: none;
        display: block;
        height: 100%;
        i{
          display: block;
          width: 100%;
        }
      }
      .active{
        border-top: solid #009AFA 2px;
        color: #009AFA;
        //color: #355569;
      }
    }
  }


  .tabs-fixed {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;

  }

    .on-call-btn{
    margin-left: 10px;
    animation-name: call_flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    color: white;
    width: 34px;
    &::before{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: inherit;
    }
  }
  .menu-icon{
    width: 22px;
  height: 22px;
margin-bottom: 3px;
  margin-top: 5px;
  font-size: 21px;
    img{
      width: 100%;
      height: 100%;
      filter: invert(1);
      -webkit-filter: invert(1);
//       -webkit-mask: url(../img/tabs/dial-01.svg);
// -webkit-mask-size: cover;
// mask-size: cover;
// background-color: red;
    }
  }
  .main-tabs a.tab-item{
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
  }
  .main-tabs a.tab-item.active{
    color: rgba(0, 154, 250, 0.4);
    opacity: 1;
    .menu-icon img{
      filter: invert(0);
      -webkit-filter: invert(0);
      fill:rgba(0, 154, 250, 0.4);
    }
  }
}

.platform-ios {
  #hablaxAppDrawer{
    .has-status-bar {
      margin-top: 20px;
    }
  }
}

#hablaxAppDrawer{

  .app-version {
    text-align: right;
    color: white;
    //padding-right: 20px;
    font-size: 12px;
    float: right;
    text-transform: initial;
  }

  .row-distance{
    padding: 0px;
    margin-top: 0px;
  }
  .row{
    select {
      width: 100%;
    }
    .menu-icon{
      width:100%;
      margin-left: 0px;
      margin-top: 0px;
      img{
        width:initial;
        display: block;
        margin: 0 auto;
      }
    }

    .item{
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 45px;
      white-space: normal;
      text-align: center;
      .icon {
        padding-left: 0px;
        left: 0px;
      }
    }
  }
  .menu-icon{
    width: 35px;
    height: 35px;
    margin-left: 6px;
    margin-top: 3px;
    img{
      width: 100%;
      height: 100%;
      filter: invert(1);
      -webkit-filter: invert(1);
    }
  }

  .icon-glyphter {
    display: block;
    padding-top: 5px;
  }

  .rechargeicon{
    font-size: 30px;
  }
}
/* Generated by Glyphter (http://www.glyphter.com) on  Sat Nov 26 2016*/
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='iconM-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.iconM-dial-01:before{content:'\0041';}
.iconM-contacts-01:before{content:'\0042';}
.iconM-menu-01:before{content:'\0043';}
.iconM-messages-01:before{content:'\0044';}
.iconM-recharges-01:before{content:'\0045';}

.iconM-recharges-02:before{content:'\0045';}


/* Generated by Glyphter (http://www.glyphter.com) on  Fri Sep 01 2017*/
@font-face {
  font-family: 'hablax menu';
  src: url('../fonts/hablax-menu.eot');
  src: url('../fonts/hablax-menu.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hablax-menu.woff') format('woff'),
  url('../fonts/hablax-menu.ttf') format('truetype'),
  url('../fonts/hablax-menu.svg#hablax-menu') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='iconH-']:before{
  display: inline-block;
  font-family: 'hablax menu';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.iconH-customersupport-01:before{content:'\0041';}
.iconH-termsandconditions-01:before{content:'\0042';}
.iconH-rates-01:before{content:'\0043';}
.iconH-paymenthistory:before{content:'\0044';}
.iconH-howitworks-01:before{content:'\0045';}
.iconH-aboutus-01:before{content:'\0046';}
.iconH-changelanguage-01:before{content:'\0047';}
.iconH-addfundsforcalls-01:before{content:'\0048';}
.iconH-callhistory-01:before{content:'\0049';}