#validationPage{

  .didnt-get-code-group {
    text-align:center;
  }

  .code-sent-group {
    display: block;
    text-align:center;
    margin-bottom: 30px;
  }

  .code-sent-text {
    color: white;
  }

  .rescue {
    text-align: right;
  }

  .validate-phone-container{
    margin: auto;
    position: absolute;
    max-width: 360px;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .hl-responsive-container{
    margin-top: 30px;
    width : 100%;
  }
  .already-text {
      line-height: 30px;
  }

  select{
    direction: ltr;
    max-width: 75%;
    width: 75%;
  }
 select.ng-pristine.ng-untouched.ng-valid.ng-empty{
   width: 100%;
   max-width: 100%;
 }

}
