
<form name="ccForm" class="hablax-form epic-card-payment col" ng-submit="epicCardCtrl.makeCardPayment()">
  <div class="ccform-header">
    <div class="image-container">
      <img class="img img-responsive" src="img/cards.png">
    </div>
    <div class="mode-selector row no-padding" ng-show="epicCardCtrl.cards.length>0">
      <div class="col text-center">
        <button type="button" class="button button-icon ion-card" ng-click="epicCardCtrl.useSavedCard();" ng-class="{'button-positive button-clear':epicCardCtrl.card.mode==epicCardCtrl.cardModes.SAVED_CARDS}"></button>
        <p class="" ng-class="{'positive':epicCardCtrl.card.mode==epicCardCtrl.cardModes.SAVED_CARDS}">{{'Saved Card' | translate}}</p>
      </div>
      <div class="col text-center">
        <button type="button" class="button button-icon ion-plus" ng-click="epicCardCtrl.useNewCard();" ng-class="{'button-positive button-clear':epicCardCtrl.card.mode==epicCardCtrl.cardModes.NEW_CARD}"></button>
        <p class="" ng-class="{'positive':epicCardCtrl.card.mode==epicCardCtrl.cardModes.NEW_CARD}" >{{'New Card' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="row no-padding" ng-if="epicCardCtrl.card.mode==epicCardCtrl.cardModes.SAVED_CARDS">
    <div class="col" style="text-align: left;">
      <label for="savedCard" class="input-label full-width" style="width: 100%; float:left;">{{'Select Your Card' | translate}}</label>
      <div class="item item-select bordered-select">
        <select id="savedCard" ng-model="epicCardCtrl.card.selectedCard" ng-options="card.value['0'] for card in epicCardCtrl.cards">
          <option value="" selected="">{{'Select' | translate}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" ng-if="epicCardCtrl.card.mode==epicCardCtrl.cardModes.NEW_CARD">
    <div class="col" style="text-align: left;">
      <div class="row no-padding">
        <div class="col" style="text-align: left;">
          <div class="item item-stacked-label item-input">
            <label style="float:left;" for="cardNumber" class="input-label">{{'Card_Number' | translate}}</label>
            <input type="tel" maxlength="16" ng-class="{'valid':ccForm.ccNumber.$valid,'invalid': ccForm.ccNumber.$error.ccNumber  && ccForm.ccNumber.$dirty}" class="form-control text-center" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="epicCardCtrl.card.number" required="">
          </div>
        </div>
      </div>
      <div class="row no-padding">
        <div class="col" style="text-align: left;">
          <label style="float:left;" for="expMonth" class="input-label expanding">{{'Expiration' | translate}}</label>
        </div>
      </div>
      <div class="row no-padding" cc-exp>
        <div class="col" style="text-align: left;">
          <div class="item item-select bordered-select">
            <select placeholder="MM" id="expMonth" ng-model="epicCardCtrl.card.month" ng-options="mn.month for mn in epicCardCtrl.cardMonths track by mn.month">
              <option value="">- {{'ChooseStart' | translate}} -</option>
            </select>
          </div>
        </div>
        <div class="col" style="text-align: left;">
          <div class="item bordered-select item-select ">
            <select ng-model="epicCardCtrl.card.year" id="expYear" ng-options="yr.year for yr in epicCardCtrl.cardYears track by yr.year">
              <option value="">- {{'ChooseEnd' | translate}} -</option>
            </select>
          </div>
        </div>

      </div>
      <div class="row no-padding">
        <div class="col" style="text-align: left;">
          <div class="item item-stacked-label item-input">
            <label for="cvc" class="input-label" style="float:left;">{{'CVC' | translate }}</label>
            <input type="tel" maxlength="4" ng-class="{'valid':ccForm.ccCvc.$valid,'invalid': ccForm.ccCvc.$invalid  && ccForm.ccCvc.$dirty}" class="form-control  text-center" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="epicCardCtrl.card.cvc" required>
            <button type="button" class="button button-help button-positive" ng-click="epicCardCtrl.cvcHelp()">?</button>
          </div>
        </div>
        <div class="col" style="text-align: left;">
          <div class="item item-stacked-label item-input">
            <label for="postal-code" class="input-label" style="float:left;">{{'Postal_Code' | translate}}</label>
            <input type="text" class="form-control" id="postal-code  text-center" ng-class="{'valid':ccForm.ccPostal.$valid,'invalid': ccForm.ccPostal.$error.ccNumber  && ccForm.ccPostal.$dirty}" name="ccPostal" ng-model="epicCardCtrl.card.postalCode" required>
            <button type="button" class="button button-help button-positive" ng-click="epicCardCtrl.zipHelp()">?</button>
          </div>
        </div>
      </div>
      <div class="platform-android hl-checkbox-transparent">
        <ion-checkbox ng-model="epicCardCtrl.card.remember" class="">{{'Save_card' | translate}}</ion-checkbox>
      </div>
    </div>
  </div>
  <button class="button button-block col button-energized" type="submit" ng-disabled="ccForm.$invalid || (epicCardCtrl.card.mode=='saved' && !epicCardCtrl.card.selectedCard)">{{'Pay_Now' | translate}}</button>

</form>
